---

meta :
    author      : "DryKISS"
    description : "Facebook save button - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Facebook save button - CodeBlender"
    type        : "website"

heading :
    title : "Facebook comment"

see :
    - - "Facebook comment"
      - "https://developers.facebook.com/docs/plugins/save"

---

-# Default
:ruby
    code = %{codeBlender "comment", "social/facebook/comment"}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }
