---
author       : "Ian Warner"
description  : "Bootstrap Collapse Partial"
layout       : "site/page"
small        : "http://getbootstrap.com/javascript/#collapse"
title        : "Bootstrap Collapse Partial"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/bootstrap"

see :
    - - "Bootstrap Collapse"
      - "http://getbootstrap.com/javascript/#collapse"

todo :
    - - "Make the whole section a link"
      - "Collapse"
      - "2014-02-12"
    - - "Change H4 Tags to partials"
      - "Collapse"
      - "2014-02-12"
---

-# Default
= partial "bootstrap/javascript/collapse"

-# Code
:code
    #lang: ruby
    = partial "bootstrap/javascript/collapse"