-##
-# Google custom search navbar form element
-#
-# Locals
-#
-# @Usage
-# -# Search Google
-# = partial "molecule/search/searchNavbar.haml"
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    https://www.google.com/cse/all
-# @see    http://getbootstrap.com/components/#navbar
-#
-# @todo   Use the partial form elements
-# @todo   Search bar should not just be for navbar
-# @todo   Bring in the results via AJAX probably
-# @todo   Localise this partial
-# @todo   There are two search folders and partials sort this out
-##

-# Search
%form.navbar-form.navbar-right{ action: "/search.html", role: "search" }

    -# Input
    = partial "atom/input/input.haml",
               locals: { icon:  { prepend: "fa-search" },
                                  input: { inputGroupClass: "input-group", name: "q", placeholder: "Search" },
                         label: { title: "Search", extraClass: "sr-only" } }

    -# Button
    = partial "atom/button/button.haml", locals: { text: "Search" }