-##
-# Tip the Web Button
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Tip the Web Button
= link_to( "Tip", "http://tiptheweb.org/tip/", :class => "ttw-button ttw-button-large" )

-# JavaScript
:javascript
    (function (window, document) {
        var ref = document.getElementsByTagName('script')[0],
            script = document.createElement('script'),
            secure = window.location.protocol === 'https:';
        script.async = true;
        script.src = secure ? 'https://secure-platform.tiptheweb.org/tip/button.js'
                            : 'http://platform.tiptheweb.org/tip/button.js';
        ref.parentNode.insertBefore(script, ref);
    }(this, this.document));