---

<<<<<<< HEAD
meta :
    description : "Radio input - CodeBlender"
    title       : "Radio input - CodeBlender"

heading :
    title : "Radio input"
=======
description : "Radio input"
title       : "Radio input"
>>>>>>> updates

todo :
    - - "Complete more examples"

---

%p Radio input
