---

meta :
    author      : "DryKISS"
    description : "Radio input - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Radio input - CodeBlender"
    type        : "website"

heading :
    title : "Radio input"

todo :
    - - "Complete more examples"

---

%p Radio input
