---

meta :
    description : "Radio input - CodeBlender"
    title       : "Radio input - CodeBlender"

heading :
    title : "Radio input"

todo :
    - - "Complete more examples"

---

%p Radio input
