-##
-# Google Tag Manager
-#
-# @usage
-# -# Google Tag Manager
-# = codeBlender "tag-manager", "social/google/tag-manager"
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category social
-##

<!-- Google Tag Manager in head -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TFVTV8Q');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) after opening body -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFVTV8Q"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->