---

meta :
    author      : "DryKISS"
    description : "Facebook facepile - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Facebook facepile - CodeBlender"
    type        : "website"

heading :
    small : "https://developers.facebook.com/docs/plugins/facepile"
    title : "Facebook facepile"

see :
    - - "Facebook facepile"
      - "https://developers.facebook.com/docs/plugins/facepile"

todo :
    - - "Push the version into the config"
    - - "Sort out the local for this and the channel file"
---

-# Default
:ruby
    code = %{partial "social/facebook/facepile/facepile.haml"}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }