//
// Blog Detail
//
// @usage
// @import "~molecule/detail/_detail";
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category molecule
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module : 'blogDetail';

// Blog Detail
//----------------------------------------------------------------------------//
.#{ $module } {

    border-top    : 1px solid #9B9B9B;
    padding-top   : 8px;
    margin-bottom : 20px;

    // Details
    //------------------------------------------------------------------------//
    &__details {

        margin-bottom : 8px;

        // Icons
        //--------------------------------------------------------------------//
        .fa {
            color        : $gray-light;
            margin-right : 5px;
        }

        // List
        //--------------------------------------------------------------------//
        li {
            margin-right : 5px;
        }
    }

    // Author
    //------------------------------------------------------------------------//
    &__author {
        color : $brand-primary;
        &:hover {
            color : #828585;
        }
    }

    // Tags
    //------------------------------------------------------------------------//
    &__tags {

        border-bottom : 1px solid #9B9B9B;
        padding       : 0 0 10px;

        // Tag
        //--------------------------------------------------------------------//
        & .#{ $module }__tag {
            display        : inline-block;
            border-radius  : 0;
            margin-bottom  : 5px;
            margin-right   : 8px;
        }
    }

    // Social
    //------------------------------------------------------------------------//
    &__social {

        border-bottom : 1px solid #9B9B9B;
        padding       : 8px 0;

        span {
            margin-right   : 20px;
            vertical-align : middle;
        }

        a {
            color           : $brand-primary;
            text-decoration : none;
            &:hover{
                color : #E4E3E3;
            }
        }

        & .#{ $module }__shareText {
            color : #000;
        }
    }

}
