//
// Blog Detail
//
// @usage
// @import "~molecule/detail/_detail";
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category molecule
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module : 'blogDetail';

// Blog Detail
//----------------------------------------------------------------------------//
.#{ $module } {

    border-top    : 1px solid #9B9B9B;
    padding-top   : 8px;
    margin-bottom : 20px;

    // Details
    //------------------------------------------------------------------------//
    &__details {

        margin-bottom : 8px;

        // Icons
        //--------------------------------------------------------------------//
        .fa {
            color        : $gray-light;
            margin-right : 5px;
        }

        // List
        //--------------------------------------------------------------------//
        li {
            margin-right : 5px;
        }

    }

    // Author
    //------------------------------------------------------------------------//
    &__author {
        color : $brand-primary;
    }

    // Tags
    //------------------------------------------------------------------------//
    &__tags {

        border-bottom : 1px solid #9B9B9B;
        padding       : 6px 0;

        // Tag
        //--------------------------------------------------------------------//
        & .#{ $module }__tag {
            margin-right   : 5px;
            vertical-align : text-top;
        }

    }

    // Social
    //------------------------------------------------------------------------//
    &__social {

        border-bottom : 1px solid #9B9B9B;
        padding       : 8px 0;

        span {
            color          : $brand-primary;
            margin-right   : 20px;
            vertical-align : middle;
        }

        a {
            text-decoration : none;
        }

    }

}
