//
// Blog Detail
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Blog Detail
//----------------------------------------------------------------------------//
.blogDetail {

    border-top    : 1px solid $gray-lighter;
    border-bottom : 1px solid $gray-lighter;
    padding       : 10px 0;
    margin        : 10px 0;

    // Tags
    //------------------------------------------------------------------------//
    &__tags {
        margin-top : 5px;
    }

    // Tag
    //------------------------------------------------------------------------//
    &__tag {
        margin-right : 5px;
    }

}