---
author       : "Ian Warner"
description  : "Indicate the current page's location within a navigational hierarchy."
layout       : "site/page"
small        : "http://getbootstrap.com/components/#breadcrumbs"
title        : "Bootstrap Breadcrumbs Partial"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/bootstrap"

list :
    - text   : "Home"
      url    : "/"
    - text   : "Bootstrap"
      url    : "/bootstrap"
    - active : true
      text   : "Breadcrumbs"

see :
    - - "Bootstrap Breadcrumbs"
      - "http://getbootstrap.com/components/#breadcrumbs"

todo :
    - - "Add optional home icon to the left hand side"
      - ""
      - "2014-02-12"
    - - "Optional actions menu on the right hand side - print - pdf - download etc"
      - ""
      - "2014-02-12"
---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :type => "h2" }

-# Breadcrumbs
= partial "bootstrap/components/breadcrumbs",
           :locals => { :array => data.page.list }

-# Code
:code
    #lang: ruby
    = partial "bootstrap/components/breadcrumbs"