---
author       : "Ian Warner"
description  : "Bootstrap Label Partial"
layout       : "site/page"
small        : "http://getbootstrap.com/components/#labels"
title        : "Bootstrap Label Partial"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/bootstrap"

see :
    - - "Bootstrap Labels"
      - "http://getbootstrap.com/components/#labels"
---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :type => "h2" }

-# Label
= partial "bootstrap/components/label",
           :locals => { :content => "Default" }

%br
%br

-# Code
:code
    #lang: ruby
    = partial "bootstrap/components/label",
               :locals => { :content => "Default" }