---
author       : "Ian Warner"
description  : "Abstract object styles for building various types of components
                (like blog comments, Tweets, etc) that feature a left- or
                right-aligned image alongside textual content."
layout       : "site/page"
small        : "http://getbootstrap.com/components/#media"
title        : "Bootstrap Media Partial"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/bootstrap"

see :
    - - "Bootstrap Media"
      - "http://getbootstrap.com/components/#media"
---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :type => "h2" }

-# Media
= partial "bootstrap/components/media"

-# Code
:code
    #lang: ruby
    = partial "bootstrap/components/media"