---

<<<<<<< HEAD
meta :
    description : "Table - CodeBlender"
    title       : "Table - CodeBlender"

heading :
    title : "Table"
=======
description : "Table"
title       : "Table"
>>>>>>> updates

datasource :
    column :
        - property : "bookmark"
          label    : "Bookmark"
          sortable : true
        - property : "image"
          label    : "Image"
          sortable : false
        - property : "description"
          label    : "Description"
          sortable : true
        - property : "details"
          label    : "Details"
          sortable : true
    data :
        -
            - "Row 1 Column 1"
            - "Row 1 Column 2"
            - "Row 1 Column 3"
            - "Row 1 Column 4"
        -
            - "Row 2 Column 1"
            - "Row 2 Column 2"
            - "Row 2 Column 3"
            - "Row 2 Column 4"

see :
    - - "Bootstrap table"
      - "http://getbootstrap.com/css/#tables"

todo :
    - - "Document the flags for table data"
    - - "Allow the auto magic to be switched off"
    - - "Fix the context element"
    - - "Example of the data required to use the bootstrap table"
    - - "Use the partial here not in-line"
    - - "Add the ability to throw in an Angular NG-Repeat also - basically map the column names to the expression names"

---

%p
    The table will detect a context { "context" : "info" } element and colour the
    row accordingly. Also any cell that contain http will be linked automatically.

/ -# Default
/ :ruby
/     code = %{codeBlender "table", "molecule", { array: current_page.data.datasource }}

/ -# Code
/ = codeBlender "code", "organism", { code: code, heading: { text: "Default" } }

/ -# Pretty
/ :ruby
/     code = %{codeBlender "table", "molecule", { array:      current_page.data.datasource,
/                                 tableClass: "table-striped table-bordered table-hover table-condensed" }}

/ -# Code
/ = codeBlender "code", "organism", { code: code, heading: { text: "Pretty" } }

/ -# Responsive
/ :ruby
/     code = %{codeBlender "table", "molecule", { array:      current_page.data.datasource,
/                                 responsive: true,
/                                 tableClass: "table-striped table-bordered table-hover table-condensed" }}

/ -# Code
/ = codeBlender "code", "organism", { code: code, heading: { text: "Responsive" } }