---

meta :
    author      : "DryKISS"
    description : "Football venue profile - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Football venue profile - CodeBlender"
    type        : "website"

heading :
    title : "Football venue profile"

todo :

    - - "FE: Want a widget to show a google map for the venue"

    - - "Middleman: Complete the landing and proxy pages for the venues"

    - - "Return the list of venues from the Venues sheet"
    - - "API: How many games played at each venue - should allow to return all or by season, division"

---

Venue profile