//
// Carousel
// Overrides for the Bootstrap Carousel
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category molecule
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module : 'carousel';

// Carousel
// ---------------------------------------------------------------------------//
.#{ $module } {

    // Caption only
    //------------------------------------------------------------------------//
    &__captionOnly {

        .carousel-caption {

            margin   : 0;
            padding  : 0;
            position : initial;

            h3, p {
                margin : 0;
            }
        }

    }

    // Image Width
    //------------------------------------------------------------------------//
    .carousel-inner .img-responsive {
        width: 100%;
    }

    // Indicators
    //------------------------------------------------------------------------//
    .carousel-indicators {
    }

    // Controls
    //------------------------------------------------------------------------//
    .carousel-control {

        // Toggles
        .fa-chevron-left, .fa-chevron-right {
            position : absolute;
            top      : 50%;
            z-index  : 5;
            display  : inline-block;
        }

        .fa-chevron-left {
            left        : 50%;
            margin-left : -10px;
        }

        .fa-chevron-right {
            right        : 50%;
            margin-right : -10px;
        }
    }

    // Caption
    //------------------------------------------------------------------------//
    .carousel-caption {

        h3, p {
            background-color : rgba( 210, 236, 142, 0.9 );
            color            : #000;
            padding          : 3px;
            text-shadow      : none;
        }

    }
}
