---

<<<<<<< HEAD
meta :
    description : "Well - CodeBlender"
    title       : "Well - CodeBlender"

heading :
    title : "Well"
=======
description : "Well"
title       : "Well"
>>>>>>> updates

see :
    - - "Bootstrap well"
      - "http://getbootstrap.com/components/#wells"

---

-# Default
:ruby
    code = %{codeBlender "well", "atom", { text: "Well" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }

-# Large
:ruby
    code = %{codeBlender "well", "atom", { extraClass: "well-lg", text: "Well" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Large" } }

-# Small
:ruby
    code = %{codeBlender "well", "atom", { extraClass: "well-sm", text: "Well" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Small" } }
