---

meta :
    author      : "DryKISS"
    description : "Well - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Well - CodeBlender"
    type        : "website"

heading :
    title : "Well"

see :
    - - "Bootstrap well"
      - "http://getbootstrap.com/components/#wells"

locals :
    - - "text"
      - "string"
      - "required"
      - "Content of the Well"

---

- id = 0

-# Default
:ruby
    code = %{partial "atom/well/well.haml", locals: { text: "Well" }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code, heading: { text: "Default" } }

-# Large
:ruby
    code = %{partial "atom/well/well.haml", locals: { extraClass: "well-lg", text: "Well" }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code, heading: { text: "Large" } }

-# Small
:ruby
    code = %{partial "atom/well/well.haml", locals: { extraClass: "well-sm", text: "Well" }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code, heading: { text: "Small" } }