---

description : "Mailchimp"
title       : "Mailchimp"

see :
    - - "Mailchimp"
      - "http://mailchimp.com/"

todo :
    - - "Translate this"
    - - "Add the required locals for this : action, elements, icons, placeholders etc"
    - - "Sort out whether Fname and Lname are required by locals"
    - - "Need to catch the errors correctly for the AJAX and hook into Alert System"
    - - "Wrap this up into a utility class for Mailchimp"
    - - "Expand the checks on whether Email is Valid"
    - - "Mailchimp allows for First Name, Last Name and Format include these"
    - - "If the user is already signed up a URL comes back make this clickable"

---

%p Mailchimp

-# Default
:ruby
    code = %{codeBlender "mailchimp", "molecule" }

-# Code
= codeBlender "code", "molecule", { code: code, heading: { text: "Default" } }

-# Locals
-# action      - String - Optional - URL string for the Mailchimp form
-# buttonBlock - Bool   - Optional - Whether the button should be a block
-# name        - Bool   - Optional - Whether to include the name fields or not
-# novalidate  - Bool   - Optional - Whether to HTML5 validate the form

-#
-# Usage
-# -# Mailchimp Form
-# = codeBlender "mailchimp", "molecule", { action: "http://drykiss.us7.list-manage1.com/subscribe/post-json?u=4862895059f8ff67d43123d97&id=9ea724a203&c=?",
-#                      name:   true }

-# -# List
-# = partial "bootstrap/type/list",
-#            { array: [ { text: "They want a slick AJAXy call that doesn't cause a page transition" },
-#                               { text: "They don't want the form to open a new window." },
-#                               { text: "They don't want the user to see a domain that is not their own" } ] }
