-##
-# Dublin Core Meta Tags
-#
-# Tags can be set via the current_page.data elements or through content yield
-# the latter is especially useful for localized pages where the front
-# matter will change dynamically for the language.
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    http://dublincore.org/documents/dces/
-# @see    http://www.dublincoregenerator.com/generator.html
-# @see    http://schema.org/LocalBusiness
-##

-# Variables
- dc = data.config
- m  = current_page.data.meta

-# Meta
%meta{ name: "dcterms.title",       content: string( m.title ) }
%meta{ name: "dcterms.description", content: string( m.description ) }
%meta{ name: "dcterms.publisher",   content: string( m.author ) }
%meta{ name: "dcterms.language",    content: dc.lang }
%meta{ name: "dcterms.creator",     content: string( m.author ) }