-##
-# Facebook Meta Tags
-#
-# Site Config
-#     brand
-#     url
-#     facebookPageId
-#
-# Page Frontmatter
-#     type
-#     image
-#     title
-#     description
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- cp = current_page
- dc = data.config
- m  = cp.data.meta
- fb = dc.facebook

-# Site Name
%meta{ content: string( dc.brand ), property: "og:site_name" }

-# Title
%meta{ content: string( m.title ), property: "og:title" }

-# Description
%meta{ content: string( m.description ), name: "description", property: "og:description" }

-# Type
%meta{ content: string( m.type ), property: "og:type" }

-# URL
%meta{ content: dc.url + File.dirname( URI.parse( cp.url ).path ), property: "og:url" }

-# Image
%meta{ content: m.image, property: "og:image" }

-# Facebook Page ID
%meta{ content: fb.page.id, property: "fb:page_id" }

-# Facebook App ID
- if fb.app.id
    %meta{ content: fb.app.id, property: "fb:app_id" }