-##
-# Meta Feed Links
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- dc = data.config

-# Feed Links
%link{ href: "feed.xml", rel: "alternate", title: dc.atom.title, type: "application/atom+xml" }