-##
-# Google Meta Tags
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- dc = data.config

-# Webmasters Tools Site Verification
%meta{ name: "google-site-verification", content: dc.google.webmasterTools }