-##
-# Disqus Comments Count
-# Append #disqus_thread to the href attribute in your links.
-# This will tell Disqus which links to look up and return the comment count.
-# For example: <a href="http://foo.com/bar.html#disqus_thread">Link</a>.
-#
-# Locals
-# dc.disqusShortName - String - Required - Given by Disqus
-#
-# Usage
-# = partial "social/disqus/comments-count"
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- dc = data.config

-# Comments Count
:coffee
    disqus_shortname = #{ dc.disqusShortName }
    (->
        s       = document.createElement("script")
        s.async = true
        s.type  = "text/javascript"
        s.src   = "//" + disqus_shortname + ".disqus.com/count.js"
        (document.getElementsByTagName("HEAD")[0] or document.getElementsByTagName("BODY")[0]).appendChild s
    )()