-##
-# Disqus Comments
-#
-# Locals
-# dc.disqusShortName - String - Required - Given by Disqus
-#
-# Usage
-# = partial "social/disqus/comments"
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- dc = data.config

-# Disqus
#disqus_thread

-# JavaScript
:coffee
    (->
        dsq       = document.createElement("script")
        dsq.type  = "text/javascript"
        dsq.async = true
        dsq.src   = "//#{ dc.disqusShortName }.disqus.com/embed.js"
        (document.getElementsByTagName("head")[0] or document.getElementsByTagName("body")[0]).appendChild dsq
    )()