---

meta :
    author      : "DryKISS"
    description : "Twitter - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Twitter - CodeBlender"
    type        : "website"

heading :
    title : "Twitter"

---

%p Twitter
