-##
-# Pager
-#
-# @usage
-# -# Pager
-# = codeBlender "pager", "molecule"
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category molecule
-##

-# Pager
%ul.pager

    -# Previous
    %li.previous

        -# Check it exists
        - if prevPage

            -# Link to
            = link_to( prevPage.url, rel: "previous" ) do
                &larr; Older :
                = prevPage.title

    -# Next
    %li.next

        -# Check it exists
        - if nextPage

            -# Link to
            = link_to( nextPage.url, rel: "next" ) do
                = nextPage.title
                \: Newer &rarr;

