---

description : "Pager"
title       : "Pager"

see :
    - - "Bootstrap Pager"
      - "http://getbootstrap.com/components/#pagination-pager"

todo :
    - - "Add the disabled state"
    - - "Add the centred pager style"
    - - "Need to pass through the links correctly"

---

-# Pager variables
-# - prevPage = current_article.previous_article ? current_article.previous_article : false
-# - nextPage = current_article.next_article     ? current_article.next_article     : false

-# Pager
:ruby
    code = %{codeBlender "pager", "molecule"}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }
