//
// Dropdown
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category molecule
//----------------------------------------------------------------------------//

// Dropdown
//----------------------------------------------------------------------------//
.dropdown {

    // Icon
    //------------------------------------------------------------------------//
    &__icon {

        &:before {
            content        : "\f0d7";
            font-family    : FontAwesome;
            margin-left    : 3px;
        }
    }
}

// Dropup
//----------------------------------------------------------------------------//
.dropup {

    // Icon
    //------------------------------------------------------------------------//
    .dropdown__icon {

        &:before {
            content        : "\f0d8";
            font-family    : FontAwesome;
            margin-left    : 3px;
        }
    }
}