//
// Dropdown
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category molecule
//----------------------------------------------------------------------------//

// Dropdown
//----------------------------------------------------------------------------//
.dropdown {

    margin-right : 5px;

    // Icon
    //------------------------------------------------------------------------//
    &__icon {

        &:before {
            content     : "\F078";
            font-family : FontAwesome;
            position    : relative;
            right       : -5px;
            top         : 25%;
        }
    }
}


// Dropup
//----------------------------------------------------------------------------//
.dropup {

    // Icon
    //------------------------------------------------------------------------//
    .dropdown__icon {

        &:before {
            content     : "\f077";
            font-family : FontAwesome;
            margin-left : 3px;
        }
    }

}
