-##
-# Dropdown
-#
-# Dropdowns                - dropdown
-# Btn Group Dropdown       - btn-group
-# Input Group Btn Dropdown - input-group-btn
-#
-# @usage
-# -# Dropdown
-# = codeBlender "dropdown", "molecule", { button: { text: "Dropdown" }, list: { array: [ { text: "Action 1", link: { url: "#" } } ] } }
-#
-# @param list       Array of the menu list data
-# @param button     Accepts the full button locals with overrides
-# @param extraClass Extra class for container div | default : dropdown
-# @param ng         Angular elements
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category Molecule
-# @see      http://getbootstrap.com/components/#dropdowns
-# @see      http://getbootstrap.com/components/#btn-dropdowns
-# @see      http://getbootstrap.com/components/#input-groups-buttons-dropdowns
-# @see      http://getbootstrap.com/javascript/#dropdowns
-# @see      http://www.bootply.com/b4NKREUPkN
-##

-# Variable
- button     = locals[ :button ]     ? locals[ :button ]     : {}
- extraClass = locals[ :extraClass ] ? locals[ :extraClass ] : "dropdown"
- id         = button[ :id ]         ? button[ :id ]         : "dropdownMenu1"
- list       = locals[ :list ]
- ng         = locals[ :ng ]         ? locals[ :ng ]         : false

-# Opening tag
%div{ class: extraClass, ng: ng }

    -# Add defaults for button for dropdown action
    - button[ :dropdown ] = true
    - button[ :toggle ]   = "dropdown"
    - button[ :data ]     = { toggle: "dropdown" }
    - button[ :type ]     = "button"
    - button[ :id ]       = id
    - button[ :aria ]     = { haspopup: "true", expanded: "true" }

    -# Button
    = codeBlender "button", "atom", button

    -# Dropdown list
    = codeBlender "list-dropdown", "atom", list