---

meta :
    author      : "DryKISS"
    description : "Dropdown - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Dropdown - CodeBlender"
    type        : "website"

heading :
    small : "Button and Navbar dropdown"
    title : "Dropdown"

see :
    - - "Dropdowns"
      - "http://getbootstrap.com/components/#dropdowns"
    - - "Button Dropdowns"
      - "http://getbootstrap.com/components/#btn-dropdowns"
    - - "JavaScript Dropdown"
      - "http://getbootstrap.com/javascript/#dropdowns"
    - - "Navigation Dropdown"
      - "http://getbootstrap.com/components/#nav-dropdowns"
    - - "Input Group Buttons"
      - "http://getbootstrap.com/components/#input-groups-buttons-dropdowns"
    - - "Angular UI Dropdown"
      - "http://angular-ui.github.io/bootstrap/#/dropdown"
    - - "Dropdown PSDs"
      - "http://thedesigninspiration.com/articles/40-free-dropdown-and-select-box-psd-designs/"

locals :
    - - "array"
      - "array"
      - "required"
      - "Array of list items"
    - - "listClass"
      - "string"
      - "optional"
      - "String of classes for the List element"

list :
    - header  : "Header"
    - text    : "Action1"
      link    :
          url : "#"
    - text    : "Another action"
      link    :
          url : "#"
    - divider : true
    - text    : "Action2"
      link    :
          url : "#"
      status  : "disabled"

---

- id = 1

%p
    Dropdown molecule is collated from two
    %a{ href: "/atom" } atoms.

    The
    %a{ href: "/atom/button.html" } Button
    and
    %a{ href: "/atom/list.dropdown.html" } List.

%p
    Made interactive with the Bootstrap dropdown.js plugin

-# Dropdown
:ruby
    code = %{partial "molecule/dropdown/dropdown.haml",
               locals: { button: { text: "Dropdown" },
                         list:   { array: [ { text: "Action 1", link: { url: "#" } }, { text: "Action 2", link: { url: "#" } } ] } }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code, heading: { text: "Dropdown" } }

-# Dropdown Alignment
:ruby
    code = %{partial "molecule/dropdown/dropdown.haml",
               locals: { button:     { text: "Dropdown" },
                         list:       { array: current_page.data.list, extraClass: "dropdown-menu-right" } }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code, heading: { text: "Dropdown Alignment" } }

-# Dropup
:ruby
    code = %{partial "molecule/dropdown/dropdown.haml",
                      locals: { button:     { text: "Dropdown" },
                                extraClass: "dropup",
                                list:       { array: current_page.data.list } }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code, heading: { text: "Dropup" } }

-# Button Group
:ruby
    code = %{partial "molecule/dropdown/dropdown.haml",
                      locals: { button:     { text: "Dropdown" },
                                extraClass: "btn-group",
                                list:       { array: current_page.data.list } }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code, heading: { text: "Button Group" } }

/ -# Nav Bar Dropdown
/ :ruby
/     code = %{partial "molecule/dropdown/dropdown.haml",
/                       locals: { extraClass: "clearfix",
/                                 title:      "Drop Down",
/                                 list:       { array: current_page.data.list } }}

/ -# Code
/ = partial "organism/code/code.haml", locals: { id: id += 1, code: code, heading: { text: "Navbar Dropdown" } }