-##
-# Sidebar
-#
-# @usage
-# -# Sidebar
-# = codeBlender "sidebar", "organism"
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Sidebar
.well.sidebar-nav

    %ul.nav.nav-list

        %li.nav-header

            / Categories

            / - data.categories.each do |entry|

            /     -# Create the Pages if status is active

            /     - if entry.status == "active"

            /         -# Create the correct Category Link

            /         - cat = entry.category.downcase.gsub(/[^a-z0-9\- ]/, '').gsub(/ /, '-')

            /         %li
            /             %a{ :href => "/pages/#{cat}", :locals => { :cat => "#{cat}" } }
            /                 = entry.category

    = yield_content :assets