---

heading :
    small : "in Popover"
    title : "Form File Image Previewer"

meta :
    author      : "DryKISS"
    description : "File input fields with popover image preview"
    title       : "Form File Image Previewer"

see :
    - - "Bootstrap Supported Controls"
      - "http://getbootstrap.com/css/#tables-responsive"
    - - "W3 Specification"
      - "http://www.w3.org/TR/html-markup/input.file.html"
    - - "Input File - Popover Preview Image"
      - "http://bootsnipp.com/snippets/featured/input-file-popover-preview-image"

---

-# Text Type
:ruby
    code = %{partial "./forms/file-image-preview"}

= partial "./scaffolding/code",
           locals: { id:      1,
                     code:    code,
                     heading: { text: "File Image Preview" } }