---

author      : "DryKISS"
description :
    Form controls, verification and validation
small       : "Form controls, verification and validation"
title       : "Forms"

see :
    - - "Bootstrap Forms"
      - "http://getbootstrap.com/css/#forms"
    - - "Formspree"
      - "http://formspree.io/"
    - - "HTML5 Forms"
      - "http://diveintohtml5.info/forms.html"
    - - "Touchspin"
      - "http://www.virtuosoft.eu/code/bootstrap-touchspin/"
    - - "Select Boxes Chosen"
      - "http://harvesthq.github.io/chosen/"

todo :
    - - "Sort out Form groups and input groups - one should be nested in the other haml_tag?"
      - "Form"
      - "2014-02-18"
      - { "context" : "warning" }
    - - "Check box has a label around the input - maybe create new helper for this"
      - "Form"
      - "2014-02-18"
      - { "context" : "info" }
    - - "If using .form-horizontal then need to address the column sizes that add up to 12 on label and input"
      - "Form"
      - "2014-02-18"
      - { "context" : "info" }
    - - "Input groups can have a size attribute i.e. input-group-lg add this as a size attribute"
      - "Form"
      - "2014-02-18"
      - { "context" : "warning" }
    - - "Input Groups can have an associated input-group-btn with dropdowns etc"
      - "Form"
      - "2014-02-18"
      - { "context" : "info" }
    - - "Make the pre and appended items interactive."
      - "Form"
      - "2014-02-18"
      - { "context" : "warning" }

---