---

author      : "DryKISS"
description : "Input a selection array - [ [ \"United Kingdom\", \"44\" ], [ \"USA\", \"1\" ] ] or define in YAML"
small       : "Check YAML of page for array variation"
title       : "Form Select"

see :
    - - "Bootstrap Forms"
      - "http://getbootstrap.com/css/#forms"
    - - "Select 2"
      - "http://ivaynberg.github.io/select2/select2-latest.html"

locals :
    - - "array"
      - "array"
      - "required"
      - "Array of options to include"

    - - "help"
      - "string"
      - "optional"
      - "Help text"

    - - "label"
      - "array"
      - "optional"
      - "Text and Flag for Screen Reader for the label"

    - - "extraClass"
      - "string"
      - "optional"
      - "Classes for the label"

    - - "multiple"
      - "bool"
      - "optional"
      - "Multiple select box"

    - - "name"
      - "string"
      - "required"
      - "Name of the field"

selectArray1 :
    - - "United Kingdom"
      - "44"
    - - "USA"
      - "1"

selectArray2 :
    - - "United Kingdom"
    - - "USA"

---

-# Default
:ruby
    code = %{partial "./forms/select",
                      :locals => { :array => current_page.data.selectArray1,
                                   :label => { :title => "Label" },
                                   :name  => "ID" }}

= partial "./scaffolding/code",
           :locals => { :id      => 1,
                        :code    => code,
                        :heading => { :small => "Different Value and Option",
                                      :text  => "Default" } }

-# Default
:ruby
    code = %{partial "./forms/select",
                      :locals => { :array => current_page.data.selectArray2,
                                   :label => { :title => "Label" },
                                   :name  => "ID" }}

= partial "./scaffolding/code",
           :locals => { :id      => 2,
                        :code    => code,
                        :heading => { :small => "Same Value and Option",
                                      :text  => "Optimised" } }