---

heading :
    small : "Form Textarea"
    title : "Form Textarea"

meta :
    author      : "DryKISS"
    description : "Form Textarea"
    title       : "Form Textarea"

see :
    - - "Bootstrap Forms"
      - "http://getbootstrap.com/css/#forms"

---