---

heading :
    small : "Form Textarea"
    title : "Form Textarea"

meta :
    author      : "DryKISS"
    description : "Form Textarea"
    title       : "Form Textarea"

see :
    - - "Bootstrap Forms"
      - "http://getbootstrap.com/css/#forms"

---

-# Default
:ruby
    code = %{partial "./forms/textarea",
                      :locals => { :label => { :title => "Textarea" },
                                   :name  => "textarea" }}

= partial "./scaffolding/code",
           :locals => { :id      => 1,
                        :code    => code,
                        :heading => { :small => "Different Value and Option",
                                      :text  => "Default" } }