---

meta :
    author      : "DryKISS"
    description : "LinkedIn - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "LinkedIn - CodeBlender"
    type        : "website"

heading :
    title : "LinkedIn"

see :
    - - "LinkedIn"
      - "https://developer.linkedin.com/#!"

---

%p
    LinkedIn API and widgets
