/*          Responsive
-------------------------------------------------- */

// Desktop large
// -------------------------

@media (min-width: 1200px) {
}

// Desktop
// -------------------------

@media (max-width: 980px) {
}

// Tablet to desktop
// -------------------------

@media (min-width: 768px) and (max-width: 980px) {

    body {
        padding-top : 0;
    }
}

// Tablet
// -------------------------

@media (max-width: 767px) {

    body {
        padding-top : 0;
    }

    .footer, .copyright {
        margin-left  : -20px;
        margin-right : -20px;
        padding      : 0 20px;
    }
}

// Landscape Phones
// -------------------------

@media (max-width: 480px) {

    body {
        padding-top : 0;
    }
}