---

meta :
    author      : "DryKISS"
    description : "Geolocation - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Geolocation - CodeBlender"
    type        : "website"

heading :
    small : "Location awareness for the browser."
    title : "GeoLocation partial"

see :
    - - "Geolocation with Google Maps"
      - "http://www.paulund.co.uk/how-to-use-geolocation-api-with-google-maps"
    - - "Responsive Map Generator"
      - "http://yava.ro/mapgenerator/"
    - - "Google Maps Developer"
      - "https://developers.google.com/maps/"
    - - "Google Maps Tutorial"
      - "https://developers.google.com/maps/documentation/javascript/tutorial"
    - - "HTML5 GeoLocation"
      - "http://www.w3schools.com/html/html5_geolocation.asp"
    - - "HTML5 GEO Demo"
      - "http://html5demos.com/geo"
    - - "Diving Into GeoLocation"
      - "http://diveintohtml5.info/geolocation.html"
    - - "GMaps JS"
      - "http://hpneo.github.io/gmaps/examples.html"

todo :
    - - "Provide a Google Map by simple creating a gmap div with some data attributes ie, data-zoom=14, data-markers"
    - - "Handle the errors for the GeoLocation, Permission denied, Position unavailable, Timeout"
    - - "Markers should be added to an array, draw from data-markers"
    - - "All Maps API applications should load the Maps API using an API key"
    - - "Info Windows if inline in the HTML they should be hidden somehow, although doing this hides them from the map too"
    - - "Hook up the places API for starbucks searching within a Radius"
    - - "Create options for Bing, OpenMap, Apple maps etc"

---

%p
    By default, Firefox uses Google Location Services to determine your location
    by sending: your computers IP address, information about the nearby wireless
    access points, and a random client identifier, which is assigned by Google,
    that expires every 2 weeks.

%hr

-# Heading
= partial "molecule/heading/heading.haml", locals: { text: "Find your location", tag: "h2" }

%form.locationForm{ role: "form" }

    / -# Google Places Search Box
    / = partial "atom/input/input",
    /            locals: { extraClass:  "controls",
    /                      group:       [ false, "fa-location-arrow" ],
    /                      name:        "place",
    /                      label:       [ "Enter Location Form" ],
    /                      placeholder: "Place or postcode",
    /                      required:    true }

    -# Submit
    = partial "atom/button/button.haml", locals: { context: "primary", text: "Submit" }

%br
%hr

-# Map Container
.latLong{ hidden: true }

    -# Geo Location
    %script{ src: "http://maps.google.com/maps/api/js?sensor=false&libraries=places" }

    .gMap
    %br

    %form{ role: "form" }

        / -# Latitude
        / = partial "atom/input/input",
        /            locals: { name:        "latitude",
        /                      label:       [ "Latitude" ],
        /                      placeholder: "Latitude" }

        / -# Longitude
        / = partial "atom/input/input",
        /            locals: { name:        "longitude",
        /                      label:       [ "Longitude" ],
        /                      placeholder: "Longitude" }

    %hr

    -# Info Window
    .infoWindow

        -# Icon
        = partial "atom/icon/icon.haml", locals: { icon: "fa-shopping-cart" }

        .title The Clothes Company
        .subTitle Distance
        .text : 48.62m

        %br

        .subTitle Postcode
        .text : W2 1RH, UK

        .clearfix