---

stub : badge

heading :
    title : "Badges"

see :
    - - "Bootstrap Badges"
      - "http://getbootstrap.com/component/#badges"

locals :
    - - "content"
      - "string"
      - "required"
      - "Text content for the badge"

---

- id = 1

%p
    Badges won't self collapse in Internet Explorer 8 because it lacks support
    for the :empty selector.

-# Badge
:ruby
    code = %{partial "./atom/badge/badge", locals: { content: "88" }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Default" } }