---

stub : bar

heading :
    small : "Icon and Textual bar"
    title : "Bar Partial"

bar :
    - sup    : Expires
      text   : 485 Days
    - sup    : Offer Type
      text   : Cashback
    - icon   : bookmark
      href   : "#bookmark"

locals :
    - - "array"
      - "array"
      - "optional"
      - "Local array"

---

-# Bar
:ruby
    code = %{partial "./scaffolding/bar", locals: { array: current_page.data.bar }}

= partial "./organism/code/code",
           locals: { id:      1,
                     code:    code,
                     heading: { text: "Default" } }