---

meta :
    author      : "DryKISS"
    description : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    image       : "Image"
    subject     : "DryKISS"
    title       : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    type        : "website"

heading :
    title : "Blockquote"

see :
    - - "Bootstrap Blockquotes"
      - "http://getbootstrap.com/css/#type-blockquotes"

locals :
    - - "right"
      - "bool"
      - "optional"
      - "Whether to pull the quote right"
    - - "small"
      - "string"
      - "optional"
      - "Small description"
    - - "text"
      - "string"
      - "required"
      - "Main text"

---

- id = 1

-# Default
:ruby
    code = %{partial "./atom/blockquote/blockquote", locals: { text: "Standard Blockquote" }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Default" } }

-# Small Text
:ruby
    code = %{partial "./atom/blockquote/blockquote", locals: { small: "Small Text", text: "Blockquote with secondary small text" }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Blockquote with secondary small text" } }

-# Pulled Right
:ruby
    code = %{partial "./atom/blockquote/blockquote", locals: { right: true, small: "Right handed secondary text", text:  "Blockquote pulled right" }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Blockquote pulled right" } }