---

stub : blockquote

heading :
    small : ""
    title : "Blockquote"

see :
    - - "Bootstrap Blockquotes"
      - "http://getbootstrap.com/css/#type-blockquotes"

locals :
    - - "right"
      - "bool"
      - "optional"
      - "Whether to pull the quote right"
    - - "small"
      - "string"
      - "optional"
      - "Small description"
    - - "text"
      - "string"
      - "required"
      - "Main text"

---

-# Default
:ruby
    code = %{partial "./atom/blockquote/blockquote", locals: { text: "Standard Blockquote" }}

-# Code
= partial "./organism/code/code", locals: { id: 1, code: code, heading: { text: "Default" } }

-# Small Text
:ruby
    code = %{partial "./atom/blockquote/blockquote", locals: { text: "Blockquote with secondary small text" }}

-# Code
= partial "./organism/code/code", locals: { id: 2, code: code, heading: { text: "Blockquote with secondary small text" } }

-# Pulled Right
:ruby
    code = %{partial "./atom/blockquote/blockquote", locals: { right: true, small: "Right handed secondary text", text:  "Blockquote pulled right" }}

-# Code
= partial "./organism/code/code", locals: { id: 3, code: code, heading: { text: "Blockquote pulled right" } }