---

stub : textarea

heading :
    small : "Form Textarea"
    title : "Form Textarea"

see :
    - - "Bootstrap Forms"
      - "http://getbootstrap.com/css/#forms"

---

-# Default
:ruby
    code = %{partial "./atom/textarea/textarea", locals: { label: { title: "Textarea" }, name: "textarea" }}

-# Code
= partial "./organism/code/code", locals: { id: 1, code: code, heading: { small: "Different Value and Option", text: "Default" } }