---

stub : calendar

heading :
    small : Articles by Date
    title : Calendar

see :
    - - "Google Analytics"
      - "https://www.google.com/analytics"

layout   : "_library/tags"
pageable : true
per_page : 12
date     : 2001-03-31

---

-# Latest
%ul.list-unstyled.labelList

    -# Loop through the Articles
    - page_articles.each do | article |

        %li

            -# Label
            = partial "./bootstrap/component/label",
                       locals: { color:   "info",
                                 content: article.date.strftime( '%b %e' ) }

            = link_to article.title, article

-# Usage
= partial "./bootstrap/component/pagination",
           locals: { nextPage: next_page,
                     prevPage: prev_page,
                     pageNo:   page_number,
                     pages:    num_pages }