//
// Blog Archive
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

section.blogArchive {

    // @author Ian Warner <ian.warner@drykiss.com>
    //------------------------------------------------------------------------//
    .list-unstyled {

        border-top    : 1px solid $gray-lighter;
        border-bottom : 1px solid $gray-lighter;
        padding       : 10px 0;
        margin        : 10px 0;

    }

}