---

meta :
    author      : "DryKISS"
    description : "Football venue profile - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Football venue profile - CodeBlender"
    type        : "website"

heading :
    title : "Football venue profile"

todo :
    - - "How many games played at each venue - should allow to return all or by season, division"
    - - "Want a widget to show a google map for the venue"

---

Venue profile