---

meta :
    author      : "DryKISS"
    description : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    image       : "Image"
    subject     : "DryKISS"
    title       : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    type        : "website"

heading :
    small : "Community Supported Web"
    title : "Tip the Web"

see :
    - - "Tip The Web"
      - "http://tiptheweb.org/"

---

%p Simply sign up for an account with an OpenID such as Google or Facebook.

-# Heading
= partial "./molecule/heading/heading", locals: { text: "Default", tag: "h2" }

-# Tip the Web Button
= partial "./molecule/tiptheweb/button"

-# Code
:code
    #lang: ruby
    = partial "./molecule/tiptheweb/button"