---

meta :
    author      : "DryKISS"
    description : "Table - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Table - CodeBlender"
    type        : "website"

heading :
    small : "http://getbootstrap.com/css/#tables"
    title : "Bootstrap Table Partial"

datasource :
    column :
        - property : "bookmark"
          label    : "Bookmark"
          sortable : true
        - property : "image"
          label    : "Image"
          sortable : false
        - property : "description"
          label    : "Description"
          sortable : true
        - property : "details"
          label    : "Details"
          sortable : true
    data :
        -
            - "Row 1 Column 1"
            - "Row 1 Column 2"
            - "Row 1 Column 3"
            - "Row 1 Column 4"
        -
            - "Row 2 Column 1"
            - "Row 2 Column 2"
            - "Row 2 Column 3"
            - "Row 2 Column 4"

see :
    - - "Bootstrap Tables"
      - "http://getbootstrap.com/css/#tables"

todo :
    - - "Document the flags for table data"
    - - "Allow the auto magic to be switched off"
    - - "Fix the context element"
    - - "Use the partial here not in-line"

locals :
    - - "array"
      - "array"
      - "required"
      - "Array of entries for the Table"
    - - "id"
      - "string"
      - "optional"
      - "ID attribute for the Table tag"
    - - "tableClass"
      - "string"
      - "optional"
      - "Table class elements such as table-striped, table-bordered, table-hover, table-condensed, table-responsive"

---

- id = 0

%p
    The table will detect a context { "context" : "info" } element and colour the
    row accordingly. Also any cell that contain http will be linked automatically.

/ -# Default
/ :ruby
/     code = %{partial "./molecule/table/table", locals: { array: current_page.data.datasource }}

/ -# Code
/ = partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Default" } }

/ -# Pretty
/ :ruby
/     code = %{partial "./molecule/table/table",
/                       locals: { array:      current_page.data.datasource,
/                                 tableClass: "table-striped table-bordered table-hover table-condensed" }}

/ -# Code
/ = partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Pretty" } }

/ -# Responsive
/ :ruby
/     code = %{partial "./molecule/table/table",
/                       locals: { array:      current_page.data.datasource,
/                                 responsive: true,
/                                 tableClass: "table-striped table-bordered table-hover table-condensed" }}

/ -# Code
/ = partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Responsive" } }