---

author      : "DryKISS"
description : ""
small       : ""
title       : "Digital Identity"

---

-# Create the required sections
-# Named after the partials file names
- sections = [ "designPrinciples", "logos", "colour", "typography", "streamers", "photography", "iconography", "illustrations" ]

-# Loop through the relevant sections required.
- sections.each do | section |
    = partial "../_lib/style-guide/brand/#{ section }"