---

author      : "DryKISS"
description : ""
small       : "GUI pattern library"
title       : "Style Guide"

see :
    - - "Adobe"
      - "http://goo.gl/GMHnU"
    - - "Apple"
      - "http://www.apple.com/legal/sales-support/certification/docs/logo_guidelines.pdf"
    - - "BBC"
      - "http://www.bbc.co.uk/gel"
    - - "British Council"
      - "http://www.britishcouncil.org/identity/"
    - - "Dropbox"
      - "https://www.dropbox.com/branding"
    - - "Facebook"
      - "https://www.facebookbrand.com/"
    - - "Google"
      - "http://www.behance.net/gallery/Google-Visual-Assets-Guidelines-Part-1/9028077"
    - - "Gov UK"
      - "http://govuk-elements.herokuapp.com/"
    - - "Mailchimp"
      - "https://ux.mailchimp.com/patterns"
    - - "MasterCard"
      - "http://www.mastercardbrandcenter.com/us/index.shtml"
    - - "Microsoft"
      - "http://www.microsoft.com/en-us/legal/intellectualproperty/Trademarks/Usage/Logo.aspx"
    - - "Mozilla"
      - "http://www.mozilla.org/en-US/styleguide/websites/sandstone/"
    - - "New York University"
      - "http://www.nyu.edu/employees/resources-and-services/media-and-communications/styleguide.html"
    - - "Sales Force"
      - "http://sfdc-styleguide.herokuapp.com/"
    - - "Skype"
      - "http://issuu.com/bondo/docs/skype_brand_book_-_look"
    - - "Twitter"
      - "https://about.twitter.com/press/brand-assets"
    - - "Yale University"
      - "http://www.yale.edu/printer/identity/web.html"
    - - "Yelp"
      - "http://www.yelp.com/styleguide"
    - - "Building a Pattern Library"
      - "http://www.produktbezogen.de/how-to-build-the-perfect-pattern-library/"

---