//
// Blog Archive
//
// @usage
// @import "~molecule/archive/archive";
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category molecule
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module : 'blogArchive';

// Blog archive
//----------------------------------------------------------------------------//
.#{ $module } {

    margin-bottom : 30px;

    // List
    //------------------------------------------------------------------------//
    .blogArchive__list {
        border-bottom : 1px solid #e5e3e3;
        display       : table;
        padding-right : 30px;

        &:last-child {
            border-bottom : none;
        }
    }

    // DT portion
    //------------------------------------------------------------------------//
    .blogArchive__dt {
        display      : inline;
        margin-right : 15px;

        a {
            color : $brand-primary;
        }

    }

    // DD portion
    //------------------------------------------------------------------------//
    .blogArchive__dd {
        display : inline-table;
    }

    // Heading
    //------------------------------------------------------------------------//
    &__heading {
        border-bottom  : 1px solid #797878;
        color          : $brand-primary;
        padding-bottom : 5px;
    }

}
