//
// Blog Archive
//
// @usage
// @import "~molecule/archive/archive";
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category molecule
//----------------------------------------------------------------------------//

section.blogArchive {

    // @author Ian Warner <ian.warner@drykiss.com>
    //------------------------------------------------------------------------//
    .list-unstyled {

        border-top    : 1px solid $gray-lighter;
        border-bottom : 1px solid $gray-lighter;
        padding       : 10px 0;
        margin        : 10px 0;

    }

}