-##
-# Blog archive
-# Shows the years and month and number of blogs in each
-#
-# @usage
-# -# Blog archive
-# = partial "molecule/archive/archive.haml"
-#
-# @category molecule
-# @author   Ian Warner <ian.warner@drykiss.com>
-##

-# Blog archive
%section.blogArchive

    -# Heading - H4
    = partial "molecule/heading/heading.haml", locals: { extraClass: "heading--noMargin", tag: "h4", text: "Archive" }

    -# Unstyled list
    %ul.list-unstyled

        -# Loop through site blog posts
        -  blog.articles.group_by { | y | y.date.year }.each do | year, articles |

            -# List
            %li

                -# Link to the blog post via year
                = link_to year, blog_year_path( year )

                -# Loop through the articles by month
                - articles.group_by { | a | a.date.month }.each do | month, monthArticles |

                    -# List
                    %ul

                        -# List
                        %li

                            -# Link via month
                            = link_to monthArticles.first.date.strftime( "%b" ), blog_month_path( year, month )

                            -# Badge
                            = partial "atom/badge/badge.haml", locals: { content: monthArticles.size }