---

meta :
    description : "Blog archive - CodeBlender"
    title       : "Blog archive - CodeBlender"

heading :
    small : "Blog archive by year and month"
    title : "Archive"

see :
    - - "Archive UI pattern"
      - "http://ui-patterns.com/patterns/Archive"

todo :
    - - "Can I show these by day also - or in a nice calendar format?"
    - - "Should use the DT partial for this"
    - - "Make the list expandable and each year"

---

-# Archive
:ruby
    code = %{codeBlender "archive", "molecule", { name: "docs" }}

-# Code
= codeBlender "code", "organism", { code: code }
