//
// Lib
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Scaffolding
//----------------------------------------------------------------------------//
@import "_lib/colour";
@import "_lib/info-window";
@import "_lib/scaffolding";

.controllerLoaded {
    color    : red;
    position : absolute;
    top      : 10px;
    right    : 15px;
}
