//
// Variable
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category style
//----------------------------------------------------------------------------//

// Footer
//----------------------------------------------------------------------------//
$cb-footer-color : #fff !default;

// Breadcrumb
//----------------------------------------------------------------------------//
$breadcrumb-bg : #fff !default;

$font-size-base : 16px !default;
