//
// Label
//
// @usage  @import "atom/label/label";
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category atom
//----------------------------------------------------------------------------//

// Label
//----------------------------------------------------------------------------//
.label {
    font-size   : 14px;
    font-weight : normal;
    padding     : 3px 8px;
}