---

meta :
    description : "Label - CodeBlender"
    title       : "Label - CodeBlender"

heading :
    title : "Label"

see :
    - - "Bootstrap Label"
      - "http://getbootstrap.com/components/#labels"

---

-# Default
:ruby
    code = %{codeBlender "label", "atom", { content: "Default", itemprop: "test" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }

-# Label
:ruby
    code = %{codeBlender "label", "atom", { context: "primary", content: "Tag", href: "#", icon: "fa-tag" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Tags" } }
