---

meta :
    author      : "DryKISS"
    description : "Asset - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Asset - CodeBlender"
    type        : "website"

heading :
    title : "Asset"

todo :
    - - "Complete an example of the asset"

---

Asset examples