---

<<<<<<< HEAD
meta :
    description : "Asset - CodeBlender"
    title       : "Asset - CodeBlender"

heading :
    title : "Asset"
=======
description : "Asset"
title       : "Asset"
>>>>>>> updates

todo :
    - - "Complete an example of the asset"

---

Asset examples
