---

angular :
    controller : PortfolioController

heading :
    small : "List of work done"
    title : "Portfolio"

meta :
    author      : "DryKISS"
    description : "Portfolio template - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Portfolio template - CodeBlender"
    type        : "website"

see :
    - - ""
      - ""

todo :
    - - "Create the mix it set up in a directive"
    - - "Find a way to include the language elements from this module also"
    - - "Sort out the design of the blockquote caption and thumbnail image"
    - - "Use the link_to feature for the link section"
    - - "Work with the Portfolio Template more and get this working"

---

-# Portfolio Recent
= partial "./template/portfolio/portfolio-recent", locals: { total: 4 }

-# Portfolio
= partial "template/portfolio/portfolio"
