---

meta :
    author      : "DryKISS"
    description : "Code - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Code - CodeBlender"
    type        : "website"

heading :
    title : "Code"

todo :
    - - "Complete an example of the code"
    - - "Provide a means for the code block to be expanded and contracted, default as collapsed"
    - - "Split out the Tabs array into a HAML hash - use partial"
    - - "Change the code controller to a directive - handle the copy and tab transition"

---

Code