---

meta :
    author      : "DryKISS"
    description : "Code - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Code - CodeBlender"
    type        : "website"

heading :
    title : "Code"

todo :
    - - "Complete an example of the code"

---

Code