-##
-# Badges
-#
-# @usage
-# -# Badge
-# = partial "./bootstrap/component/badges",
-#            locals: { content: "99" }
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Badge
%span.badge= string locals[ :content ]