-##
-# Thumbnails
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Bootstrap Row
.row{ class: locals[ :extraClass ] ? extraClass : false }

    -# Loop through the array
    - array.each do | entry |

        -# Variables
        - thumb = entry[ :thumbnail ]

        %div{ class: locals[ :columns ] ? columns        : "col-xs-12 col-sm-6 col-md-4",
              data:  thumb[ :data ]     ? thumb[ :data ] : false,
              href:  thumb[ :href ]     ? image_path( thumb[ :href ] ) : false }

            -# Thumbnail
            .thumbnail{ class: thumb[ :extraClass ].present? ? thumb[ :extraClass ] : false }

                -# Image
                = link_to( image_path( entry[ :image ][ :href ] ), target: thumb[ :target ] ? thumb[ :target ] : false ) do
                    = partial "./bootstrap/css/image", locals: entry[ :image ]

                    -# Zoomix - requires HREF and data-toggle light box on the thumbnail array
                    - if thumb[ :zoomix ].present?
                        .zoomix= icon( "fa-search" )

                -# Caption
                - if thumb[ :caption ].present?
                    .caption= thumb[ :caption ]
                    .clearfix