-##
-# Tooltip
-#
-# @usage
-# -# Tooltip
-# = partial "./molecule/tooltip/tooltip", locals: { content: "Default", popBody: "Tooltip body", popTitle: "Tooltip" }
-#
-# @category molecule
-# @author   Ian Warner <ian.warner@drykiss.com>
-##

-# Tooltip
%div{ "tooltip-directive" => true }

    -# Button
    = partial "./atom/button/button",
               locals: { data:       { placement: locals[ :placement ] ? placement : "auto",
                                       toggle:    "tooltip" },
                         extraClass: "popMe",
                         title:      locals[ :popTitle ],
                         text:       locals[ :content ],
                         type:       "button" }