---

meta :
    author      : "DryKISS"
    description : "HTTP interceptor - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "HTTP interceptor - CodeBlender"
    type        : "website"

heading :
    title : "HTTP interceptor"

todo :
    - - "Complete more examples"

---

%p
    Angular HTTP interceptor allows for AJAX calls to be transformed inline
