---

meta :
    description : "HTTP interceptor - CodeBlender"
    title       : "HTTP interceptor - CodeBlender"

heading :
    title : "HTTP interceptor"

todo :
    - - "Complete more examples"

---

%p
    Angular HTTP interceptor allows for AJAX calls to be transformed inline
