---
author      : DryKISS
description : "See what your Facebook friends have liked, shared, or commented on
               across the Web."
layout      : "site/page"
small       : "https://developers.facebook.com/docs/plugins"
title       : "Facebook Facebook Partials"

navList      :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/social"
    - title  : "Activity Feed"
      url    : "/social/facebook/activity-feed"
    - title  : "Comments"
      url    : "/social/facebook/comments"
    - title  : "Embedded Posts"
      url    : "/social/facebook/embedded-posts"
    - title  : "Facepile"
      url    : "/social/facebook/facepile"
    - title  : "Follow Button"
      url    : "/social/facebook/follow-button"
    - title  : "Like Box"
      url    : "/social/facebook/like-box"
    - title  : "Like Button"
      url    : "/social/facebook/like-button"
    - title  : "Recommendations Bar"
      url    : "/social/facebook/recommendations-bar"
    - title  : "Recommendations Feed"
      url    : "/social/facebook/recommendations-feed"
    - title  : "Send Button"
      url    : "/social/facebook/send-button"
    - title  : "Share Button"
      url    : "/social/facebook/share-button"
---

-##
-# CodeBlender Facebook Partials
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    https://developers.facebook.com/docs/plugins/
-# @todo
-##