---
author       : "Ian Warner"
description  : "Your Gravatar is an image that follows you from site to site
                appearing beside your name when you do things like comment or post
                on a blog. Avatars help identify your posts on blogs and web forums,
                so why not on any site?"
layout       : "site/page"
small        : "Globally recognized avatar."
title        : "Gravatar"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/social"
    - title  : "Avatar"
      url    : "/social/gravatar/avatar"

see :
    - - "Gravatar"
      - "http://en.gravatar.com/"
    - - "Developer Resources"
      - "http://en.gravatar.com/site/implement/"
---