---
author      : DryKISS
description : "Create signup forms that match your brand's look and feel, and send
               your subscribers product updates, event invitations, announcements,
               or editorial content. Use our reports to improve your campaigns and
               learn more about your subscribers. Best of all? MailChimp is free
               for lists of up to 2,000 subscribers."
layout      : "site/page"
small       : "Newsletter forms"
title       : "Mailchimp Partials"

navList      :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/social"
    - title  : "Embedded Forms"
      url    : "/social/mailchimp/embed"
---

-##
-# CodeBlender Mailchimp Partials
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    http://mailchimp.com/
-# @todo
-##