---

heading :
    small : "List of Middleman social partials"
    title : "Social Partials"

meta :
    author      : "Ian Warner"
    description : "List of social plugins and widgets from Facebook, twitter etc."
    title       : "Social Partials"

see :
    - - "Facebook Plugins"
      - "https://developers.facebook.com/docs/plugins"

todo :
    - - "Add more resources to the documentation"
      - "Social"
      - "2014-02-12"
    - - "Look at Flikr Badges - https://www.flickr.com/about/goodies/"
      - "Social"
      - "2014-02-12"
    - - "Create an AddThis partial in social section"
      - "Social"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Complete Coderwall Partial https://coderwall.com/welcome"
      - "Social"
      - "2014-02-14"
      - { "context" : "info" }

---

%p
    Adding social elements to your site is crucial these days. Peer validation of
    your content and overall site will drive organic and free traffic.