---
author       : "Ian Warner"
description  : "Tip the Webip is a service that lets you directly support your
                favorite web content by tipping it."
layout       : "site/page"
small        : "Community Supported Web"
title        : "Tip the Web"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/social"

see :
    - - "Tip The Web"
      - "http://tiptheweb.org/"
---

%p
    Simply sign up for an account with an OpenID such as Google or Facebook.

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :type => "h2" }

-# Tip the Web Button
= partial "social/tiptheweb/button"

-# Code
:code
    #lang: ruby
    = partial "social/tiptheweb/button"