---
author       : "Ian Warner"
description  : "Social plugins for Twitter"
layout       : "site/page"
small        : "Twitter social plugins and widgets"
title        : "Twitter Partials"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/social"
    - title  : "Embedded Tweets"
      url    : "/social/twitter/embedded-tweets"
    - title  : "Embedded Timelines"
      url    : "/social/twitter/embedded-timelines"
    - title  : "Follow Button"
      url    : "/social/twitter/follow-button"
    - title  : "Tweet Button"
      url    : "/social/twitter/tweet-button"

see :
    - - "Twitter Developers"
      - "https://dev.twitter.com/"
---