-##
-# Button group
-#
-# @usage
-# -# Button group
-# = codeBlender "button-group", "atom", {  }
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category molecule
-##

-# Button group
.btn-group.btn-group-justified{ "aria-label" => "Justified button group", :role => "group" }

    -# Button - external
    = codeBlender "button", "atom", { size: "sm", context: "info", icon: { prepend: { icon: "fa fa-external-link" } }, href: "javascript:;" }

    -# Button - add
    = codeBlender "button", "atom",
        { size: "sm", context: "info",
          icon: { prepend: { icon: "fa fa-plus" } },
          href: "javascript:;",
          ng: { disabled: "root.isDisabled[ node.title ]",
                click: "root.isDisabled[ node.title ] || root.addWord( [ node.title ] )" } }

    -# Button - dictionary
    = codeBlender "button", "atom",
        { size: "sm", context: "info", icon: { prepend: { icon: "fa fa-book" } }, href: "javascript:;" }
