---

meta :
    description : "Button group - CodeBlender"
    title       : "Button group - CodeBlender"

heading :
    title : "Button group"

see :
    - - "Bootstrap button group"
      - "http://getbootstrap.com/components/#btn-groups"

todo :
    - - "Need to configure this correctly to accept an array of button partials"

---

Button Group