---

<<<<<<< HEAD
meta :
    description : "Football - CodeBlender"
    title       : "Football - CodeBlender"

heading :
    title : "Football"
=======
description : "Football"
title       : "Football"
>>>>>>> updates

---

:markdown

    The football section is here to provide widgets for football related activities
    and also more deeper operations for creating profile pages for all areas in a
    league set up. Such as teams, players, venues, referees, top scorers, fixtures and
    tables per season.

    All these area will require using middleman proxy services, to create the
    pages at runtime and render through the creation of templates.
