//
// List Groups
//
// @author Ian Warner <ian.warner@drykiss.com>
//--------------------------------------------------------------------------- //

// List Group
// -------------------------------------------------------------------------- //
.list-group {

    // List Dropdown Arrow
    // ---------------------------------------------------------------------- //
    span {
        position : absolute;
        top      : 12px;
        right    : 10px;
        color    : #f7b600;
    }

    // Submenu
    // ---------------------------------------------------------------------- //
    ul.submenu {

        display       : none;
        margin-bottom : 0;

        li a {
            padding-left : 30px;
        }

    }

}