---
author       : "Ian Warner"
description  : "Bootstrap Images Partial"
layout       : "site/page"
small        : "http://getbootstrap.com/css/#images"
title        : "Bootstrap Images Partial"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/bootstrap"

see :
    - - "Bootstrap Images"
      - "http://getbootstrap.com/css/#images"
    - - "Responsive Images"
      - "http://getbootstrap.com/css/#overview-responsive-images"

todo :
    - - "Add a Responsive image example"
      - ""
      - "2014-02-12"
---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :type => "h2" }

-# Image
= partial "bootstrap/css/image",
           :locals => { :alt        => "Image",
                        :src        => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/t1/c93.2.273.273/555047_10151379934970823_1285299830_n.jpg",
                        :extraClass => "img-circle",
                        :width      => "200" }

-# Image
= partial "bootstrap/css/image",
           :locals => { :alt        => "Image",
                        :src        => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/t1/c93.2.273.273/555047_10151379934970823_1285299830_n.jpg",
                        :extraClass => "img-thumbnail",
                        :width      => "200" }

-# Image
= partial "bootstrap/css/image",
           :locals => { :alt        => "Image",
                        :src        => "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/t1/c93.2.273.273/555047_10151379934970823_1285299830_n.jpg",
                        :extraClass => "img-rounded",
                        :width      => "200" }