---

meta :
    author      : "DryKISS"
    description : "Loading - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Loading - CodeBlender"
    type        : "website"

heading :
    title : "Loading"

---

%p
    Loading
