---

meta :
    description : "Football fixture of soccer results - CodeBlender"
    title       : "Football fixture of soccer results - CodeBlender"

heading :
    title : "Football fixture"

see :
    - - "Example fixture sheet"
      - "https://docs.google.com/spreadsheets/d/1uTnHOsDCHwvxmxX41sxCsZDnkPNj_7ImUGYQb3yEMjo"
    - - "Fixture Example"
      - "http://support.themeboy.com/entries/21223131-fixtures-shortcode"
    - - "Worksheet download"
      - "http://adamlofting.com/1098/new-google-sheets-publishing-a-single-worksheet-to-the-web-as-csv/"

todo :
    - - "FE: Design the fixture table better - utilise angular grid for in-line search and filtering"
    - - "FE: Translate any text strings"
    - - "FE: Document the widget and the automatically created pages."
    - - "FE: Document how a user manages the spreadsheet for fixtures"
    - - "FE: Create a weekly round up of results based on the week number of the year."
    - - "API: Currently this does not use the API, get this functioning like the Table script"
    - - "API: Date / Time normalisation, Kick off time should be : Aug 18th @ 17:50 Produce a separate method to process this, from the fixtures date - 2014-09-04 and time 19:10"
    - - "API: Allow grouping fixtures for season, division, competition and team and secondly combination of these"
    - - "API: For Team - get all the fixtures for a given season with option on competition"
    - - "API: Competition is cup, league or plate"
    - - "API: Need to work out current season from the fixtures i.e. max( season )"
    - - "API: Rule - unplayed games - these will be ones where scores are not updated"
    - - "API: Scorers - need to create separation rule i.e. semi-colon and then collate scorers array for season and competition, up to admin to make sure names are entered the same"
    - - "API: Make sure we can handle multi-byte characters in the process"
    - - "API: Would like to stick each season in a sheet Tab and then merge, can we get this from Google"
    - - "API: Its a requirement that a team may need to have a point deduction, using another sheet perhaps we can have - only valid for league season, team, deduction i.e. 11, bfc, -2"
    - - "API: Scan previous seasons and return in an array the last 5 meetings between the same teams, include cup or league. Can use this array to display on the team pages showing a nice statistic"
    - - "API: History methods to get all games played by X team, total goals scored by X player. This will all come from Fixtures CSV"
    - - "API: Method to get that weekends results - this may include some mid-week matches - so use the Week number i.e. Week 42."
    - - "Idea: League highest win and defeat"
    - - "Idea: League top scorer, appearances of all time"

---

:markdown

    # Introduction

    Fixtures are created in a google sheet, these can be separated by season by the
    use of worksheets within the document.
    An example can be found [here](https://docs.google.com/spreadsheets/d/1uTnHOsDCHwvxmxX41sxCsZDnkPNj_7ImUGYQb3yEMjo)

    When setting up your league, team please use the sample sheet created by DryKISS
    to benefit the most from our system.

    # Managing the spreadsheet

    Firstly the google sheet must be shared and viewable by all, but not editable.
    Giving us the Key to the sheet will then allow us to start processing the
    information contained. For specific worksheets we will also need the GID. We
    basically then construct a URL to [download][] the CSV.

    [download]:https://docs.google.com/spreadsheets/d/1uTnHOsDCHwvxmxX41sxCsZDnkPNj_7ImUGYQb3yEMjo/export?format=csv&gid=1339204178
    https://docs.google.com/spreadsheets/d/1uTnHOsDCHwvxmxX41sxCsZDnkPNj_7ImUGYQb3yEMjo/export?format=csv

    We will help set up data validation rules for certain columns such as ground,
    referee and teams. This will create dropdown lists on each row for easy selection,
    but also to provide the consistency required by the system. It will highlight
    where data is entered incorrectly.

    # Goals scorers

    Adding a list of players names for the goal scorers is possible, please make
    sure that the names used are the same throughout all the results so we can
    provide a total goals for each player. This list must be separated by a
    semi-colon ;

    # Yellow and red cards

    Similar to the above the add the players who received a card to a list.

    # Cup

    Cup / plate rules and rounds, write in the competition the name of the cup
    competition, this needs to be consistent within the sheet. The cup column
    is where you indicate the round with 1 indicating the final. So the semi-final
    would be 2 and so on.

    # Date and time

    It's just a matter of keeping this consistent throughout the sheet. Google
    will often translate the date and time automatically.

    # Ground

    We will help set up Data validation rules so

    # Season Pages

    Based on each season created, the system will automatically create pages that
    display each seasons fixtures, including cup competitions.

-# Football fixture
= codeBlender "fixture", "football"
