---

heading :
    title : "Fixtures"

meta :
    description : "Fixtures - CodeBlender"
    title       : "Fixtures - CodeBlender"

---

-# Heading
= codeBlender "heading", "molecule", { tag: "h2", text: "Season #{ locals[ :season ] }" }

-# Football fixture
= codeBlender "fixture", "football"
