---

heading :
    title : "Fixtures"

meta :
    author      : "DryKISS"
    description : ""
    title       : "Fixtures"

---

-# Heading
= codeBlender "heading", "molecule", { tag: "h2", text: "Season #{ locals[ :season ] }" }

-# Football fixture
= codeBlender "fixture", "football"