-##
-# Detail
-#
-# @param
-# summary - String - Required - Summary Text
-# content - String - Required - Content Text
-#
-# @usage
-# -# Details
-# = partial "./atom/detail/detail", locals: { summary: "Summary", content: "Content" }
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Details
%detail

    %summary= summary
    %p= content