-### Full Width Layout
-#

-# Usage
-# - wrap_layout "_library-layouts/site/_full-width" do

-# Locals
-#

-# Todo
-#

-# Full Width

- wrap_layout "_library-layouts/site/_layout" do

    .row

        .span12

            %h1= data.page.title

            -# Yield

            = yield