-##
-# Gravatar avatar
-#
-# @usage
-# -# Gravatar avatar
-# = partial "social/gravatar/avatar", locals: { email: "ian.warner@drykiss.com", size: "200" }
-#
-# @param alt        - String - Optional
-# @param email      - String - Required - Email address of the user's gravatar
-# @param extraClass - String - Optional
-# @param size       - Int    - Optional - Size of the image - default 80px square
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category molecule
-##

-# Size default
- if ! locals[ :size ]
    - locals[ :size ] = 80

-# Avatar URL
- emailHash = Digest::MD5.hexdigest( string( locals[ :email ] ).chomp.downcase )
- src       = "https://www.gravatar.com/avatar/#{ emailHash }.jpg?s=#{ locals[ :size ] }&r=pg"

-# Image - Gravatar
= partial "atom/image/image.haml", locals: { alt: locals[ :alt ], extraClass: locals[ :extraClass ], src: src, type: "thumbnail" }
