---

description : "Angular UI grid"
title       : "Angular UI grid"

todo :
    - - "Create the Error States based on passing through the model service to check the schema"
    - - "http://code.realcrowd.com/on-the-bleeding-edge-advanced-angularjs-form-validation/"

---

%p Angular UI grid
