-# Disqus Comments Count
-# http://disqus.com/

-# Locals
-# data.config.disqusShortName - String - Required - Given by Disqus
-# http://help.disqus.com/customer/portal/articles/565624-tightening-your-disqus-integration

-# Usage
-# = partial "#{pathPartials}/disqus/comments_count"

-# Append #disqus_thread to the href attribute in your links.
-# This will tell Disqus which links to look up and return the comment count.
-# For example: <a href="http://foo.com/bar.html#disqus_thread">Link</a>.

-# Comments Count
:coffee

    disqus_shortname = #{data.config.disqusShortName}

    (->
        s       = document.createElement("script")
        s.async = true
        s.type  = "text/javascript"
        s.src   = "//" + disqus_shortname + ".disqus.com/count.js"
        (document.getElementsByTagName("HEAD")[0] or document.getElementsByTagName("BODY")[0]).appendChild s
    )()