---

meta :
    author      : "DryKISS"
    description : "Shape - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Shape - CodeBlender"
    type        : "website"

heading :
    title : "Shape"

todo :
    - - "Complete more examples"

---

%p Shape CSS provides an easy to use set of shapes to use.
