---

meta :
    description : "Google plus - CodeBlender"
    title       : "Google plus - CodeBlender"

heading :
    small : "Google Plus social sharing"
    title : "Plus Platform"

see :
    - - "Plus Platform"
      - "https://developers.google.com/+/"
    - - "Plus Button"
      - "https://developers.google.com/+/web/+1button/"

---

-# Plus Button
:ruby
    code = %{codeBlender "google-plus", "molecule"}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }
