---

meta :
    author      : "DryKISS"
    description : "Google plus - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Google plus - CodeBlender"
    type        : "website"

heading :
    small : "Google Plus social sharing"
    title : "Plus Platform"

see :
    - - "Plus Platform"
      - "https://developers.google.com/+/"
    - - "Plus Button"
      - "https://developers.google.com/+/web/+1button/"

---

- id = 1

-# Plus Button
/ :ruby
/     code = %{partial "google/plus"}

/ -# Code
/ = partial "organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Default" } }