---

meta :
    author      : "DryKISS"
    description : "Google plus - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Google plus - CodeBlender"
    type        : "website"

heading :
    small : "Google Plus social sharing"
    title : "Plus Platform"

see :
    - - "Plus Platform"
      - "https://developers.google.com/+/"
    - - "Plus Button"
      - "https://developers.google.com/+/web/+1button/"

---

-# Plus Button
/ :ruby
/     code = %{codeBlender "plus", "google"}

/ -# Code
/ = codeBlender "code", "organism", { code: code, heading: { text: "Default" } }