// Pagination
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category molecule
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module: 'pagination';

// Pagination
//----------------------------------------------------------------------------//
.#{$module} {

  // Link
  //--------------------------------------------------------------------------//
  &__link {
    margin-right: 10px;
    min-width: 36px;
  }

}
