// Panel
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category middleman
//----------------------------------------------------------------------------//

// Panel
//----------------------------------------------------------------------------//
.panel {

  // Position
  //--------------------------------------------------------------------------//
  margin-bottom: 0;

  // Heading
  //--------------------------------------------------------------------------//
  .panel-heading {

    // Overflow ellipsis on title
    //------------------------------------------------------------------------//
    &.ellipsis .panel-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }

  // Panel Title
  //--------------------------------------------------------------------------//
  .panel-title {
    span {
      vertical-align: -10%;
    }
  }

  // Panel Body
  //--------------------------------------------------------------------------//
  .panel-body {
    background-size: contain;
    min-height: 80px;
  }

  // Small
  //--------------------------------------------------------------------------//
  small {
    color: #aaa;
    font-size: 16px;
  }

  // Tools
  //--------------------------------------------------------------------------//
  .tools {
    float: right;

    i {
      color: #fff;
      font-size: 20px;
    }
  }
}
