// Tag Cloud
//
// @usage
// @import "~molecule/tag-cloud/tag-cloud";
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category molecule
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module: 'tag-cloud';

// Tag Cloud
//----------------------------------------------------------------------------//
.#{ $module } {

  margin-bottom: 19px;

  // Label
  //--------------------------------------------------------------------------//
  .label {
    border-radius: 0;
    display: inline-block;
    line-height: 140%;

    &:hover {
      background-color: #CAC7C7;
      color: #000;
    }
  }

  // Tag
  //--------------------------------------------------------------------------//
  &__tag {
    margin-bottom: 4px;
    margin-right: 5px;
    vertical-align: baseline;

  }

  // Heading
  //--------------------------------------------------------------------------//
  &__heading {
    border-bottom: 1px solid #797878;
    color: $brand-primary;
    padding-bottom: 5px;
  }

}
