---

description : "Dropzone"
title       : "Dropzone"

see :
    - - "Dropzone"
      - "http://www.dropzonejs.com/"
    - - "PHP Tutorial"
      - "http://www.startutorial.com/articles/view/how-to-build-a-file-upload-form-using-dropzonejs-and-php"

---

-# Bar
:ruby
    code = %{codeBlender "dropzone", "molecule"}

-# Code
= codeBlender "code", "molecule", { code: code, heading: { text: "Default" } }
