---

heading :
    small : "HTML5 Components"
    title : "HTML5 Partials"

meta :
    author      : "DryKISS"
    description : "HTML5 Components"
    title       : "HTML5 Partials"

see :
    - - "Local Storage"
      - ""

---