---

meta :
    author      : "DryKISS"
    description : "Coderwall - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Coderwall - CodeBlender"
    type        : "website"

heading :
    title : "Coderwall"

see :
    - - "Coderwall API"
      - "https://coderwall.com/api"

todo :
    - - "Move the JS and CSS out of the layout file"
    - - "Complete Coderwall Partial coderwall.com/welcome"

---

-# Heading
= partial "./molecule/heading/heading", locals: { text: "Default", tag: "h2" }

%section.coderwall{ data: { coderwall: { username: "iwarner", orientation: "horizontal" } } }

.clearfix