---

meta :
    author      : "DryKISS"
    description : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    image       : "Image"
    subject     : "DryKISS"
    title       : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    type        : "website"

heading :
    title : "Coderwall"

see :
    - - "Coderwall API"
      - "https://coderwall.com/api"

todo :
    - - "Move the JS and CSS out of the layout file"
      - "Coderwall"
      - "2014-02-24"
      - { "context" : "info" }

---

-# Heading
= partial "./molecule/heading/heading", locals: { text: "Default", tag: "h2" }

%section.coderwall{ data: { coderwall: { username: "iwarner", orientation: "horizontal" } } }

.clearfix