---

heading :
    small : ""
    title : "E-Commerce"

meta :
    author      : "DryKISS"
    description : ""
    title       : "E-Commerce"

see :
    - - "Simple Cart"
      - "http://simplecartjs.org/"
    - - "Simple Cart Github"
      - "https://github.com/wojodesign/simplecart-js"
    - - "Navigation Guidelines"
      - "http://uxdesign.smashingmagazine.com/2013/11/11/guidelines-navigation-categories-ecommerce-study/"

todo :
    - - "Create widgets for best sellers, top three, home page module etc"
      - "E-Commerce"
      - "2014-04-26"
      - { "context" : "info" }
    - - "Rename this to E-Commerce as the widgets can be applied to most shopping patterns"
      - "E-Commerce"
      - "2014-04-26"
      - { "context" : "info" }
    - - "Provide an easy to edit template for the cart and widget for where data gets inputted"
      - "E-Commerce"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Cart URL should be a config variable as it appears in several places"
      - "E-Commerce"
      - "2014-02-19"
      - { "context" : "info" }

---

%p
    Javascript E-Commerce script. Any client side script will have security
    concerns such as injecting code. Make sure the server side script to validate
    and check inputs is up to scratch.

%p
    Requirements for the codeblender module are:

    * products.yaml
    * Stripe JS
    * Simple Cart JS
    * Create Proxy pages for the products views
    * Create the required product template page