//
// Image Preview
//
// @author Ian Warner <ian.warner@drykiss.com>
//--------------------------------------------------------------------------- //

.image-preview {

    .image-preview-input {

        position         : relative;
        overflow         : hidden;
        margin           : 0;
        color            : #333;
        background-color : #fff;
        border-color     : #ccc;

        input[ type=file ] {
            position  : absolute;
            top       : 0;
            right     : 0;
            margin    : 0;
            padding   : 0;
            font-size : 20px;
            cursor    : pointer;
            opacity   : 0;
            filter    : alpha(opacity=0);
        }
    }

    .image-preview-input-title {
        margin-left : 2px;
    }

    .image-preview-clear {
        display : none;
    }

}