---
author       : "Ian Warner"
description  : "The details tag is used to easily implement a click to show more feature."
layout       : "site/page"
small        : "Click to show an expanded area."
title        : "Scaffolding Details partial"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/scaffolding"

see :
    - - "Details Tag"
      - "http://www.paulund.co.uk/html5-details-tag"
---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :type => "h2" }

-# Details
= partial "scaffolding/details",
           :locals => { :summary => "Summary",
                        :content => "Content" }

-# Code
:code
    #lang: ruby
    = partial "scaffolding/details",
               :locals => { :summary => "Summary",
                            :content => "Content" }