---
author       : "Ian Warner"
description  : "DropzoneJS is an open source library that provides drag'n'drop
                file uploads with image previews."
layout       : "site/page"
small        : "Multiple file uploads via drag and drop"
title        : "Dropzone JS"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/scaffolding"

see :
    - - "Dropzone"
      - "http://www.dropzonejs.com/"
    - - "PHP Tutorial"
      - "http://www.startutorial.com/articles/view/how-to-build-a-file-upload-form-using-dropzonejs-and-php"
---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :type => "h2" }

-# Dropzone
= partial "scaffolding/dropzone"

%br

-# Code
:code
    #lang: ruby
    = partial "scaffolding/dropzone"