---
author      : "DryKISS"
description : "Speech Partial"
layout      : "site/page"
small       : ""
title       : "Speech Partial"

navList      :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/scaffolding"
---

-##
-# CodeBlender Speech Partial
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    https://dvcs.w3.org/hg/speech-api/raw-file/tip/speechapi.html
-# @see    http://updates.html5rocks.com/2013/01/Voice-Driven-Web-Apps-Introduction-to-the-Web-Speech-API
-# @see    https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/Speech/Articles/RecognizeSpeech.html#//apple_ref/doc/uid/20002081-BCIHEBFH
-# @see    http://phonegap.com/blog/2013/10/10/speech-recognition/
-# @see    http://updates.html5rocks.com/2014/01/Web-apps-that-talk---Introduction-to-the-Speech-Synthesis-API
-# @todo
-##

-# Heading
= partial "bootstrap/type/heading",
    :locals => { :text => "Default" }

-# Form
%form{ :novalidate => false }

    -# Username
    = partial "bootstrap/css/forms/input",
               :locals => { :autofocus   => true,
                            :id          => "username",
                            :label       => [ "Username" ],
                            :placeholder => "Enter username",
                            :required    => true,
                            :speech      => true }

-# Speech Synthesis
%p Speech Sythensis available in Chrome 33

-# Message
:javascript
    var msg = new SpeechSynthesisUtterance('Hello World');
    window.speechSynthesis.speak(msg);