---
author      : DryKISS
description : "Scaffolding Stripe partial"
layout      : "site/page"
small       : ""
title       : "Scaffolding Stripe partial"

navList      :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/scaffolding"
---

-##
-# CodeBlender Scaffolding Stripe
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    https://stripe.com/gb
-# @see    https://github.com/wojodesign/simplecart-js
-# @todo
-##

-# Heading
= partial "bootstrap/type/heading",
    :locals => { :text => "Stripe Test" }

-# Stripe Thumbnail
= partial "bootstrap/components/thumbnails",
           :locals => { :array => [ { "src"        => "holder.js/252x100",
                                      "caption"    => "Caption 1",
                                      "button"     => "Buy",
                                      "extraClass" => "customButton",
                                      "link"       => "#",
                                      "title"      => "Product 1" } ] }

-# Code
:code
    # lang: ruby
    = partial "bootstrap/components/thumbnails",
               :locals => { :array => [ { "src"     => "holder.js/252x100",
                                          "caption" => "Caption 1",
                                          "button"  => "Buy",
                                          "link"    => "#",
                                          "title"   => "Product 1" } ] }