---
author       : "Ian Warner"
description  : "Todo provides a useful element to add to a page that displays
                a list of weighted tasks"
layout       : "site/page"
small        : "Task List"
title        : "Scaffolding Todo Partial"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/scaffolding"

todo :
    - - "Sort the list based on Date and Priority"
      - "Todo"
      - "2014-02-13"
      - { "context" : "info" }
    - - "If a data column is blank then omit it"
      - "Todo"
      - "2014-02-13"
      - { "context" : "danger" }
    - - "Allow the table to be sorted and filtered"
      - "Todo"
      - "2014-02-13"
      - { "context" : "info" }
    - - "The Todo Element should be hidden - place in details tag?"
      - "Todo"
      - "2014-02-13"
      - { "context" : "info" }
    - - "The Todo Element should be hidden - place in details tag?"
      - "Todo"
      - "2014-02-13"
      - { "context" : "info" }
    - - "Change flag to Priority"
      - "Todo"
      - "2014-02-13"
      - { "context" : "danger" }
    - - "Add an author column to the table"
      - "Todo"
      - "2014-02-13"
---