---

meta :
    author      : "DryKISS"
    description : "Firebase - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Firebase - CodeBlender"
    type        : "website"

angular :
    controller   : "FirebaseCtrl"
    controllerAs : "firebase"

heading :
    small : "Firebase connection with Angular"
    title : "Firebase"

see :
    - - "Angular Firebase"
      - "https://www.firebase.com/tutorial/#tutorial/angular/0"
    - - "Angular Starter Pack"
      - "https://github.com/firebase/firebase-angular-starter-pack"
    - - "Angular Seed"
      - "https://github.com/firebase/angularfire-seed"

---

%ul{ id: "example-messages", class: "example-chat-messages" }

    %li{ ng: { repeat: "msg in messages" } }

        %strong{ class: "example-chat-username" }
            {{ msg }}
            {{ msg.text }}
