---

meta :
    author      : "DryKISS"
    description : "Blockquote, quote blocks of textual content - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Blockquote, quote blocks of textual content - CodeBlender"
    type        : "website"

heading :
    title : "Blockquote"

see :
    - - "Bootstrap blockquote"
      - "http://getbootstrap.com/css/#type-blockquotes"

locals :
    - - "right"
      - "bool"
      - "optional"
      - "Whether to pull the quote right"
    - - "small"
      - "string"
      - "optional"
      - "Small description"
    - - "text"
      - "string"
      - "required"
      - "Main text"

---

-# ID
- id = 0

-# Default
:ruby
    code = %{codeBlender "blockquote", "atom", { text: "Standard blockquote" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }

-# Small text
:ruby
    code = %{codeBlender "blockquote", "atom", { small: "Small Text", text: "Blockquote with secondary small text" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Blockquote with secondary small text" } }

-# Pulled right
:ruby
    code = %{codeBlender "blockquote", "atom", { right: true, small: "Right handed secondary text", text: "Blockquote pulled right" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Blockquote pulled right" } }
