---

<<<<<<< HEAD
meta :
    description : "Calendar - CodeBlender"
    title       : "Calendar - CodeBlender"

heading :
    small : "Calendar"
    title : "Calendar"
=======
description : "Calendar"
title       : "Calendar"
>>>>>>> updates

see :
    - - "JQuery Calendar"
      - "http://arshaw.com/fullcalendar/"

todo :
    - - "Complete an example of the calendar"

---