//
// Footer
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Footer
//----------------------------------------------------------------------------//
.footer {

    border-top : 4px solid rgba( 240, 0, 0, 0.7 );
    color      : $gray-lighter;

    // Background
    //------------------------------------------------------------------------//
    background : $gray-dark image-url( "footer/background.png" );

    &.noBackground {
        background : $gray-dark;
    }

    // Separator
    //------------------------------------------------------------------------//
    .footerSection:not:first-child {
        border-left : 2px solid $gray-darker;
    }

    // Background type
    //------------------------------------------------------------------------//
    p i {
        display    : inline-block;
        text-align : center;
        width      : 20px;
    }

    // Footer heading
    //------------------------------------------------------------------------//
    h4 {
        display       : block;
        font-size     : 18px;
        line-height   : 32px;
        margin-bottom : 10px;
        padding       : 2px 0;
    }

    // Social element
    //------------------------------------------------------------------------//
    .socialList  {

        text-align : center;

        a {

            &:hover {
                background : #fff;
            }

            border          : 2px solid #fff;
            border-radius   : 50%;
            display         : inline-block;
            font-size       : 30px;
            height          : 50px;
            line-height     : 45px;
            margin          : 0 10px 15px;
            text-decoration : none;
            transition      : all .2s ease-in-out;
            width           : 50px;

        }
    }
}

//
// Copyright
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Copyright
//----------------------------------------------------------------------------//
.copyright {

    background : $gray-dark;
    border-top : 2px solid $gray-darker;
    color      : $gray-lighter;
    padding    : 10px 0;

    // Paragraph
    //------------------------------------------------------------------------//
    p {
        display : inline;
    }

    // Link
    //------------------------------------------------------------------------//
    a {
        color : $gray-lighter;
    }

    // Link list
    //------------------------------------------------------------------------//
    ul {
        display : inline;
    }
}