-##
-# Zero Clipboard
-#
-# @usage
-# -# Zero Clipboard
-# = partial "./atom/zeroClipboard/zeroClipboard"
-#
-#
-# Validation .has-warning, .has-error to form-group
-#
-# @category atom
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @see      https://github.com/zeroclipboard/zeroclipboard
-##


-# Open Button
= partial "./atom/button/button",
           locals: { text:    "Copy",
                     context: "primary",
                     clip:    { copy: "copyToClipboard()" },
                     type:    "button" }