---

meta :
    description : "Dropzone - CodeBlender"
    title       : "Dropzone - CodeBlender"

heading :
    small : "Multiple file uploads via drag and drop"
    title : "Dropzone JS"

see :
    - - "Dropzone"
      - "http://www.dropzonejs.com/"
    - - "PHP Tutorial"
      - "http://www.startutorial.com/articles/view/how-to-build-a-file-upload-form-using-dropzonejs-and-php"

---

-# Bar
:ruby
    code = %{codeBlender "dropzone", "organism"}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }