-##
-# Ionic card
-#
-# @usage
-# -# Ionic card
-# = codeBlender "ionic-card", "molecule"
-#
-# @category molecule
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @see      http://ionicframework.com/docs/components/#card-showcase
-##

-# Card
.list.card

    .item.item-avatar

        %img{ :src => "#{images_dir}/home/best-nightclubs-in-london.jpeg" }
        %h2 Best nightclubs in London
        %p  November 05, 1955

    .item.item-body

        %img.full-image{:src => "#{images_dir}/home/best-nightclubs-in-london.jpeg"}

        %p
            This is a "Facebook" styled Card. The header is created from a
            Thumbnail List item, the content is from a card-body consisting of
            an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.

        %p
            %a.subdued{ :href => "#" } 1 Like
            %a.subdued{ :href => "#" } 5 Comments