-##
-# Alerts
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Alert
.alert{ :class => locals[ :context ] ? "alert-#{context}" : "alert-success" }

    -# Dismissable
    - if locals[ :dismiss ]

        -# Button
        = partial "./bootstrap/css/button",
                   :locals => { :aria       => { :label => "Close" },
                                :content    => "&times;",
                                :data       => { :dismiss => "alert" },
                                :extraClass => "close",
                                :type       => "button" }

    -# Text
    = string locals[ :text ]