-##
-# Labels
-#
-# @usage
-# -# Label
-# = partial "./bootstrap/components/label",
-#            locals: { context: "info",
-#                      content: article.date.strftime( '%b %e' ) }
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- extraClass = "label"

-# Context
- if locals[ :context ]
    - extraClass += " label-" + locals[ :context ]
- else
    - extraClass += " label-default"

-# Capture HTML
- captureHTML = capture_html do

    -# Icon
    - if locals[ :icon ]
        = icon( locals[ :icon ] )

    -# Content
    = string locals[ :content ]

-# Link
- if locals[ :href ]
    = link_to( captureHTML, locals[ :href ], class: extraClass )

    -# Span
- else

    %span{ class: extraClass }
        = captureHTML