---

<<<<<<< HEAD
meta :
    description : "Media - CodeBlender"
    title       : "Media - CodeBlender"

heading :
    title : "Media"
=======
description : "Media"
title       : "Media"
>>>>>>> updates

see :
    - - "Bootstrap Media"
      - "http://getbootstrap.com/components/#media"

todo :
    - - "Need to code this up - accepting an array to produce the items - hardcoded at the moment"

---

-# Media
:ruby
    code = %{codeBlender "media", "molecule"}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }
