-##
-# Todo
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category organism
-##

-# Variable
- cp = current_page.data

-# Check array exists
- if cp.todo or locals[ :array ]

    -# Variable
    - array = locals[ :array ] ? locals[ :array ] : cp.todo

    -# Heading
    = codeBlender "heading", "molecule", { tag: "h3", text: "Tasks" }

    -# Create columns array
    - tableData = { column: [ "Task", "Date" ], data: array }

    -# Responsive
    .table-responsive

        -# Variable
        - hidden     = locals[ :hidden ] ? hidden : false
        - extraClass = "table-striped table-condensed"

        -# Table
        = codeBlender "table", "molecule", { array: tableData, id: "dataTableTodo", hidden: hidden, extraClass: extraClass }