---

<<<<<<< HEAD
meta :
    description : "Todo - CodeBlender"
    title       : "Todo - CodeBlender"

heading :
    small : "Collects all the tasks from all resources"
    title : "Global Task List"
=======
description : "Todo"
title       : "Todo"
>>>>>>> updates

see :
    - - "BugHerd"
      - "http://bugherd.com/"

todo :
    - - "Parse all pages collecting the todo for a global Todo List"
    - - "Sort the list based on Date and Priority"
    - - "If a data column is blank then omit it"
    - - "Allow the table to be sorted and filtered"
    - - "The Todo Element should be collapsible - place in details tag?"
    - - "Change flag to priority"
    - - "Add an author column to the table"
    - - "Link in main content should be linked not whole text"
    - - "Context make todo not sure up now"

---

-# Create Array to store the Todo
- todoArray = []

-# Resources that contain the Tag and have the correct extension
- sitemap.resources.select { | r | r.data.todo.present? }.each do | r |

    -# Merge all the todo from the pages
    - todoArray.concat( r.data.todo )

-# Todo
= codeBlender "todo", "organism", { array: todoArray, hidden: true }
