//
// Icon
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Social icon
//----------------------------------------------------------------------------//
.socialIcons {
    li {
        span {
            font-size : 45px;
        }
    }
}

// Facebook
//----------------------------------------------------------------------------//
.fa-facebook-square {
    color : #3b5998;
}

// Twitter
//----------------------------------------------------------------------------//
.fa-twitter-square {
    color : #00aced;
}

// Google
//----------------------------------------------------------------------------//
.fa-google-plus-square {
    color : #dd4b39;
}

// LinkedIn
//----------------------------------------------------------------------------//
.fa-linkedin-square {
    color : #007bb6;
}

// Xing
//----------------------------------------------------------------------------//
.fa-xing-square {
    color : #126567;
}
