---

meta :
    author      : "DryKISS"
    description : "Icon - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Icon - CodeBlender"
    type        : "website"

heading :
    title : "Icon"

see :
    - - "Font Awesome"
      - "http://fortawesome.github.io/Font-Awesome/"
    - - "Fontello"
      - "http://fontello.com/"
    - - "Zocial Icons"
      - "http://zocial.smcllns.com/"

todo :
    - - "Make tabs for the different icons sets we utilise - Font Awesome"
    - - "Present the icons into usable grids - copy from bootstrap"
    - - "Understand the license of Font Awesome"
    - - "Create an SCSS array for the social icons"
    - - "Doc this page more - add in code snippets also"
    - - "Document the social icons more"
    - - "Identify the versions of the icons installed on CodeBlender"
    - - "Allow an icon to be linked in this partial also - link_to"
    - - "Should I use a SPAN or I tag for the icon html"

---

:markdown

    CodeBlender mainly uses the fantastic [Font Awesome](https://fortawesome.github.io/Font-Awesome/)
    icon library.

    Please also check out the [stacked icon](/atom/icon-stacked/icon-stacked.html) partial.

-# Icon
:ruby
    code = %{codeBlender "icon", "atom", { icon: "fa-shopping-cart" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }

-# Icon - angular ng-class
:ruby
    code = %{codeBlender "button", "atom",
    { context: "info",
      icon: { prepend: { ng: { class: "{ 'fa fa-plus': isCollapsed, 'fa fa-minus': !isCollapsed }" } } },
      href: "javascript:;",
      ng:   { click: "isCollapsed = !isCollapsed" } }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Angular ng-class" } }
