//
// Bootstrap
// Creates the CSS for the main structures of the site
//
// @usage
// @import "~atom/scaffolding/scaffolding"
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category atom
//----------------------------------------------------------------------------//

// Global
//----------------------------------------------------------------------------//
* {
    -webkit-font-smoothing                : antialiased;
    -webkit-tap-highlight-color           : rgba( 0, 0, 0, 0 );
    -webkit-touch-callouttext-size-adjust : none;
    -webkit-touch-callout                 : none;
    -moz-osx-font-smoothing               : grayscale;
}

// Focus
//----------------------------------------------------------------------------//
*:focus {
    outline : none;
}

// HTML
//----------------------------------------------------------------------------//
html {
    min-height : 100%;
    position   : relative;
}

// Body
//----------------------------------------------------------------------------//
body {

    // Add Padding required if using the fixed NavBar
    //------------------------------------------------------------------------//
    padding-top : 60px;
}
