---

meta :
    description : "Scaffolding - CodeBlender"
    title       : "Scaffolding - CodeBlender"

heading :
    title : "Scaffolding"

todo :
    - - "Complete more examples"

---

%p
    Scaffolding provides some useful utilities for initialising the CSS and
    structure of the site.
