-##
-# Facebook share button
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category social
-##

-# Url
- locals[ :href ] = locals[ :href ] ? locals[ :href ] : false

-# Layout - icon_link( default ), box_count, button_count, button
- locals[ :layout ] = locals[ :layout ] ? locals[ :layout ] : "icon_link"

-# Size - large and small( default )
- locals[ :size ] = locals[ :size ] ? locals[ :size ] : "small"

-# Mobile iframe - true or false
- locals[ :mobile_iframe ] = locals[ :mobile_iframe ] ? locals[ :mobile_iframe ] : "true"

-# Share button
.fb-share-button{ data: { href: locals[ :href ], layout: locals[ :layout ], small: locals[ :size ], mobile_iframe: locals[ :mobile_iframe ] } }
