---

meta :
    author      : "DryKISS"
    description : "Facebook share button - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Facebook share button - CodeBlender"
    type        : "website"

heading :
    small : "https://developers.facebook.com/docs/plugins/share-button"
    title : "Facebook Share Button Partial"

see :
    - - "Share button"
      - "https://developers.facebook.com/docs/plugins/share-button/"
    - - "Share dialog"
      - "https://developers.facebook.com/docs/sharing/reference/share-dialog"
    - - "Sharing for webmasters"
      - "https://developers.facebook.com/docs/sharing/webmasters"
    - - "Sharing best practices"
      - "https://developers.facebook.com/docs/sharing/best-practices"

---

:markdown

    The share button provides an easy to use access into the share dialog, as
    well as some other functionality such as the button counter.

    - Need to create an application AppID
    - Include the Facebook JS SDK
    - Note the language needs to be configured for the SDK
    - Include the code in the Angular run to load and init the SDK

-# Heading
= codeBlender "heading", "molecule", { text: "Default", tag: "h2" }

-# Share Button
= codeBlender "share-button", "social/facebook/share-button"

-# Code
:code
    #lang: ruby
    = codeBlender "share-button", "social/facebook/share-button"
