---

# Angular
angular :
    controller   : "FacebookController"
    controllerAs : "facebook"

# Meta
meta :
    author      : "DryKISS"
    description : "Facebook share button - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Facebook share button - CodeBlender"
    type        : "website"

heading :
    title : "Facebook share button"

see :
    - - "Share button"
      - "https://developers.facebook.com/docs/plugins/share-button/"
    - - "Share dialog"
      - "https://developers.facebook.com/docs/sharing/reference/share-dialog"
    - - "Sharing for webmasters"
      - "https://developers.facebook.com/docs/sharing/webmasters"
    - - "Sharing best practices"
      - "https://developers.facebook.com/docs/sharing/best-practices"

todo :
    - - "Create the ability to invoke the share dialog without the button : https://developers.facebook.com/docs/sharing/reference/share-dialog"
    - - "Error if a URL is not present - do not default"

---

:markdown

    The share button provides an easy to use access into the share dialog, as
    well as some other functionality such as the button counter.

    - Need to create an application AppID
    - Include the Facebook JS SDK
    - Note the language needs to be configured for the SDK
    - Include the code in the Angular run to load and init the SDK

-# Default
:ruby
    code = %{codeBlender "share-button", "social/facebook/share-button", { href: "http://drykiss.com/" } }

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }

-# Button count
:ruby
    code = %{codeBlender "share-button", "social/facebook/share-button", { href: "http://drykiss.com/", layout: "button_count" } }

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Button count" } }

%hr

:markdown

    Can also invoke the share dialog directly through JavaScript, this has the
    added advantage of being able to be used on a custom button.

    - Trigger a Share Dialog using the FB.ui function with the share method parameter to share a link.
    - Need to implement

-# Button - share dialog
:ruby
    code = %{codeBlender "button", "atom", { text: "SHARE", ng: { click: "facebook.share( 'http://drykiss.com' )" } }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Share dialog" } }
