---

<<<<<<< HEAD
meta :
    description : "Collapse - CodeBlender"
    title       : "Collapse - CodeBlender"

heading :
    small : "Simple accordions"
    title : "Collapse Partial"
=======
description : "Collapse"
title       : "Collapse"
>>>>>>> updates

see :
    - - "Bootstrap Collapse"
      - "http://getbootstrap.com/javascript/#collapse"

todo :
    - - "Make the whole section a link (PP: DONE, 2014-08-28)"
    - - "Change H4 Tags to partials"

---

-# Collapse
:ruby
    code = %{codeBlender "collapse", "molecule", { openIn: 0 } }

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }
