---

meta :
    author      : "DryKISS"
    description : "Collapse - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Collapse - CodeBlender"
    type        : "website"

heading :
    small : "Simple accordions"
    title : "Collapse Partial"

see :
    - - "Bootstrap Collapse"
      - "http://getbootstrap.com/javascript/#collapse"

todo :
    - - "Make the whole section a link (PP: DONE, 2014-08-28)"
    - - "Change H4 Tags to partials"

locals :
    - - "array"
      - "array"
      - "required"
      - "Array of panels"
    - - "id"
      - "string"
      - "optional"
      - "Accordion ID defaults to accordion"
    - - "openIn"
      - "integer"
      - "optional"
      - "Open the accordian at index (0...)"

---

-# ID
- id = 0

-# Collapse
:ruby
    code = %{partial "molecule/collapse/collapse.haml", locals: { openIn: 0 } }

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code, heading: { text: "Default" } }