---

<<<<<<< HEAD
meta :
    description : "Coderwall - CodeBlender"
    title       : "Coderwall - CodeBlender"

heading :
    title : "Coderwall"
=======
description : "Coderwall"
title       : "Coderwall"
>>>>>>> updates

see :
    - - "Coderwall API"
      - "https://coderwall.com/api"

todo :
    - - "Move the JS and CSS out of the layout file"
    - - "Complete Coderwall Partial coderwall.com/welcome"

---

-# Heading
= codeBlender "heading", "molecule", { text: "Default", tag: "h2" }

%section.coderwall{ data: { coderwall: { username: "iwarner", orientation: "horizontal" } } }

.clearfix