-##
-# Image
-# Provides Icon, Logo and caption if required
-#
-# Rules
-# if we have an angular - ng-src then the src should be false
-#
-# @usage
-# -# Image
-# = partial "./atom/image/image", locals: { src: loremPixel() }
-#
-# @param    caption - Image caption
-#
-# @category atom
-# @stub     image
-# @author   Ian Warner <ian.warner@drykiss.com>
-#
-# @todo Sort out the image Tag here
-##

- attributes = { alt:       locals[ :alt ]        ? string( alt ) : "Image",
                 class:     locals[ :extraClass ] ? extraClass    : false,
                 data:      locals[ :data ]       ? data          : false,
                 draggable: locals[ :draggable ]  ? draggable     : false,
                 height:    locals[ :size ]       ? size[ 1 ]     : false,
                 id:        locals[ :id ]         ? id            : false,
                 itemprop:  "contentUrl",
                 ng:        locals[ :ng ]         ? ng            : false,
                 width:     locals[ :size ]       ? size[ 0 ]     : false }

-# Figure
%figure{ itemprop: "image", itemscope: true, itemtype: "http://schema.org/ImageObject" }

    -# Assume Angular
    - if ! locals[ :src ]

        -# Image Tag
        %img{ attributes }

    - else

        -# Image Tag
        = image_tag locals[ :src ], attributes

    -# Check for Caption
    - if locals[ :caption ]

        -# Caption
        %figcaption{ itemprop: "caption" }
            = caption
