-##
-# Facebook comment
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category social
-# @see      https://developers.facebook.com/docs/plugins/comments/
-##

-# Colour scheme
- if ! locals[ :colorscheme ]
    - colorscheme = "light"

-# Type
- if ! locals[ :type ]
    - type = "html5"

-# HTML5
- if type == "html5"

    .fb-comments{ data: { colorscheme: colorscheme } }

    -# XFBML
- elsif type == "xfbml"
    XFBML

    -# iFrame
- elsif type == "iframe"
    iFrame

    -# URL
- elsif type == "url"
    URL