---

description : "Facebook comment"
title       : "Facebook comment"

see :
    - - "Facebook comment"
      - "https://developers.facebook.com/docs/plugins/comments"

---

-# Default
:ruby
    code = %{codeBlender "comment", "social/facebook/comment"}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }
