---

meta :
    author      : "DryKISS"
    description : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    image       : "Image"
    subject     : "DryKISS"
    title       : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    type        : "website"

heading :
    title : "Pager"

see :
    - - "Bootstrap Pager"
      - "http://getbootstrap.com/components/#pagination-pager"

todo :
    - - "Add the disabled state"
      - "Pager"
      - "2014-06-27"
      - { "context" : "warning" }
    - - "Add the centered pager style"
      - "Pager"
      - "2014-06-27"
      - { "context" : "warning" }
    - - "Need to pass through the links correctly"
      - "Pager"
      - "2014-06-27"
      - { "context" : "warning" }

---

- id = 1

-# Tabs
:ruby
    code = %{partial "./molecule/pager/pager"}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Default" } }