---

meta :
    author      : "DryKISS"
    description : "Facebook follow button - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Facebook follow button - CodeBlender"
    type        : "website"

heading :
    small : "https://developers.facebook.com/docs/plugins/follow-button"
    title : "Facebook follow button"

see :
    - - "Facebook follow button"
      - "https://developers.facebook.com/docs/plugins/follow-button/"

---

-# ID
- id = 0

-# Default
:ruby
    code = %{partial "social/facebook/follow-button/follow-button.haml"}

-# Code
= codeBlender "code", "organism", { id: id += 1, code: code, heading: { text: "Default" } }
