---

meta :
    author      : "DryKISS"
    description : "Facebook follow button - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Facebook follow button - CodeBlender"
    type        : "website"

heading :
    title : "Facebook follow button"

see :
    - - "Facebook follow button"
      - "https://developers.facebook.com/docs/plugins/follow-button"

---

-# Default
:ruby
    code = %{codeBlender "follow-button", "social/facebook/follow-button"}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }
