---

meta :
    author      : "DryKISS"
    description : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    image       : "Image"
    subject     : "DryKISS"
    title       : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    type        : "website"

heading :
    small : "Panel that shows the attributes available for each partial"
    title : "Locals"

todo :
    - - "Need to be able to list attributes under an Array option - i.e. tab them in"
      - "Locals"
      - "2014-06-03"
      - { "context" : "info" }

---