---

meta :
    author      : "DryKISS"
    description : "Local - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Local - CodeBlender"
    type        : "website"

heading :
    small : "Panel that shows the attributes available for each partial"
    title : "Locals"

todo :
    - - "Need to be able to list attributes under an Array option - i.e. tab them in"

---