-##
-# Icon
-# Provides a partial for showing an icon
-#
-# @usage
-# -# Icon
-# = partial "./atom/icon/icon", locals: { icon: "fa-shopping-cart" }
-#
-# @param    icon - Icon name, must include prefix of supplier
-#
-# @category atom
-# @author   Ian Warner <ian.warner@drykiss.com>
-##

-# Find out Icon Library
- iconName    = string locals[ :icon ]
- iconLibrary = iconName.partition( "-" )

-# Icon
%span{ class: "#{ iconLibrary[ 0 ] } #{ iconName }" }