-##
-# Icon Stacked
-# Only available with the Font Awesome library
-#
-# @usage
-# -# Icon Stacked
-# = partial "./atom/icon/iconStacked", locals: { icon: "fa-shopping-cart", size: "fa-2x" }
-#
-# @param    icon - Icon name, must include prefix of supplier
-# @param    size - Stack size
-#
-# @category atom
-# @author   Ian Warner <ian.warner@drykiss.com>
-##

-# Find out Icon Library
- iconName    = string locals[ :icon ]

-# Icon - Stack
%span{ class: "fa fa-stack #{ size }" }

    -# Icon - Outer Stack
    = partial "./atom/icon/icon", locals: { icon: "fa-circle-thin fa-stack-2x" }

    -# Icon - Inner Stack
    = partial "./atom/icon/icon", locals: { icon: iconName }