-##
-# Top Icon
-#
-# @usage
-# -# Top Icon
-# = partial "./molecule/top-icon/top-icon"
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

%ul.nav.pull-right.scrollTop{ ng: { controller: "TopIconController as topIcon" } }

    %li

        = link_to( "javascript:;", title: "Scroll to top", ng: { click: "topIcon.gotoTop()" } ) do

            -# Icon
            = partial "./atom/icon/icon", locals: { icon: "fa-chevron-up" }