---

description : "Shop"
title       : "Shop"

see :
    - - "Simple Cart Shelf"
      - "http://simplecartjs.org/documentation/the_shelf"
    - - "Sample Product List"
      - "http://www.keenthemes.com/preview/metronic_ecommerce/product-list.html"
    - - "Sample Shop BTempted"
      - "http://btemptedhq.myshopify.com/"
    - - "Shop Example Themetrust"
      - "http://themetrust.com/demos/gather/"
    - - "Simple Cart"
      - "http://simplecartjs.org/"
    - - "Simple Cart Github"
      - "https://github.com/wojodesign/simplecart-js"
    - - "Navigation Guidelines"
      - "http://uxdesign.smashingmagazine.com/2013/11/11/guidelines-navigation-categories-ecommerce-study/"

todo :
    - - "Create the product elements with add to cart, price description and title"
    - - "Lightbox to see bigger image in modal"
    - - "Filter for products - price range etc"
    - - "Create widgets for best sellers, top three, home page module etc"
    - - "Rename this to E-Commerce as the widgets can be applied to most shopping patterns"
    - - "Provide an easy to edit template for the cart and widget for where data gets inputted"
    - - "Cart URL should be a config variable as it appears in several places"

---

-# Description
:markdown
    Create a list of products in the products.yaml file.
    To create these as a Simple Cart shelf, add the relevant classes to the items.

-# Widget
/ .row
/     .col-md-3= codeBlender "widget", "organsim"

/ -# Check Products exists
/ - if data.products

/     -# Thumbnails array
/     - thumbnails  = []

/     -# Product Loop
/     - data.products.each do | product |

/         -# Content
/         - capture = capture_html do

/             -# Simple Cart Shelf Items
/             .simpleCart_shelfItem

/                 -# Heading
/                 = codeBlender "heading", "molecule", { extraClass: "item_name", tag: "h3", text: product.title }

/                 -# Excerpt
/                 %p= product.excerpt

/                 -# Product Link
/                 - page = product.title.downcase.gsub( /[^a-z0-9\- ]/, ' ' ).gsub( / /, '-' )

/                 -# Cost
/                 %p.pull-left.item_price
/                     &pound;
/                     = product.cost

/                 -# Button
/                 = codeBlender "button", "atom", { text:       "Buy",
/                                      context:    "primary",
/                                      href:       "javascript:;",
/                                      extraClass: "item_add pull-right" }

/         -# Thumbnail Array
/         - thumbnails << { :image     => { :extraClass => "item_image item_add",
/                                           :src        => "products/#{product.image}" },
/                           :thumbnail => { :caption    => capture,
/                                           :zoomix     => true } }

/ -# Thumbnails
/ = codeBlender "thumbnail", "molecule", { array:      thumbnails,
/                      thumbClass: "styled text-center product" }