---

meta :
    author      : "DryKISS"
    description : "Editor - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Editor - CodeBlender"
    type        : "website"

heading :
    title : "Editor"

see :
    - - "CK Editor"
      - "http://ckeditor.com/"

todo :
    - - "Complete an example of this"
      - "Calendar"
      - "2014-02-20"
      - { "context" : "info" }

---

%form

    %textarea#editor1{ name: "editor1", rows: "10", cols: "80" }
        Replace with CKEditor