---

heading :
    small  : "Twitter social plugins and widgets"
    title : "Twitter Partials"

meta :
    author      : "Ian Warner"
    description : "Social plugins for Twitter"
    title       : "Twitter Partials"

see :
    - - "Twitter Developers"
      - "https://dev.twitter.com/"

---