---

meta :
    author      : "DryKISS"
    description : "Facebook recommendations bar - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Facebook recommendations bar - CodeBlender"
    type        : "website"

heading :
    small : "https://developers.facebook.com/docs/plugins/recommendations-bar"
    title : "Facebook Recommendations Bar Partial"

see :
    - - "Facebook Recommendations Bar"
      - "https://developers.facebook.com/docs/plugins/recommendations-bar"

---

-# Heading
= codeBlender "heading", "molecule", { text: "Default", tag: "h2" }

-# Recommendations Bar
= codeBlender "recommendation-bar", "social/facebook/recommendation-bar"

-# Code
:code
    #lang: ruby
    = codeBlender "recommendation-bar", "social/facebook/recommendation-bar"