---

meta :
    author      : "DryKISS"
    description : "Tip the Web - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Tip the Web - CodeBlender"
    type        : "website"

heading :
    title : "Tip the Web"

---

%p
    Tip the Web
