---

<<<<<<< HEAD
meta :
    description : "Tip the Web - CodeBlender"
    title       : "Tip the Web - CodeBlender"

heading :
    title : "Tip the Web"
=======
description : "Tip the Web"
title       : "Tip the Web"
>>>>>>> updates

---

%p
    Tip the Web
