---

stub : search

heading :
    small : "Google Search"
    title : "Search"

see :
    - - "Google Search"
      - "https://www.google.com/cse/all"

---

/ -# Plus Button
/ :ruby
/     code = %{partial "./molecule/search/search"}

/ = partial "./organism/code/code", locals: { id: 1, code: code, heading: { text: "Default" } }