---

stub : heading

heading :
    title : "Heading"

see :
    - - "Bootstrap Headings"
      - "http://getbootstrap.com/css/#type-headings"

todo :
    - - "Complete all the headings options"
      - "Headings"
      - "2014-05-21"
      - { "context" : "info" }

locals :
    - - "extraClass"
      - "string"
      - "optional"
      - "Extra Classes for the heading element"
    - - "small"
      - "string"
      - "optional"
      - "Small description, flows next to the heading"
    - - "text"
      - "string"
      - "required"
      - "Main heading text"
    - - "tag"
      - "string"
      - "optional"
      - "Heading Tag H1 to H6 - default H1"

---

-# Default
:ruby
    code = %{partial "./molecule/heading/heading", locals: { text: "Default H1 Tag" }}

= partial "./organism/code/code",
           locals: { id:      1,
                     code:    code,
                     heading: { text: "" } }

-# H2 With Small
:ruby
    code = %{partial "./molecule/heading/heading",
                      locals: { small: "Secondary small text",
                                text:  "H2 with Secondary Text",
                                tag:   "h2" }}

= partial "./organism/code/code",
           locals: { id:      2,
                     code:    code,
                     heading: { text: "" } }

-# H4
:ruby
    code = %{partial "./molecule/heading/heading",
                      locals: { small: "Simply change the tag attribute",
                                text:  "H4",
                                tag:   "h4" }}

= partial "./organism/code/code",
           locals: { id:      3,
                     code:    code,
                     heading: { text: "" } }

-# Heading With Link
:ruby
    code = %{partial "./molecule/heading/heading",
                      locals: { href:  "#",
                                small: "With a Link attached",
                                text:  "Linked Heading",
                                tag:   "h2" }}

= partial "./organism/code/code",
           locals: { id:      4,
                     code:    code,
                     heading: { text: "" } }