---

meta :
    author      : "DryKISS"
    description : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    image       : "Image"
    subject     : "DryKISS"
    title       : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    type        : "website"

heading :
    small : "in Popover"
    title : "Form File Image Previewer"

see :
    - - "Bootstrap Supported Controls"
      - "http://getbootstrap.com/css/#tables-responsive"
    - - "W3 Specification"
      - "http://www.w3.org/TR/html-markup/input.file.html"
    - - "Input File - Popover Preview Image"
      - "http://bootsnipp.com/snippets/featured/input-file-popover-preview-image"

---

- id = 1

/ -# Text Type
/ :ruby
/     code = %{partial "./form/imagePreview"}

/ = partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "File Image Preview" } }