---

stub : passwordStrength

heading :
    small : "Meter"
    title : "Password Strength"

see :
    - - "Bootstrap Supported Controls"
      - "http://getbootstrap.com/css/#tables-responsive"
    - - "W3 Specification"
      - "http://www.w3.org/TR/html-markup/input.file.html"

locals :
    - - "help"
      - "String"
      - "Optional"
      - "Help text - sometimes used for error messages"
    - - "label"
      - "Array"
      - "Optional"
      - "Text and Flag for Screen Reader for the label"
    - - "name"
      - "String"
      - "Required"
      - "Name and ID of the field"
    - - "placeholder"
      - "String"
      - "Optional"
      - "Placeholder text"
    - - "required"
      - "Bool"
      - "Optional"
      - "If validation is required"
    - - "strengthMeter"
      - "Bool"
      - "Required"
      - "Adds the Password Strength Meter to the password field"
    - - "type"
      - "String"
      - "Required"
      - "Type of the form input. Should be password"
    - - "value"
      - "String"
      - "Optional"
      - "Value for the input"

---

- id = 1

%h2 Rule set

%ul
    %li eight or more characters long
    %li a mix of letters, numbers and symbols
    %li at least medium strength

-# Password Type
:ruby
    code = %{partial "./atom/input/input",
                      locals: { help:  { text: "Enter 8 characters [a-zA-Z0-9]" },
                                icon:  { prepend: "fa-credit-card" },
                                input: { extraClass:      "password-strength form-control",
                                         inputGroupClass: "input-group form-group-password-strength",
                                         name:            "password",
                                         placeholder:     "Enter password",
                                         type:            "password" },
                                label: { title: "Password" },
                                strengthMeter: true }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { small: "Also contains some help text", text: "Password Type" } }

-# Bootstrap row
.row

    %h2
        States

    .col-md-4.col-sm-4.col-xs-4

        -# Bootstrap Columns
        .col-md-12

            -# Body Content
            - body = capture_html do

                .text-center
                    %span.xlarge
                        %i{ class: "icon-password-weak" }

            -# Panel
            = partial "./atom/panel/panel",
                       locals: { body:    body,
                                 context: "primary",
                                 footer:  "Weak",
                                 tools:   true }

    .col-md-4.col-sm-4.col-xs-4

        -# Bootstrap Columns
        .col-md-12

            -# Body Content
            - body = capture_html do

                .text-center
                    %span.xlarge
                        %i{ class: "icon-password-medium" }

            -# Panel
            = partial "./atom/panel/panel",
                       locals: { body:    body,
                                 context: "primary",
                                 footer:  "Medium",
                                 tools:   true }

    .col-md-4.col-sm-4.col-xs-4

        -# Bootstrap Columns
        .col-md-12

            -# Body Content
            - body = capture_html do

                .text-center
                    %span.xlarge
                        %i{ class: "icon-password-strong" }

            -# Panel
            = partial "./atom/panel/panel",
                       locals: { body:    body,
                                 context: "primary",
                                 footer:  "Strong",
                                 tools:   true }