---

meta :
    author      : "DryKISS"
    description : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    image       : "Image"
    subject     : "DryKISS"
    title       : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    type        : "website"

heading :
    title : "Tab"

see :
    - - "Bootstrap Tab"
      - "http://getbootstrap.com/javascript/#tabs"

todo :
    - - "Complete the Partial for Tabs"
      - "Tab"
      - "2014-02-20"
      - { "context" : "info" }

---

TBC