---

stub : tab

heading :
    title : "Tab"

see :
    - - "Bootstrap Tab"
      - "http://getbootstrap.com/javascript/#tabs"

todo :
    - - "Complete the Partial for Tabs"
      - "Tab"
      - "2014-02-20"
      - { "context" : "info" }

---

TBC