---

meta :
    author      : "DryKISS"
    description : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    image       : "Image"
    subject     : "DryKISS"
    title       : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    type        : "website"

heading :
    small : "Displays the tags for blog posts"
    title : "Tags"

see :
    - - "Middleman Blogging"
      - "http://middlemanapp.com/blogging"

todo :
    - - "Options to put in a badge and add a tag icon on the tag element"
      - "Tag"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Options to remove the Heading - change text or tag"
      - "Tag"
      - "2014-02-12"

---

- id = 1

-# Tags
:ruby
    code = %{partial "./molecule/tagCloud/tagCloud"}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Default" } }