-##
-# Checkbox
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    http://montrezorro.github.io/bootstrap-checkbox/
-# @see    http://arthurgouveia.com/prettyCheckable/
-##

-# Variables
- l  = locals
- la = l[ :aria ]

-# Form Group
.checkbox{ class: l[ :extraClass ] ? extraClass : false }

    -# Input
    %input{ aria:      { label:      ! la.blank? && ! la[ :label ].blank?      ? la[ :label ]      : false,
                         labelledby: ! la.blank? && ! la[ :labelledby ].blank? ? la[ :labelledby ] : "#{ l[ :name ] }ID" },
            autofocus: l[ :autofocus ] ? "autofocus" : false,
            disabled:  l[ :disabled ]  ? "disabled"  : false,
            id:        l[ :name ]      ? name        : false,
            name:      l[ :name ]      ? name        : false,
            required:  l[ :required ]  ? "required"  : false,
            tabindex:  l[ :tabindex ]  ? tabindex    : false,
            type:      "checkbox",
            value:     l[ :value ]     ? value       : false }

    -# Label
    %label{ class: l[ :inline ] ? "checkbox-inline" : false, for: l[ :name ] }

        -# Text
        - if l[ :text ]
            %span{ id: "#{ l[ :name ] }ID" }= string text

    -# Help Block
    -# Sometimes this should be hidden to allow errors to be added inside.
    -# Assume if l[ :help ] is a "true" Bool only then add class hidden and no text
    - if l[ :help ]

        %span.help-block{ class: !!help == help ? "hidden" : false }

            -# Help should be a string to show the text otherwise leave blank
            - if help.is_a?( String )
                = help