-##
-# File Image Preview Popover
-#
-# @author Pratomchai P
-# @see    http://bootsnipp.com/snippets/featured/input-file-popover-preview-image
-##

-# Button Append Content
- buttonAppend = capture_html do

    -# button
    = partial "./bootstrap/css/button",
               locals: { extraClass: "image-preview-clear",
                         content:    "Clear",
                         context:    info",
                         icon:       "fa-times" }

    -# Browse Button
    %div.btn.btn-default.image-preview-input

        -# Icon
        = icon "fa-folder-open"

        -# Title
        %span.image-preview-input-title Browse

        -# Hidden File Upload
        %input{ accept: "image/png, image/jpeg, image/gif",
                name:   "file-image-preview",
                type:   "file" }

-# Input
= partial "./atom/input/input",
           locals: { button: { append:  buttonAppend },
                     icon:   { prepend: "fa-file" },
                     input:  { disabled:        true,
                               extraClass:      "form-control image-preview-filename",
                               inputGroupClass: "input-group image-preview",
                               placeholder:     "Select image" },
                     label:  { title: "Image" } }