-##
-# Mailchimp Subscribe Form
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- dc = data.config

-# If Action if not supplied - get details from Config.yaml
- if ! locals[ :action ]
    - if dc.mailChimp.path
        - action = dc.mailChimp.path + "?u=" + dc.mailChimp.u + "&id=" + dc.mailChimp.id + "&c=?"

-# Subscription Form
%form#mailChimpForm.mailChimpForm{ action: action, method: "get", novalidate: locals[ :novalidate ] ? "novalidate" : true }

    -# Email Address Input
    = partial "./atom/input/input",
               locals: { icon:  { prepend: "fa-envelope" },
                         input: { inputGroupClass: "input-group",
                                  name:            "EMAIL",
                                  placeholder:     :"mailchimp.email",
                                  type:            "email" },
                         label: { extraClass: "sr-only", title: "Email" } }

    -# Whether to show the name elements
    - if locals[ :name ]

        -# First Name
        = partial "./atom/input/input",
                   locals: { icon:  { prepend: "fa-user" },
                             input: { inputGroupClass: "input-group",
                                      name:            "FNAME",
                                      placeholder:     :"mailchimp.FirstName" } }

        -# Last Name
        = partial "./atom/input/input",
                   locals: { icon:  { prepend: "fa-user" },
                             input: { inputGroupClass: "input-group",
                                      name:            "LNAME",
                                      placeholder:     :"mailchimp.LastName" } }

    -# Subscribe
    = partial "./bootstrap/css/button",
               locals: { block:   locals[ :buttonBlock ] ? true : false,
                         context: "primary",
                         content: :"mailchimp.button" }