---

meta :
    author      : "DryKISS"
    description : "Football matrix of soccer results - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Football matrix of soccer results - CodeBlender"
    type        : "website"

heading :
    title : "Football matrix"

todo :
    - - "FE: Create the grid with a nickname or badge also"
    - - "API: Add the nickname - stub name to the sheet"

---

-# Football matrix
= partial "football/matrix/matrix.haml", locals: { division: 1, season: 13 }