---

meta :
    description : "Football matrix of soccer results - CodeBlender"
    title       : "Football matrix of soccer results - CodeBlender"

heading :
    title : "Football matrix"

todo :
    - - "FE: Create the grid with a nickname or badge also"
    - - "API: Add the nickname - stub name to the sheet"

---

-# Football matrix
= codeBlender "matrix", "football", { division: 1, season: 13 }
