//
// Blog Recent
//
// @usage
// @import "~molecule/recent/recent";
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category molecule
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module : 'blogRecent';

// Blog recent
//----------------------------------------------------------------------------//
.#{ $module } {

    margin-bottom : 32px;

    // Label
    //------------------------------------------------------------------------//
    &__label {
    }

    // Heading
    //------------------------------------------------------------------------//
    &__heading {
        border-bottom  : 1px solid #797878;
        color          : $brand-primary;
        padding-bottom : 5px;
    }

    // List
    //------------------------------------------------------------------------//
    &__list {
    }

    // DT portion
    //------------------------------------------------------------------------//
    &__dt {
        width      : inherit !important;
        text-align : inherit !important;
    }

    // DD portion
    //------------------------------------------------------------------------//
    &__dd {
        margin-left   : 85px !important;
        margin-bottom : 6px;
    }

    // Media queries - Mobile
    //------------------------------------------------------------------------//
    @media only screen and ( min-width: 320px ) and ( max-width: 767px )
    {
        .dl-horizontal dt {
            float         : left;
            clear         : left;
            overflow      : hidden;
            text-overflow : ellipsis;
            white-space   : nowrap;
        }
    }

}
