//
// Blog Recent
//
// @usage
// @import "~molecule/recent/recent";
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category molecule
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module : 'blogRecent';

// Blog recent
//----------------------------------------------------------------------------//
.#{ $module } {

    margin-bottom : 30px;

    // Label
    //------------------------------------------------------------------------//
    &__label {
        border-radius : 0;
        display       : inline-block;
        margin-right  : 5px;
        min-width     : 60px;
        padding       : 5px;
    }

    // Heading
    //------------------------------------------------------------------------//
    &__heading {
        border-bottom  : 1px solid #797878;
        color          : $brand-primary;
        padding-bottom : 5px;
    }

    // List
    //------------------------------------------------------------------------//
    &__list {
    }

}
