-##
-# Blog recent articles
-#
-# @usage
-# -# Blog recent
-# = codeBlender "recent", "molecule", { name: "blog" }
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category molecule
-##

-# Blog name
- name = locals[ :name ] ? locals[ :name ] : blog_controller.name

-# Count Default
- if ! locals[ :count ]
    - count = 10

-# Section - Blog Recent
%section.blogRecent

    -# Heading
    = codeBlender "heading", "molecule", { extraClass: "blogRecent__heading", tag: "h4", text: string( :"recent.title" ) }

    -# UL List - Unstyled
    %dl.blogRecent__list.dl-horizontal

        -# Loop through the Blog Posts - Order by Date
        - blog( name ).articles[ 0...count.to_i ].each do | article |

            %dt.blogRecent__dt

                -# Label
                = codeBlender "label", "atom", { extraClass: "blogRecent__label", context: "info", content: article.date.strftime( '%b %e' ) }

            %dd.blogRecent__dd

                -# Link to the Article
                = link_to string( article.title ), article, { class: "blogRecent__link heading--truncate" }
