//
// Blog Recent
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Blog Recent
//----------------------------------------------------------------------------//
.blogRecent {

    border-bottom : 1px solid $gray-lighter;

    // Label
    //------------------------------------------------------------------------//
    &__label {
        display      : inline-block;
        margin-right : 5px;
        min-width    : 60px;
        padding      : 5px;
    }

    // List
    //------------------------------------------------------------------------//
    &__list {
        margin-top : 5px;
    }

}
