-##
-# Blog recent articles
-#
-# @usage
-# -# Blog recent
-# = codeBlender "recent", "molecule"
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category molecule
-#
-# @todo Should use the List partial
-##

-# Count Default
- if ! locals[ :count ]
    - count = 10

-# Section - Blog Recent
%section.blogRecent

    -# Heading
    = codeBlender "heading", "molecule", { tag: "h4", text: "Recent" }

    -# UL List - Unstyled
    %ul.list-unstyled.blogRecent__ul

        -# Loop through the Blog Posts - Order by Date
        - blog.articles[ 0...count.to_i ].each do | article |

            -# List
            %li.blogRecent__list

                -# Label
                = codeBlender "label", "atom", { extraClass: "blogRecent__label", context: "info", content: article.date.strftime( '%b %e' ) }

                -# Link to the Article
                = link_to string( article.data.heading.title ), article