---

meta :
    author      : "DryKISS"
    description : "Recent - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Recent - CodeBlender"
    type        : "website"

heading :
    small : "Displays the latest blog posts"
    title : "Recent Posts"

see :
    - - "Middleman Blogging"
      - "http://middlemanapp.com/blogging"

todo :
    - - "Option to change the badge colour"

locals :
    - - "count"
      - "int"
      - "optional"
      - "How many articles to display"

---

- id = 0

-# Recent
:ruby
    code = %{partial "molecule/recent/recent.haml", locals: { count: "10" }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code, heading: { small: "Lists 10 posts", text: "Recent Posts" } }