---

meta :
    description : "Recent - CodeBlender"
    title       : "Recent - CodeBlender"

heading :
    small : "Displays the latest blog posts"
    title : "Recent Posts"

see :
    - - "Middleman Blogging"
      - "http://middlemanapp.com/blogging"

todo :
    - - "Option to change the badge colour"
    - - "Should use the List partial"

locals :
    - - "count"
      - "int"
      - "optional"
      - "How many articles to display"

---

-# Recent
:ruby
    code = %{codeBlender "recent", "molecule", { count: "10", name: "docs" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Lists 10 posts", text: "Recent Posts" } }
