---

description : "Recent"
title       : "Recent"

see :
    - - "Middleman Blogging"
      - "http://middlemanapp.com/blogging"

todo :
    - - "Should be able to push in a template for the design of the post card"
    - - "Option to change the badge colour"
    - - "Should use the List partial"

---

-# Recent
:ruby
    code = %{codeBlender "recent", "molecule", { count: "10", name: "docs" }}

-# Code
= codeBlender "code", "molecule", { code: code, heading: { small: "Lists 10 posts", text: "Recent Posts" } }
