---
author       : "Ian Warner"
description  : "List of Blog components created as Middleman partials."
layout       : "site/page"
small        : "Useful partials to help create a modern blog"
title        : "Blog Partials"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/"
    - title  : "Archive"
      url    : "/blog/archive"
    - title  : "Details"
      url    : "/blog/details"
    - title  : "Recent"
      url    : "/blog/recent"
    - title  : "Tags"
      url    : "/blog/tags"

see :
    - - "Middleman Blogging"
      - "http://middlemanapp.com/blogging"
    - - "Metronic Theme"
      - "http://keenthemes.com/preview/index.php?theme=metronic_frontend"

todo :
    - - "Create a Blog Listings page that lists X amount of blogs and paginated"
      - "Blog"
      - "2014-02-12"
    - - "Add in categories and subcategories for blog posts to create a story flow"
      - "Blog"
      - "2014-02-12"
    - - "Blog frontmatter should have Facebook / Twitter details - document"
      - "Blog"
      - "2014-02-12"
    - - "Complete Older and Newer links to other articles"
      - "Blog"
      - "2014-02-12"
    - - "Related articles section"
      - "Blog"
      - "2014-02-12"
    - - "Create the correct HTML5 section and microformats i.e. article"
      - "Blog"
      - "2014-02-12"
    - - "Need to add in Country, Category and Subcategory changes to Middleman Blog"
      - "Blog"
      - "2014-02-12"
    - - "Blog Tab Module Should be definable by Country, Language, Product, Category and Subcategory"
      - "Blog"
      - "2014-02-12"
    - - "Enable tabs to be positioned left or right - default left."
      - "Blog"
      - "2014-02-12"
    - - "Author Biographies and Photo"
      - "Blog"
      - "2014-02-12"
    - - "Table of contents should look better - collapsable - use JS"
      - "Blog"
      - "2014-02-12"
---

%p
    Blog Details