---
author       : "Ian Warner"
description  : "Bootstrap Partials"
layout       : "site/page"
small        : "Components of Bootstrap made easy."
title        : "Bootstrap Partials"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/"
    - title  : "Badges"
      url    : "/bootstrap/components/badges"
    - title  : "Blockquote"
      url    : "/bootstrap/type/blockquote"
    - title  : "Breadcrumbs"
      url    : "/bootstrap/components/breadcrumbs"
    - title  : "Button"
      url    : "/bootstrap/css/button"
    - title  : "Carousel"
      url    : "/bootstrap/javascript/carousel"
    - title  : "Collapse"
      url    : "/bootstrap/javascript/collapse"
    - title  : "Forms"
      url    : "/bootstrap/css/forms"
    - title  : "Heading"
      url    : "/bootstrap/type/heading"
    - title  : "Image"
      url    : "/bootstrap/css/image"
    - title  : "Jumbotron"
      url    : "/bootstrap/components/jumbotron"
    - title  : "Label"
      url    : "/bootstrap/components/label"
    - title  : "List Group"
      url    : "/bootstrap/components/list-group"
    - title  : "Lists"
      url    : "/bootstrap/type/list"
    - title  : "Media"
      url    : "/bootstrap/components/media"
    - title  : "Navbar"
      url    : "/bootstrap/components/navbar"
    - title  : "Navs"
      url    : "/bootstrap/components/navs"
    - title  : "Pager"
      url    : "/bootstrap/components/pager"
    - title  : "Pagination"
      url    : "/bootstrap/components/pagination"
    - title  : "Table"
      url    : "/bootstrap/css/table"
    - title  : "Thumbnails"
      url    : "/bootstrap/components/thumbnails"

see :
    - - "Fuel UX"
      - "http://exacttarget.github.io/fuelux/"
    - - "Jasny"
      - "http://jasny.github.io/bootstrap/index.html"
    - - "Bootstrap Lightbox"
      - "http://www.jasonbutz.info/bootstrap-lightbox/"
    - - "Tags"
      - "http://maxwells.github.io/bootstrap-tags.html"
    - - "Form Helpers"
      - "http://bootstrapformhelpers.com/language/#jquery-plugins"
    - - "Bootstrap Switch"
      - "http://www.bootstrap-switch.org/"
    - - "Bootstrap Markdown"
      - "http://toopay.github.io/bootstrap-markdown/"
    - - "Table of Contents"
      - "http://gregfranko.com/jquery.tocify.js/"

todo :
    - - "Add elements from this site - http://tutorialzine.com/2013/07/50-must-have-plugins-for-extending-twitter-bootstrap/"
      - "Blog"
      - "2014-02-12"
---