---
author       : "Ian Warner"
description  : "List of Google components created as Middleman partials."
layout       : "site/page"
small        : "Google Partials"
title        : "Google Partials"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/"
    - title  : "Adsense"
      url    : "/google/adsense"
    - title  : "Analytics"
      url    : "/google/analytics"
    - title  : "Plus"
      url    : "/google/plus"
    - title  : "Search"
      url    : "/google/search"

see :
    - - "Google Web Plugins"
      - "https://developers.google.com/+/web/plugins"
---