---
author       : "Ian Warner"
description  : "List of Scaffolding components created as Middleman partials."
layout       : "site/page"
small        : "Components for the overall site"
title        : "Scaffolding Partials"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/"
    - title  : "Bar"
      url    : "/scaffolding/bar"
    - title  : "Copyright"
      url    : "/scaffolding/copyright"
    - title  : "Details"
      url    : "/scaffolding/details"
    - title  : "Dropzone Upload"
      url    : "/scaffolding/dropzone-upload"
    - title  : "Footer"
      url    : "/scaffolding/footer"
    - title  : "Geo Location"
      url    : "/scaffolding/geolocation"
    - title  : "Notifications"
      url    : "/scaffolding/notifications"
    - title  : "Resources"
      url    : "/scaffolding/resources"
    - title  : "Simple Cart"
      url    : "/scaffolding/simple-cart"
    - title  : "Speech"
      url    : "/scaffolding/speech"
    - title  : "Stripe"
      url    : "/scaffolding/stripe"
    - title  : "Todo"
      url    : "/scaffolding/todo"
---