---

meta :
    author      : "DryKISS"
    description : "Search - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Search - CodeBlender"
    type        : "website"

# Variables
layout : "_library/fullWidth"

# Heading
heading :
    small : "Search"
    title : "Google Search"

# See
see :
    - - "Custom Search"
      - "https://www.google.com/cse/all"

---

-# Bootstrap Container
.container

    -# Bootstrap Container
    .row

        -# Bootstrap Column
        .col-md-12

            -# Search Google
            = partial "./molecule/search/search"