---
author       : "Ian Warner"
description  : "List of social plugins and widgets from Facebook, twitter etc."
layout       : "site/page"
small        : "List of Middleman social partials"
title        : "Social Partials"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/"
    - title  : "Disqus"
      url    : "/social/disqus"
    - title  : "Facebook"
      url    : "/social/facebook"
    - title  : "Gravatar"
      url    : "/social/gravatar"
    - title  : "Mailchimp"
      url    : "/social/mailchimp"
    - title  : "Tip the Web"
      url    : "/social/tiptheweb"
    - title  : "Twitter"
      url    : "/social/twitter"

see :
    - - "Facebook Plugins"
      - "https://developers.facebook.com/docs/plugins"

todo :
    - - "Add more resources to the documentation"
      - ""
      - "2014-02-12"
---

%p
    Adding social elements to your site is crucial these days. Peer validation of
    your content and overall site will drive organic and free traffic.