---

meta :
    author      : "DryKISS"
    description : "Nav components, tabs and pills - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Nav components, tabs and pills - CodeBlender"
    type        : "website"

heading :
    small : "Tabs or pills navigation with content areas"
    title : "Navs"

see :
    - - "Bootstrap nav"
      - "http://getbootstrap.com/components/#nav"

todo :
    - - "Put a dropdown example in here also"
    - - "Add the options for the toggle tabs"
    - - "Create some style changes for these"
    - - "Add the options for the toggle tabs"
    - - "Sort out how the active element should be created in the list or on the UL"
    - - "Allow this to also accept an angular NG-Repeat"
    - - "Need to work out how to expand the code section for several partials like tabs and tab content"

locals :
    - - "active"
      - "string"
      - "optional"
      - "Active Element - defaults to first in Array"
    - - "array"
      - "array"
      - "required"
      - "Required - Tab Names - [ { path: \"\", name: \"\" } ]"
    - - "pills"
      - "bool"
      - "optional"
      - "Pills or tabs  - Default : tabs"
    - - "stacked"
      - "bool"
      - "optional"
      - "Stack - Default : false"
    - - "toggle"
      - "bool"
      - "optional"
      - "Toggle tab sections - used in javaScript tabs"

---

-# ID
- id = 0

-# Tabs
:ruby
    code = %{partial "./molecule/nav/nav",
                      locals: { array: [ { url: "javascript:;", text: "Details" },
                                         { url: "javascript:;", text: "Download"} ] }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Tabs" } }

-# Pills
:ruby
    code = %{partial "./molecule/nav/nav",
                      locals: { pills: true,
                                array: [ { url: "javascript:;", text: "Details" },
                                         { url: "javascript:;", text: "Download"} ] }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Pills" } }

-# Stackable pills
:ruby
    code = %{partial "./molecule/nav/nav",
                      locals: { active:  "GitHub",
                                pills:   true,
                                stacked: true,
                                array:   [ { icon: { prepend: "fa-credit-card" }, url: "javascript:;", text: "Details" },
                                           { url: "javascript:;", text: "Download" },
                                           { icon: { append: "fa-github" }, url: "javascript:;", text: "GitHub"} ] }}
-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: {  small: "With icons", text: "Stackable pills" } }

-# Justified pills
:ruby
    code = %{partial "./molecule/nav/nav",
                      locals: { pills:      true,
                                extraClass: "nav-justified",
                                array:      [ { url: "javascript:;", text: "Details" },
                                              { url: "javascript:;", text: "Download" },
                                              { extraClass: "disabled", url: "javascript:;", text: "GitHub"} ] }}
-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { small: "With disabled link", text: "Justified pills" } }
