---

meta :
    author      : "DryKISS"
    description : "Football fixture of soccer results - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Football fixture of soccer results - CodeBlender"
    type        : "website"

heading :
    title : "Football fixture"

todo :
    - - ""

---

-# Football fixture
= partial "football/fixture/fixture"