-##
-# Dublin Core Meta Tags
-#
-# Tags can be set via the current_page.data elements or through content yield
-# the latter is especially useful for localized pages where the front matter
-# will change dynamically for the language.
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category meta
-# @see      http://dublincore.org/documents/dces/
-# @see      http://www.dublincoregenerator.com/generator.html
-# @see      http://schema.org/LocalBusiness
-##

-# Variables
- m = current_page.data.stub

-# If there is meta tabs present then override the stub method
- if current_page.data.meta
    - m = current_page.data.meta
- else
    - m = "meta.#{ current_page.data.stub }"

- title       = current_page.data.meta ? m.title       : :"#{ m }.title"
- description = current_page.data.meta ? m.description : :"#{ m }.description"
- author      = current_page.data.meta ? m.author      : :"#{ m }.author"

-# Meta
%meta{ name: "dcterms.title",       content: string( title ) }
%meta{ name: "dcterms.description", content: string( description ) }
%meta{ name: "dcterms.publisher",   content: string( author ) }
%meta{ name: "dcterms.language",    content: data.config.lang }
%meta{ name: "dcterms.creator",     content: string( author ) }
