-##
-# Dublin Core Meta Tags
-#
-# Tags can be set via the current_page.data elements or through content yield
-# the latter is especially useful for localized pages where the front matter
-# will change dynamically for the language.
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category meta
-# @see      http://dublincore.org/documents/dces/
-# @see      http://www.dublincoregenerator.com/generator.html
-# @see      http://schema.org/LocalBusiness
-##

-# Variables
- cp = current_page.data.meta

-# If there is meta tabs present then override the stub method
- if cp
    - m = cp
- else
    - m = "meta.#{ current_page.data.stub }"

- title       = cp ? m.title       : :"#{ m }.title"
- description = cp ? m.description : :"#{ m }.description"
- author = content_for?( :metaAuthor ) ? yield_content( :metaAuthor ) : cp && cp.author ? string( m.author ) : t( :"#{ m }.author", :default => string( :"meta.author" ) )

-# Meta
%meta{ name: "dcterms.title",       content: string( title ) }
%meta{ name: "dcterms.description", content: string( description ) }
%meta{ name: "dcterms.publisher",   content: string( author ) }
%meta{ name: "dcterms.language",    content: string( :locale ) }
%meta{ name: "dcterms.creator",     content: string( author ) }
