-##
-# Fancy Meta Tags
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category meta
-# @see      https://fancy.com/about/fancy-meta
-##

-# Fancy Category
%meta{ property: "fancy:category", content: "Mens" }
