-##
-# Google Meta Tags
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category meta
-##

-# Webmasters Tools Site Verification
%meta{ name: "google-site-verification", content: data.google.webmasterTools }
