-##
-# Meta mobile tags
-#
-# <meta name="viewport"
-#       content="
-#           height = [pixel_value | device-height] ,
-#           width = [pixel_value | device-width ] ,
-#           initial-scale = float_value ,
-#           minimum-scale = float_value ,
-#           maximum-scale = float_value ,
-#           user-scalable = [yes | no] ,
-#           target-densitydpi = [dpi_value | device-dpi |
-#                                high-dpi | medium-dpi | low-dpi]" />
-#
-# user-scalable=no, maximum-scale=1, width=device-width, minimal-ui"
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Mobile meta tags
%meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

-# Google add to home screen
%meta{ name: "mobile-web-app-capable", content: "yes" }
