-##
-# Twitter meta tags
-# These are used to create the cards for twitter when a share is actioned.
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category meta
-# @see      https://dev.twitter.com/cards/getting-started
-# @see      https://dev.twitter.com/cards/markup
-# @see      https://cards-dev.twitter.com/validator
-##

-# Current page data
- cp = current_page.data.meta

-# Front matter meta
- if cp
    - m = current_page.data.meta

    -# Stub meta
- else
    - m = "meta.#{ current_page.data.stub }"

-# Twitter data
- twitter = data.twitter

-# URL
- url = t( :url )

-# Site
-# The Twitter @username the card should be attributed to.
%meta{ name: "twitter:site", content: twitter.account }

-# Card type
%meta{ name: "twitter:card", content: "summary_large_image" }

-# Creator
%meta{ name: "twitter:creator", content: twitter.account }

-# Title (max 70 characters)
-# A concise title for the related content.
%meta{ name: "twitter:title", content: content_for?( :metaTitle ) ? yield_content( :metaTitle ) : cp ? string( m.title ) : string( :"#{ m }.title" ) }

-# Description (maximum 200 characters)
-# A description that concisely summarizes the content as appropriate for presentation within a Tweet.
%meta{ name: "twitter:description", content: content_for?( :metaTwitterDescription ) ? yield_content( :metaTwitterDescription ) : cp ? string( m.twitterDescription ) : string( :"#{ m }.twitterDescription" ) }

-# Image
-# A URL to a unique image representing the content of the page. Images for this
-# Card should be at least 280px in width, and at least 150px in height. Image
-# must be less than 1MB in size.
%meta{ name: "twitter:image", content: content_for?( :metaImage ) ? yield_content( :metaImage ) : cp ? string( m.image ) : string( :"#{ m }.image" ) }

-# URL
-# Should be the same as the Canonical URL
%meta{ content: url, property: "twitter:domain" }
