---

meta :
    author      : "DryKISS"
    description : "Meta - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Meta - CodeBlender"
    type        : "website"

heading :
    title : "Meta"

see :
    - - "http://www.webmarketingnow.com/tips/meta-tags-uncovered.html#keywords"

todo :
    - - "Complete more examples"

---

%p Provides a sanitised list of meta tags to place on a modern website
