---

meta :
    description : "Meta - CodeBlender"
    title       : "Meta - CodeBlender"

heading :
    title : "Meta"

see :
    - - "http://www.webmarketingnow.com/tips/meta-tags-uncovered.html#keywords"

todo :
    - - "Complete more examples"

---

%p Provides a sanitised list of meta tags to place on a modern website
