---

meta :
    author      : "DryKISS"
    description : "Flex slider - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Flex slider - CodeBlender"
    type        : "website"

heading :
    title : "Flex slider"

todo :
    - - "Complete an example of the Flex slider"

---

Flex slider