---

<<<<<<< HEAD
meta :
    description : "Flex slider - CodeBlender"
    title       : "Flex slider - CodeBlender"

heading :
    title : "Flex slider"
=======
description : "Flex slider"
title       : "Flex slider"
>>>>>>> updates

todo :
    - - "Complete an example of the Flex slider"

---

Flex slider
