---

meta :
    description : "Flex slider - CodeBlender"
    title       : "Flex slider - CodeBlender"

heading :
    title : "Flex slider"

todo :
    - - "Complete an example of the Flex slider"

---

Flex slider