---

meta :
    author      : "DryKISS"
    description : "Blog calendar - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Blog calendar - CodeBlender"
    type        : "website"

heading :
    small : Articles by Date
    title : Calendar

layout   : "_library/tag"
pageable : true
per_page : 12
date     : 2001-03-31

---

-# List - unstyled
%ul.list-unstyled

    -# Loop through the Articles
    - page_articles.each do | article |

        -# List
        %li

            -# Label
            = partial "./atom/label/label", locals: { context: "info", content: article.date.strftime( '%b %e' ), icon: "fa-calendar", itemprop: "keywords" }

            -# Link
            = link_to article.data.heading.title, article

-# Pagination
.text-center

    -# Pagination Variables
    - prevPage = prev_page ? prev_page : false
    - nextPage = next_page ? next_page : false

    -# Pagination
    = partial "./molecule/pagination/pagination", locals: { nextPage: nextPage, prevPage: prevPage, pageNo: page_number, pages: num_pages }
