---

meta :
    author      : "DryKISS"
    description : "Google search - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Google search - CodeBlender"
    type        : "website"

heading :
    small : "Google Search"
    title : "Search"

see :
    - - "Google Search"
      - "https://www.google.com/cse/all"

---

-# ID
- id = 0

/ -# Plus Button
/ :ruby
/     code = %{partial "molecule/search/search"}

/ = partial "organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Default" } }