---

meta :
    description : "Pagination - CodeBlender"
    title       : "Pagination - CodeBlender"

heading :
    title : "Pagination"

pageable : true

see :
    - - "Bootstrap Pagination"
      - "http://getbootstrap.com/components/#pagination"
    - - "Pagination Tutorial"
      - "http://www.slevenbits.com/blog/2013/01/middleman-blog-pagination.html"

todo :
    - - "Test this with Directory Indexes etc"
    - - "Enable options to show all numbers"
    - - "Mark up the pagination with correct schema.org stuff"

---

-# Pagination Variables
- prevPage = prev_page ? prev_page : false
- nextPage = next_page ? next_page : false

-# Pagination
= codeBlender "pagination", "molecule", { nextPage: nextPage, prevPage: prevPage, pageNo: page_number, pages: num_pages }
