//
// Colour
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Colour
//----------------------------------------------------------------------------//
.colour {
    border         : 2px solid #EEE;
    height         : 150px;
    line-height    : 150px;
    text-align     : center;
    vertical-align : middle;
    width          : 150px;
}