//
// Colour
//
// @author Ian Warner <ian.warner@drykiss.com>
//--------------------------------------------------------------------------- //

// Colour
//--------------------------------------------------------------------------- //
.colour {
    border         : 2px solid #EEE;
    height         : 150px;
    line-height    : 150px;
    text-align     : center;
    vertical-align : middle;
    width          : 150px;
}

// @include bg-variant( '.bg-primary-blue',   $brand-primary-blue );
// @include bg-variant( '.bg-primary-orange', $brand-primary-orange );
// @include bg-variant( '.bg-primary-white',  $brand-primary-white );
// @include bg-variant( '.bg-primary-grey',   $brand-primary-grey );

// @include bg-variant( '.bg-overlap-blue',   $brand-overlap-blue );
// @include bg-variant( '.bg-overlap-orange', $brand-overlap-orange );
// @include bg-variant( '.bg-overlap-yellow', $brand-overlap-yellow );