//
// Nav Above
//
// @author Ian Warner <ian.warner@drykiss.com>
//--------------------------------------------------------------------------- //

// Nav Above
//--------------------------------------------------------------------------- //
.navAbove {

    margin : 20px 0;

    h1 {
        font-size : 32px;
        margin    : 0;
    }

}

// Responsive
// --------------------------------------------------------------------------- //
@media screen and (max-width: 1024px) {
    .navAbove {
        display : none;
    }
}