//
// Variables
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Colours
//----------------------------------------------------------------------------//
$brand-primary-blue   : #1A1F71 !default;
$brand-primary-orange : #F7B600 !default;
$brand-primary-white  : #FFF    !default;
$brand-primary-grey   : #75787B !default;

$brand-overlap-blue   : #003EA9 !default;
$brand-overlap-orange : #EF8400 !default;
$brand-overlap-yellow : #FFD700 !default;

// Tables
//----------------------------------------------------------------------------//
$table-cell-padding : 4px !default;