---

meta :
    description : "Resource - CodeBlender"
    title       : "Resource - CodeBlender"

heading :
    small : "Useful sites and tutorials"
    title : "Resource"

locals :
    - - "array"
      - "array"
      - "optional"
      - "Overrides the current_page.data.see"

---

-# Default
:ruby
    code = %{codeBlender "resource", "organism", { array: [ [ "Pusher", "http://pusher.com/" ] ] }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }