---

stub : dropdown

heading :
    small : "Button and Navbar dropdowns"
    title : "Dropdowns"

see :
    - - "Dropdowns"
      - "http://getbootstrap.com/component/#dropdowns"
    - - "Button Dropdowns"
      - "http://getbootstrap.com/javascript/#dropdowns"

todo :
    - - "Split Dropdown markup out of the list partial - create a dropdown list partial instead as easier to maintain"
      - "Dropdown"
      - "2014-04-28"
      - { "context" : "info" }
    - - "Enable the caret to be modified - could be an icon, image or the default caret."
      - "Dropdown"
      - "2014-04-28"
      - { "context" : "info" }
    - - "Dropdowns are present in the Components and JavaScript side of things"
      - "Dropdown"
      - "2014-04-28"
      - { "context" : "info" }

locals :
    - - "array"
      - "array"
      - "required"
      - "Array of list items"
    - - "listClass"
      - "string"
      - "optional"
      - "String of classes for the List element"

list :
    - header  : "Header"
    - text    : "Action1"
      link    :
          url : "#"
    - text    : "Another action"
      link    :
          url   : "#"
    - divider : true
    - text    : "Action2"
      link    :
          url   : "#"
      status  : "disabled"

---

%p
    Dropdowns are based on two components, the clickable element, be that a
    button or A tag; and the list component that falls beneath. Either can be
    used in isolation.

    Bootstrap dropdown.js is required to make the clickable element interactive.

/ [ { text: "Action1", link: { url: "#" } }, { text: "Another action", link: { url: "#" } } ]

-# Variables
- days = []

- ( 1...32 ).each do | i |
    - days << [ i ]

= days

-# Just a Dropdown
:ruby
    code = %{partial "./bootstrap/component/dropdown",
                      locals: { button:     { ng: { click: "callAttemptsOpen=!callAttemptsOpen" } },
                                extraClass: "dropdown",
                                list:       { array:    [ { text: "Action1", link: { url: "#" } }, { text: "Another action", link: { url: "#" } } ],
                                              dropdown: true },
                                ng:         { class: "{ open: callAttemptsOpen }", model: "callAttempts" },
                                title:      "Drop Down",
                                type:       "dropdown" } }

-# Code
= partial "./scaffolding/code",
           locals: { id:      1,
                     code:    code,
                     heading: { small: "With a Header, divider and Disabled Link",
                                text:  "Just a Dropdown" } }

-# Button Group Dropdown
:ruby
    code = %{partial "./bootstrap/component/dropdown",
                      locals: { extraClass: "btn-group clearfix",
                                title:      "Drop Down",
                                type:       "btn-group",
                                list:       { array:    current_page.data.list,
                                              dropdown: true }}}

-# Code
= partial "./scaffolding/code",
           locals: { id:      2,
                     code:    code,
                     heading: { text: "Button Group Dropdown" } }

-# Nav Bar Dropdown
:ruby
    code = %{partial "./bootstrap/component/dropdown",
                      locals: { extraClass: "clearfix",
                                title:      "Drop Down",
                                list:       { array:    current_page.data.list,
                                              dropdown: true }}}

-# Code
= partial "./scaffolding/code",
           locals: { id:      3,
                     code:    code,
                     heading: { text: "Navbar Dropdown" } }