---

stub : component

heading :
    title : "Component"

see :
    - - "Bootstrap Component"
      - "http://getbootstrap.com/components"

todo :
    - - "Complete the Responsive Embed Partial and Page"
      - "components"
      - "2014-06-27"
      - { "context" : "warning" }
    - - "Complete the Glyphicons Partial and Page"
      - "components"
      - "2014-06-27"
      - { "context" : "warning" }
    - - "Look at button groups and button dropdowns - may be included in other pages also such as dropdowns."
      - "components"
      - "2014-06-27"
      - { "context" : "warning" }
    - - "Input Groups - this may have been moved to the forms section - make a small example in components"
      - "components"
      - "2014-06-27"
      - { "context" : "warning" }
    - - "Look at the page header element - contains a div for .page-header"
      - "components"
      - "2014-06-27"
      - { "context" : "warning" }

---