---

stub : media

heading :
    title : "Media"

see :
    - - "Bootstrap Media"
      - "http://getbootstrap.com/component/#media"

todo :
    - - "Need to code this up - accepting an array to produce the items - hardcoded at the moment"
      - "Media"
      - "2014-06-27"
      - { "context" : "danger" }

---

-# Media
:ruby
    code = %{partial "./bootstrap/component/media"}

-# Code
= partial "./scaffolding/code",
           locals: { id:      1,
                     code:    code,
                     heading: { text: "Default" } }