---

stub : navs

heading :
    small : "Tabs or Pills navigation with content areas"
    title : "Navs"

see :
    - - "Bootstrap Navs"
      - "http://getbootstrap.com/component/#nav"
    - - "Togglable Tabs"
      - "http://getbootstrap.com/javascript/#tabs"

todo :
    - - "Add the options for the Togglable tabs"
      - "Navs"
      - "2014-05-13"
      - { "context" : "warning" }

locals :
    - - "active"
      - "string"
      - "optional"
      - "Active Element - defaults to first in Array"
    - - "array"
      - "array"
      - "required"
      - "Required - Tab Names - [ { :path => \"\", :name => \"\" } ]"
    - - "pills"
      - "bool"
      - "optional"
      - "Pills or tabs  - Default : tabs"
    - - "stacked"
      - "bool"
      - "optional"
      - "Stack - Default : false"
    - - "toggle"
      - "bool"
      - "optional"
      - "Toggle tab sections - used in Javascript Tabs"

---

-# Tabs
:ruby
    code = %{partial "./bootstrap/component/navs",
                      locals: { array: [ { path: "javascript:;", name: "Details" },
                                         { path: "javascript:;", name: "Download"} ] }}

-# Code
= partial "./scaffolding/code",
           locals: { id:      1,
                     code:    code,
                     heading: { text: "Tabs" } }

-# Pills
:ruby
    code = %{partial "./bootstrap/component/navs",
                      locals: { pills: true,
                                array: [ { path: "javascript:;", name: "Details" },
                                         { path: "javascript:;", name: "Download"} ] }}

-# Code
= partial "./scaffolding/code",
           locals: { id:      2,
                     code:    code,
                     heading: { text: "Pills" } }

-# Stackable Pills
:ruby
    code = %{partial "./bootstrap/component/navs",
                      locals: { pills:      true,
                                extraClass: "nav-stacked",
                                array:      [ { path: "javascript:;", name: "Details" },
                                              { path: "javascript:;", name: "Download"} ] }}
-# Code
= partial "./scaffolding/code",
           locals: { id:      3,
                     code:    code,
                     heading: { text: "Stackable Pills" } }

-# Togglable tabs tab.js
:ruby
    code = %{partial "./bootstrap/component/navs",
                      locals: { array:  [ { path: "#details4",  name: "Details" },
                                          { path: "#download4", name: "Download"} ],
                                toggle: true }}

-# Tab Content
.tab-content

    -# Code
    .tab-pane.active{ id: "details4" }
        details4

    -# Output
    .tab-pane{ id: "download4" }
        Download

-# Code
= partial "./scaffolding/code",
           locals: { id:      4,
                     code:    code,
                     heading: { small: "Requires tab.js",
                                text:  "Togglable tabs" } }