---

stub : pager

heading :
    title : "Pager"

see :
    - - "Bootstrap Pager"
      - "http://getbootstrap.com/components/#pagination-pager"

todo :
    - - "Add the disabled state"
      - "Pager"
      - "2014-06-27"
      - { "context" : "warning" }
    - - "Add the centered pager style"
      - "Pager"
      - "2014-06-27"
      - { "context" : "warning" }
    - - "Need to pass through the links correctly"
      - "Pager"
      - "2014-06-27"
      - { "context" : "warning" }

---

-# Tabs
:ruby
    code = %{partial "./bootstrap/component/pager"}

-# Code
= partial "./scaffolding/code", locals: { id: 1, code: code, heading: { text: "Default" } }