---

meta :
    author      : "DryKISS"
    description : "Tooltip contextual information - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Tooltip contextual information - CodeBlender"
    type        : "website"

heading :
    small : "Provides contextual information for a user."
    title : "Tooltip"

see :
    - - "Bootstrap popover"
      - "http://getbootstrap.com/javascript/#tooltips"

todo :
    - - "This needs rewriting to allow for the container to be more than a button"

---

-# Default
:ruby
    code = %{codeBlender "tooltip", "molecule", { content: "Default",
                                placement: "auto top",
                                popBody:   "Tooltip Body Copy",
                                popTitle:  "Tooltip Default" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Auto positioned tooltip", text: "Default tooltip" } }
