---

meta :
    author      : "DryKISS"
    description : "Tooltip contextual information - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Tooltip contextual information - CodeBlender"
    type        : "website"

heading :
    small : "Provides contextual information for a user."
    title : "Tooltip"

see :
    - - "Bootstrap popover"
      - "http://getbootstrap.com/javascript/#tooltips"

todo :
    - - "This needs rewriting to allow for the container to be more than a button"

---

-# Default
:ruby
    code = %{codeBlender "tooltip", "molecule", { content: "Default",
                                placement: "auto top",
                                popBody:   "Tooltip Body Copy",
                                popTitle:  "Tooltip Default" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Auto positioned tooltip", text: "Default tooltip" } }

%hr

-# Bootstrap row
.row

    -# Bootstrap column
    .col-md-6

        -# Panel body - markdown
        - panelBody = capture_html do
            :markdown
                - Controlled through an angular directive

        -# Panel
        = codeBlender "panel", "molecule", { body: panelBody, heading: { text: "Features" } }

    -# Bootstrap column
    .col-md-6

        -# Panel body - markdown
        - panelBody = capture_html do
            :markdown
                - Include the directive in the sprockets JS
                - Place the desired data elements on the child element

        -# Panel
        = codeBlender "panel", "molecule", { body: panelBody, heading: { text: "Requirements" } }

%hr
