-##
-# Image
-# Provides icon, logo and caption if required
-#
-# Rules
-# if we have an angular - ng-src then the src should be false
-#
-# @usage
-# -# Image
-# = partial "./atom/image/image", locals: { src: loremPixel() }
-#
-# @locals
-# @param caption - Image caption
-#
-# @category atom
-# @stub     image
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @see      http://getbootstrap.com/css/?#images
-# @see      https://middlemanapp.com/basics/helper_methods/
-##

-# Extra class
- extraClass = locals[ :extraClass ] ? "#{ locals[ :extraClass ] } image__img" : "image__img"

-# Attributes
- attributes = { alt:       locals[ :alt ]        ? string( alt ) : "Image",
                 class:     locals[ :extraClass ],
                 data:      locals[ :data ]       ? data          : false,
                 draggable: locals[ :draggable ]  ? draggable     : false,
                 height:    locals[ :size ]       ? size[ 1 ]     : false,
                 id:        locals[ :id ]         ? id            : false,
                 itemprop:  "contentUrl",
                 ng:        locals[ :ng ]         ? ng            : false,
                 width:     locals[ :size ]       ? size[ 0 ]     : false }

-# Figure
%figure.image{ itemprop: "image", itemscope: true, itemtype: "http://schema.org/ImageObject" }

    -# Assume angular
    - if ! locals[ :src ]

        -# Image tag
        %img{ attributes }

    - else

        -# Image tag
        = image_tag locals[ :src ], attributes

    -# Check for caption
    - if locals[ :caption ]

        -# Caption
        %figcaption.image__caption{ itemprop: "caption" }= caption