---

description : "Facebook video embed"
title       : "Facebook video embed"

see :
    - - "Facebook video embed"
      - "https://developers.facebook.com/docs/plugins/embedded-video-player"

---

-# Default
:ruby
    code = %{codeBlender "video-embed", "social/facebook/video-embed", { href: "Deliveroo/videos/1165008793619139", width: "800" } }

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }
