---

meta :
    description : "Progres bar - CodeBlender"
    title       : "Progres bar - CodeBlender"

heading :
    title : "Progress Bar"

see :
    - - "Bootstrap Progress Bar"
      - "http://getbootstrap.com/components/#progress"

---

:markdown
    Cross-browser compatibility

    Progress bars use CSS3 transitions and animations to achieve some of their
    effects. These features are not supported in Internet Explorer 9 and below
    or older versions of Firefox. Opera 12 does not support animations.


-# Default
:ruby
    code = %{codeBlender "progress-bar", "molecule", { array: [ width: 33 ] }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }

-# Attributes
:ruby
    code = %{codeBlender "progress-bar", "molecule", { array: [ animated: :true,
                                         context:  "success",
                                         striped:  :true,
                                         width:    33 ] }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Attributes" } }

-# Low Percentage
:ruby
    code = %{codeBlender "progress-bar", "molecule", { array: [ animated: :true,
                                         context:  "warning",
                                         label:    true,
                                         width:    2 ] }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Shows label", text: "Low Percentage" } }

-# Stacked
:ruby
    code = %{codeBlender "progress-bar", "molecule", { array: [ { animated: :true,
                                           context:  "warning",
                                           label:    true,
                                           width:    33 },
                                         { animated: :true,
                                           context:  "success",
                                           label:    false,
                                           striped:  :true,
                                           width:    33 } ] }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Multiple bars into the same Progress", text: "Stacked" } }