<div class="fb-page" data-href="<%= locals[:href] %>" data-small-header="true" width="500">
  <blockquote class="fb-xfbml-parse-ignore" cite="<%= locals[:href] %>">
    <%= link_to(locals[:title], locals[:href]) %>
  </blockquote>
</div>
