---

description : "Forgot password"
title       : "Forgot password"

see :
    - - "Example forgot password"
      - "http://www.keenthemes.com/preview/metronic_admin/login.html"

---

-# Bootstrap Row
.row

    -# Bootstrap Columns
    .col-md-5.col-md-offset-3

        -# Forgot password
        = codeBlender "forgot-password", "molecule"
