---

author      : "DryKISS"
description : "Bring Bootstrap's components to life with over a dozen custom jQuery
               plugins. Easily include them all, or one by one."
small       : ""
title       : "Javascript"

---

-# Heading
= partial "./bootstrap/type/heading",
           :locals => { :text => "Individual or compiled",
                        :tag  => "h2" }

%p
    Plugins can be included individually (using Bootstrap's individual *.js files),
    or all at once (using bootstrap.js or the minified bootstrap.min.js).