---

stub : javascript

heading :
    title : "Javascript"

---

-# Heading
= partial "molecule/heading/heading", locals: { tag:  "h2", text: "Individual or compiled" }

%p
    Plugins can be included individually (using Bootstrap's individual *.js files),
    or all at once (using bootstrap.js or the minified bootstrap.min.js).