---

meta :
    author      : "DryKISS"
    description : "Address convenient way to display an address - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Address convenient way to display an address - CodeBlender"
    type        : "website"

heading :
    title : "Address"

---

%p
    Address
