---

<<<<<<< HEAD
meta :
    description : "Address convenient way to display an address - CodeBlender"
    title       : "Address convenient way to display an address - CodeBlender"

heading :
    title : "Address"
=======
description : "Address convenient way to display an address"
title       : "Address convenient way to display an address"
>>>>>>> updates

---

%p
    Address

-# Address
:ruby
    code = %{codeBlender "address", "atom", { poBox: "PO Box 1001", street: "20 Everywhere Road", city: "London", region: "Surrey", postCode: "SW11 1AA", country: "United Kingdom" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }
