---

author      : "DryKISS"
description : "Displays a formatted list of blog posts by Year and Month."
small       : "Blog archive by year and month"
title       : "Archive"

see :
    - - "Archive UI Pattern"
      - "http://ui-patterns.com/patterns/Archive"

todo :
    - - "Can I show these by day also - or in a nice calendar format?"
      - "Blog"
      - "2014-02-27"
      - { "context" : "info" }

---

-# Archive
:ruby
    code = %{partial "./blog/archive"}

= partial "./scaffolding/code",
           :locals => { :id      => 1,
                        :code    => code,
                        :heading => { :small => "",
                                      :text  => "Archive" } }