---

author      : "DryKISS"
date        : 2014-01-20
description : ""
small       : "Showcases the details, tags of the post"
tags        : [ blog, middleman ]
title       : "Details"

see :
    - - "Middleman Blogging"
      - "http://middlemanapp.com/blogging"
    - - "Blog Footer"
      - "http://bootsnipp.com/snippets/featured/blog-post-footer"

todo :
    - - "Link Up Date, Author and Comments"
      - "Details"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Add in social links - Twitter / Google+"
      - "Details"
      - "2014-02-12"
      - { "context" : "info" }

locals :
    - - "comments"
      - "bool"
      - "optional"
      - "Whether to show the comments"
    - - "more"
      - "bool"
      - "optional"
      - "Whether to show more details"

---

-# Details
:ruby
    code = %{partial "./blog/details",
                      :locals => { :more => true }}

= partial "./scaffolding/code",
           :locals => { :id      => 1,
                        :code    => code,
                        :heading => { :small => "",
                                      :text  => "Default" } }