---

author      : "DryKISS"
description : "List of Blog components created as Middleman partials."
small       : "Useful partials to help create a modern blog"
title       : "Blog"

see :
    - - "Middleman Blogging"
      - "http://middlemanapp.com/blogging"
    - - "Metronic Theme"
      - "http://keenthemes.com/preview/index.php?theme=metronic_frontend"

todo :
    - - "Blog - complete the Tags and Calendar drop down pages"
      - "Blog"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Blog frontmatter should have Facebook / Twitter details - document"
      - "Blog"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Complete Older and Newer links to other articles"
      - "Blog"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Related articles section"
      - "Blog"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Create the correct HTML5 section and microformats i.e. article"
      - "Blog"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Author Biographies and Photo - microformat"
      - "Blog"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Table of contents should look better - collapsable - use JS"
      - "Blog"
      - "2014-02-12"
      - { "context" : "info" }

---