---

meta :
    author      : "DryKISS"
    description : "Ribbon - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Ribbon - CodeBlender"
    type        : "website"

heading :
    title : "Ribbon"

todo :
    - - "Complete more examples"

---

%p Ribbon provides a CSS image decoration.
