---

<<<<<<< HEAD
meta :
    description : "Ribbon - CodeBlender"
    title       : "Ribbon - CodeBlender"

heading :
    title : "Ribbon"
=======
description : "Ribbon"
title       : "Ribbon"
>>>>>>> updates

todo :
    - - "Complete more examples"

---

%p Ribbon provides a CSS image decoration.
