-# Google Plus Button
-# https://developers.google.com/+/web/+1button/

-# Locals
-#

-# Usage
-# = partial "#{pathPartials}/google/plus"

-# Plus Button
.g-plusone{ :data => { :size => "standard" } }

:javascript

    window.___gcfg = { lang : 'en-GB' };

    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s  = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();