//
// Simple Cart
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Cart Widget in NavBar
//----------------------------------------------------------------------------//
.navbar {
    .cartWidget {
        padding-top : 9px;
        position    : relative;
    }
}

// Cart Widget
//----------------------------------------------------------------------------//
.cartWidget {

    position : relative;
    padding  : 10px 0;

    // Cart Info
    //------------------------------------------------------------------------//
    .cartInfo {

        background    : #EFF1F4;
        border-radius : 8px;
        color         : #6e6e6e;
        cursor        : pointer;
        font-size     : 13px;
        padding       : 6px 35px 6px 5px;
        position      : relative;

        // Hover
        //--------------------------------------------------------------------//
        &:hover{
            background-color : #ddd;
        }

        // Icon
        //--------------------------------------------------------------------//
        i {
            background    : #e84d1c;
            border-radius : 8px !important;
            color         : #fff;
            font-size     : 20px;
            padding       : 6px 6px 4px;
            position      : absolute;
            right         : 0;
            top           : 0;
        }
    }

    // Cart Popover
    //------------------------------------------------------------------------//
    #cartPopover {

        background    : #45484a;
        border-radius : 8px;
        color         : #fff;
        position      : absolute;
        right         : -16px;
        top           : 50px;
        width         : 300px;
        z-index       : 9999;

        // Icon
        //--------------------------------------------------------------------//
        i {
            color       : #45484A;
            font-size   : 24px;
            margin-left : -12px;
            position    : absolute;
            right       : 38px;
            top         : -14px;
        }

        .itemRow {
            border-bottom : 1px solid #2B2D2E;
            border-top    : 1px solid #434547;
            padding       : 10px;
            height        : 40px;

            div {
                float : left;
            }
        }

        .item-custom {
            margin-right : 10px;
        }

        .item-custom span {
            float   : left;
            display : inline-block;
        }

        .item-custom div {
            float       : left;
            margin-left : 3px;
        }

        .simpleCart_increment, .simpleCart_decrement {
            line-height : 1;
            font-size   : 1px;
            display     : block;
            height      : 5px;
            margin-top  : 3px;
        }

        .item-name {
            float         : left;
            width         : 180px;
            white-space   : nowrap;
            overflow      : hidden;
            text-overflow : ellipsis;
        }

        .itemRow .item-total {
            float : right;
        }

        #cartData {
            background : #232425;
            padding    : 10px;
        }

        #popoverButtons {
            padding : 10px;
        }
    }
}

// Product
//----------------------------------------------------------------------------//
.product {

    .price {
        color       : #e84d1c;
        padding-top : 5px;
    }
}

// Cart Items
//----------------------------------------------------------------------------//
.simpleCart_items {

    table {
        border :1px solid #ccc;
    }

    th {
        color         : #333;
        text-align    : left;
        padding       : 10px 30px;
        border-bottom : 1px solid #ccc;
        @include linear-gradient( top,  #f7f7f7 0%,#ededed 100% );
    }

    td {
        padding        : 10px 30px;
        vertical-align : middle;
        border-bottom  : 1px solid #ccc;
    }

    .item-image, .item-image img {
        width : 72px;
    }

    .item-name {
        width : 50%;
    }

    .item-quantity, .item-quantity input {
        width      : 30px;
        text-align : center;
    }

    .item-price, .item-subtotal {
        width : 50px;
    }

}