-##
-# Blockquote
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Blockquote
%blockquote{ :class => locals[ :right ] ? "blockquote-reverse" : false }

    -# Main headline text
    %p
        = string text

    -# Add the small text if required
    -if locals[ :small ]
        %footer
            = string small