-##
-# Heading
-# Provide a unified way to display a heading tag
-#
-# @usage
-# Heading
-# = partial "./bootstrap/type/heading",
-#            locals: { text: "Default H1 Tag" }
-#
-# @category Molecule
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# SCSS
%style{ id: "componentHeading" }

    :plain

        // Heading Tags
        //--------------------------------------------------------------------//
        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

            // No Margin
            //----------------------------------------------------------------//
            &.noMargin {
                margin-top : 0;
            }

            i {
                margin-right : 5px;
            }
        }

-# Only display if Text is present
- if ! locals[ :text ].blank?

    -# Heading
    - haml_tag locals[ :tag ] ? tag : "h1",
               { class: locals[ :extraClass ] ? extraClass : false,
                 id:    locals[ :id ]         ? id         : false,
                 ng:    locals[ :ng ]         ? ng         : false} do

        -# Check for Link
        - if locals[ :icon ]

            -# Icon Helper
            = icon( icon )

        -# Check for Link
        - if locals[ :href ]

            -# Link To
            = link_to( string( text ), href )

        - else

            -# Main Text
            = string text

        -# Add the secondary text if required
        - if locals[ :small ]
            %small= string small