-##
-# Form Select
-# Supports HTML5 elements, such as Placeholder, Autofocus.
-#
-# @usage
-# -# Select
-# = partial "./atom/select/select", locals: { array: array, label: { title: "Label" }, name: "ID" }
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variable
- label = locals[ :label ]

-# Form Group
.form-group{ show: { errors: "{showSuccess: true}" } }

    -# Label - note this is an array as it contains flag for screen reader
    %label.control-label{ for: locals[ :name ], class: label[ :extraClass ] ? label[ :extraClass ] : false }
        = string label[ :title ]

    -# Select
    %select.form-control{ id:       locals[ :name ]     ? name          : false,
                          multiple: locals[ :multiple ] ? true          : false,
                          name:     locals[ :name ]     ? name          : false,
                          ng:       locals[ :ng ]       ? locals[ :ng ] : false }

        -# Check that array is defined
        - if locals[ :array ]

            -# Loop through the array
            - array.each do | value |

                -# If no value[ 1 ] is present then escape value[ 0 ]
                - if ! value[ 1 ]
                    - value[ 1 ] = string value[ 0 ]

                -# Option
                %option{ value: value[ 1 ] }
                    = string value[ 0 ]

    -# Help Block
    -# Sometimes this should be hidden to allow errors to be added inside.
    -# Assume if locals[ :help] is a "true" Bool only then add class hidden and no text
    - if locals[ :help ]

        %span.help-block{ class: !! help == help ? "hidden" : false }

            -# Help should be a string to show
            - if help.is_a?( String )
                = help