---

meta :
    author      : "DryKISS"
    description : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    image       : "Image"
    subject     : "DryKISS"
    title       : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    type        : "website"

heading :
    small : "Useful sites and tutorials"
    title : "Resources"

locals :
    - - "array"
      - "array"
      - "optional"
      - "Overides the current_page.data.see"

---

- id = 1

-# Default
:ruby
    code = %{partial "./organism/resource/resource", locals: { array: [ [ "Pusher", "http://pusher.com/" ] ] }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Default" } }