---

description : "Widget"
title       : "Widget"

see :
    - - "Simple Cart"
      - "https://github.com/wojodesign/simplecart-js"

todo :
    - - "Need to allow more than one on a page - doesn't show cart items on first one"
    - - "Spinner can this be a form spinner - increase size of arrows anyway - make icons"
    - - "When there are no items the arrows colour is not correct"

---

-# Archive
:ruby
    code = %{codeBlender "widget", "molecule"}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }
