// Image
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category atom
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module: 'image';

// Image
//----------------------------------------------------------------------------//
.#{$module} {

  // Caption
  //--------------------------------------------------------------------------//
  &__caption {
    background-color: grey;
  }

  // Full width
  //--------------------------------------------------------------------------//
  &--full-width {
    width: 100%;
  }

}
