// Label
//
// @usage @import '~atom/label';
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category atom
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module: 'label';

// Label
//----------------------------------------------------------------------------//
.#{$module} {
  font-size: 14px;
  font-weight: normal;
  padding: 3px 8px;
}
