---

meta :
    author      : "DryKISS"
    description : "Sidebar - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Sidebar - CodeBlender"
    type        : "website"

heading :
    small : "Stripe"
    title : "Scaffolding Sidebar partial"


todo :
    - - "Sort out what gets pushed into this section"
    - - "Sort out the affix issues here - { :data => { :spy => 'affix', :'offset-top' => '10', :'offset-bottom' => '250' } }"

---

- id = 0

