-# Mobile Footer

-# Locals
-#

-# Usage
-# = partial "#{pathPartials}/mobile/footer"

-# Footer
%footer#footer

    .navbar.navbar-inverse.navbar-fixed-bottom

        .navbar-inner

            .container

                %ul.nav

                    %li.home-menu.active
                        %a{ :href => "#" }
                            Home

                    %li.contact-menu
                        %a{ :href => "#contact" }
                            Contact