-# Mobile Navbar

-# Locals
-#

-# Usage
-# = partial "#{pathPartials}/mobile/navbar"

-# Navbar
.navbar.navbar-inverse.navbar-fixed-top

    .navbar-inner

        .container

            %a.brand{ :href => "#" }
                Footy Japan