-##
-# Gravtar Avatar
-#
-# Locals
-# email - String - Required - Email address of the user's gravatar
-# size  - Int    - Optional - Size of the image
-#
-# Usage
-# = partial "social/gravatar/avatar", locals: { email: "iwarner@triangle-solutions.com", size: "200" }
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Size Default
- if ! locals[ :size ]
    - size = 80

-# Image
= partial "atom/image/image", locals: { alt: "Image", src: avatar( email, size ), type: "thumbnail" }