---

meta :
    author      : "DryKISS"
    description : "Football team profile - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Football team profile - CodeBlender"
    type        : "website"

heading :
    title : "Football team profile"

see :
    - - "Who scored statistics"
      - "http://www.whoscored.com/Teams/26"

todo :
    - - "Simply return a list of the teams"
    - - "Correlate Team statistics - history of games played - players - top scorers for season or all time - honours"
    - - "Last games played - win - lose or draw"
    - - "Compare last results between two teams return array of all of these - include cup and league"
    - - "Statistics for the team - Average Goal, top scorers ( playerModule ), Top Cards ( playerModule )"
    - - "Complete the iCal"

---

Team profile