-##
-# Blockquote
-#
-# @usage
-# -# Blockquote
-# = partial "./atom/blockquote/blockquote", locals: { text: "Standard Blockquote" }
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Blockquote
%blockquote{ class: locals[ :right ] ? "blockquote-reverse" : false }

    -# Main headline text
    %p= string locals[ :text ]

    -# Add the small text if required
    - if locals[ :small ]
        %footer= string small