//
// Blockquote
//
// @author Ian Warner <ian.warner@drykiss.com>
// @see    http://getbootstrap.com/css/?#type-blockquotes
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module : 'blockquote';

// Blockquote
//----------------------------------------------------------------------------//
.#{ $module } {

    margin : 20px 0;

    // Text
    //------------------------------------------------------------------------//
    &__text {
        margin : 0;
    }

    // Footer
    //------------------------------------------------------------------------//
    &__footer {
        font-size : $font-size-large;
    }

}