---

description : "Pinterest"
title       : "Pinterest"

# See
see :
    - - "Pinterest developers"
      - "https://developers.pinterest.com/"

---

-# Pinterest plugins
:markdown

    Pinterest provides several widgets for embedding and a great API to work with.

    - [Save button](/social/pinterest/save-button/save-button.html)
