-##
-# Gravtar Avatar
-#
-# @usage
-# -# Gravatar Avatar
-# = partial "social/gravatar/avatar", locals: { email: "iwarner@triangle-solutions.com", size: "200" }
-#
-# @param email - String - Required - Email address of the user's gravatar
-# @param size  - Int    - Optional - Size of the image - default 80px square
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-#
-# @todo Check whether type=thumbnail works
-# @todo Include gravatar links and docs
-# @todo Configure the workaround for default image
-##

/ # Return default image
/ "#{ protocol }://www.gravatar.com/avatar/?d=mm"

-# Size Default
- if ! locals[ :size ]
    - locals[ :size ] = 80

-# Avatar URL
- emailHash = Digest::MD5.hexdigest( locals[ :email ].chomp.downcase )
- src       = "https://www.gravatar.com/avatar/#{ emailHash }.jpg?s=#{ locals[ :size ] }&r=pg"

-# Image - Gravatar
= partial "./atom/image/image", locals: { alt: "Image", src: src, type: "thumbnail" }
