-##
-# Wahanda Button
-#
-# Usage
-# = partial "./social/wahanda/button"
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    https://connect.wahanda.com/settings#venue/273362/online-booking/online-booking-widget
-##


-# Put this into Head
- content_for :siteHead do
    %script{ :src => "https://widget.wahanda.com/common/venue-menu/javascript/widget-button.js" }

-# CoffeeScript
:coffee

    (->
        link       = document.createElement("link")
        link.type  = "text/css"
        link.href  = "https://widget.wahanda.com/common/venue-menu/css/widget-button.css"
        link.rel   = "stylesheet"
        link.media = "screen"
        document.getElementsByTagName("head")[0].appendChild link
        return
    )()

%a#wahanda-online-booking-widget{ :href    => "https://www.wahanda.com/",
                                  :onclick => "wahanda.openOnlineBookingWidget(\"https://widget.wahanda.com/place/273362/menu/\"); return false;",
                                  :target  => "_blank" }
    %span Book now!