---

<<<<<<< HEAD
meta :
    description : "Jumbotron - CodeBlender"
    title       : "Jumbotron - CodeBlender"

heading :
    title : "Jumbotron"
=======
description : "Jumbotron"
title       : "Jumbotron"
>>>>>>> updates

see :
    - - "Bootstrap Jumbotron"
      - "http://getbootstrap.com/components/#jumbotron"

todo :
    - - "Is in a Header section is this right?"
    - - "Sort out the small Text CSS / Padding too large"

---

-# Default
:ruby
    code = %{codeBlender "jumbotron", "organism", { desc:  "Description", small: "Small Text", title: "Title" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }

-# Gradient
:ruby
    code = %{codeBlender "jumbotron", "organism", { desc: "Description", extraClass: "gradient", small: "Small Text", title: "Title" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Gradient" } }

-# Image Jumbotron
:ruby
    code = %{codeBlender "jumbotron", "organism", { extraClass: "image" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Requires a CSS tag", text: "Image Jumbotron" } }
