//
// Blog Detail
//
// @author Ian Warner <ian.warner@drykiss.com>
// @todo   Need a way for the user to change icons with ease
//----------------------------------------------------------------------------//

// Blog Detail
//----------------------------------------------------------------------------//
.blogDetail {

    border-top    : 1px solid $gray-lighter;
    border-bottom : 1px solid $gray-lighter;
    padding       : 10px 0;
    margin        : 10px 0;

    // Tag
    //------------------------------------------------------------------------//
    &__tag {
        margin-top : 5px;
    }

}