//
// Bar
// Bars are responsive components that serve as navigation elements for your
// development
//
// @author Ian Warner <ian.warner@drykiss.com>
//--------------------------------------------------------------------------- //

// Bar
//--------------------------------------------------------------------------- //
.bar {

    // Inset
    //----------------------------------------------------------------------- //
    &.inset {
        padding-left : 95px;
    }

    // Whether to Pad the bar some more
    //----------------------------------------------------------------------- //
    &.padded {
        padding : 0 30px;
    }

    // Element
    //----------------------------------------------------------------------- //
    .element {
        float : left;
        width : 40%;
    }

    // Bar Title
    //----------------------------------------------------------------------- //
    .text {

        font-size : 18px;

        // Bar Suplement
        //------------------------------------------------------------------- //
        .sup {
            color     : #979dab;
            font-size : 14px;
        }
    }

    // Link
    //----------------------------------------------------------------------- //
    a {
        width : 20%;
    }

    // Icon
    //----------------------------------------------------------------------- //
    i {
        color     : black;
        font-size : 35px;
    }
}