//
// Scaffolding Copyright
//
// @author Ian Warner <ian.warner@drykiss.com>
//--------------------------------------------------------------------------- //

// Copyright
//--------------------------------------------------------------------------- //
.copyright {

    background : $copyrightBackground;
    color      : $copyrightColor;
    border-top : 2px solid $copyrightBorder;
    padding    : 10px 0;

    // Paragraph
    //----------------------------------------------------------------------- //
    p {
        display : inline;
    }

    // Links
    //----------------------------------------------------------------------- //
    a {
        color : #fff;
    }

    // To Top icon
    //----------------------------------------------------------------------- //
    span i {
        cursor : pointer;
    }

    // Link List
    //----------------------------------------------------------------------- //
    ul {
        display : inline;
    }

}