//
// Scaffolding Footer
//
// @author Ian Warner <ian.warner@drykiss.com>
//--------------------------------------------------------------------------- //

// Footer
//--------------------------------------------------------------------------- //
.footer {

    border-top : 4px solid rgba( 247, 182, 0, 0.5 );
    color      : $footerColor;
    font-size  : 16px;

    // Background
    //----------------------------------------------------------------------- //
    background : $footerBackground image-url( "footer/background.png" );

    &.noBackground {
        background : $footerBackground;
    }

    // Footer Section
    //----------------------------------------------------------------------- //
    .footerSection {
        min-height : 100%;
    }

    // Separators
    //----------------------------------------------------------------------- //
    .footerSection:not:first-child {
        border-left : 2px solid $footerBorder;
    }

    // Background Type
    //----------------------------------------------------------------------- //
    p i {
        color      : $footerBold;
        display    : inline-block;
        text-align : center;
        width      : 20px;
    }

    // Footer Heading
    //----------------------------------------------------------------------- //
    h4 {
        color         : $footerTitleColor;
        display       : block;
        font-size     : 20px;
        line-height   : 32px;
        margin-bottom : 10px;
        padding       : 2px 0;
    }

    a {
        color : $footerLinkColor;
    }

    // Social Elements
    //----------------------------------------------------------------------- //
    .socialList  {

        text-align : center;

        a {

            &:hover {
                background : #fff;
                color      : #444;
            }

            border          : 2px solid #fff;
            border-radius   : 50%;
            color           : #FFF;
            display         : inline-block;
            font-size       : 30px;
            height          : 70px;
            line-height     : 70px;
            margin          : 0 10px 15px;
            text-decoration : none;
            transition      : all .2s ease-in-out;
            width           : 70px;

        }

    }

}