//
// Log In Form
//
// @author Ian Warner <ian.warner@drykiss.com>
//--------------------------------------------------------------------------- //

// Log In
//--------------------------------------------------------------------------- //
.form-signin {

    max-width        : 300px;
    padding          : 19px 29px 29px;
    margin           : 0 auto 20px;
    background-color : #fff;
    border           : 1px solid #E5E5E5;

    @include border-radius( 5px );
    @include box-shadow( 0 1px 2px rgba(0, 0, 0, .05) );

    .form-signin-heading, .checkbox {
        margin-bottom : 10px;
    }

    input[type="text"], input[type="password"] {
        font-size     : 16px;
        height        : auto;
        margin-bottom : 15px;
        padding       : 7px 9px;
    }

}