//
// Mixins
//
// @author Ian Warner <ian.warner@drykiss.com>
//--------------------------------------------------------------------------- //

// Mobile Prototype Region
// @include region( "Back", 100, 100, 100, 100 );
//--------------------------------------------------------------------------- //
@mixin region( $region, $height, $width, $left : 0, $top : 0 ) {

    .region#{ $region } {
        height   : #{ $height }px;
        width    : #{ $width }px;
        left     : #{ $left }px;
        top      : #{ $top }px;
    }
}