//
// Scaffolding
// Creates the CSS for the main elements of the site
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Global
//----------------------------------------------------------------------------//
* {
    -webkit-font-smoothing      : antialiased;
    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0 );
    -webkit-text-size-adjust    : none;
    -webkit-touch-callout       : none;
    // -webkit-user-select         : none;
}

// HTML
//----------------------------------------------------------------------------//
html {
    height     : 100%;
    // overflow-x : hidden;
}

// Body
//----------------------------------------------------------------------------//
body {

    // Add Padding - required if using the fixed NavBar
    //------------------------------------------------------------------------//
    padding-top : 50px;
    position    : relative;
    height      : 100%;
    min-height  : 100%;
    width       : 100%;
}

// Links
//----------------------------------------------------------------------------//
a {

    text-decoration : none;

    i {
        font-size      : 12px;
        vertical-align : middle;
        padding-left   : 2px;
    }

    &:hover .zoomix {
        @include transform( scale( 1 ) );
        opacity : 0.3;
    }

    &.anchor {
        display    : block;
        position   : relative;
        top        : 0;
        visibility : hidden;
    }

}

// Horizontal rules
//----------------------------------------------------------------------------//
hr {
    margin : 5px 0;
}

.clear {
    clear : both;
}

// Outline - Remove Bootstrap 3 Defaults
//----------------------------------------------------------------------------//
a:focus, textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, button:focus, button:active, button:hover {
    outline            : 0px !important;
    -webkit-appearance : none;
}