//
// Show Grid
//
// @author Ian Warner <ian.warner@drykiss.com>
//--------------------------------------------------------------------------- //

// Show Grid
//--------------------------------------------------------------------------- //

.showGrid {
    margin : 10px 0;
}

.showGrid [ class*="col-" ] {
    background  : #eee;
    text-align  : center;
    border      : 1px solid black;
    min-height  : 40px;
    line-height : 40px;
}

@media ( max-width : 767px ) {

    .showGrid [ class*="col-" ] {
        margin-bottom : 5px;
    }

}