//
// Social Icons
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Social Icons
//----------------------------------------------------------------------------//

.socialIcons {
    li {
        span {
            font-size : 45px;
        }
    }
}

// Facebook
//----------------------------------------------------------------------------//
.fa-facebook-square {
    color : #3B5998;
}

// Twitter
//----------------------------------------------------------------------------//
.fa-twitter-square {
    color : #55ACEE;
}

// Google
//----------------------------------------------------------------------------//
.fa-google-plus-square {
    color : #DD4B39;
}

// LinkedIn
//----------------------------------------------------------------------------//
.fa-linkedin-square {
    color : #007bb6;
}