//
// Scroll Top
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//
.scrollTop {

    position   : fixed;
    bottom     : 0;
    right      : 6%;
    z-index    : 100;
    background : $link-hover-color;
    font-size  : 24px;

    border-top-left-radius  : 3px;
    border-top-right-radius : 3px;

    a:link, a:visited {
        color : #222;
    }

}