---

meta :
    author      : "DryKISS"
    description : "Off canvas - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Off canvas - CodeBlender"
    type        : "website"

heading :
    title : "offcanvas"

---

-# Prototype
.row

    -# Content Section
    .col-md-12 CONTENT HERE