---

<<<<<<< HEAD
meta :
    description : "Off canvas - CodeBlender"
    title       : "Off canvas - CodeBlender"

heading :
    title : "offcanvas"
=======
description : "Off canvas"
title       : "Off canvas"
>>>>>>> updates

---

-# Prototype
.row

    -# Content Section
    .col-md-12 CONTENT HERE
