-##
-# Sidebar
-#
-# @usage
-# -# Sidebar Left
-# = wrap_layout "_lib/sidebarLeft" do
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- heading = current_page.data.heading

-# Layout - Calls Sidebar Layout
= wrap_layout "_library/sidebarLeft" do

    -# Create the Sidebar
    - content_for :sidebar do

        -# Sidebar
        - partial "./organism/subnavigation/subnavigation"

    -# Heading - H2
    = partial "./molecule/heading/heading", locals: { small: heading.small, tag: "h2", text: heading.title }

    -# Yield
    = yield