-##
-# Sidebar
-#
-# @usage
-# -# Sidebar Left
-# = wrap_layout "_lib/sidebarLeft" do
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Layout - Calls Sidebar Layout
= wrap_layout "_library/sidebarLeft" do

    -# Create the Sidebar
    - content_for :sidebar do

        -# Sidebar
        - partial "./organism/subnavigation/subnavigation"

    -# Heading
    = partial "./molecule/heading/heading",
               locals: { small: current_page.data.heading.small,
                         tag:   "h2",
                         text:  current_page.data.heading.title }

    -# Yield
    = yield