---

meta :
    author      : "DryKISS"
    description : "Facebook activity feed - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Facebook activity feed - CodeBlender"
    type        : "website"

heading :
    small : "https://developers.facebook.com/docs/plugins/activity"
    title : "Facebook activity feed"

see :
    - - "Facebook activity feed"
      - "https://developers.facebook.com/docs/plugins/activity"

---

-# Default
:ruby
    code = %{codeBlender "activity-feed", "social/facebook/activity-feed"}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }