---

meta :
    author      : "DryKISS"
    description : "Facebook activity feed - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Facebook activity feed - CodeBlender"
    type        : "website"

heading :
    small : "https://developers.facebook.com/docs/plugins/activity"
    title : "Facebook activity feed"

see :
    - - "Facebook activity feed"
      - "https://developers.facebook.com/docs/plugins/activity"

---

-# ID
- id = 0

-# Default
:ruby
    code = %{partial "social/facebook/activity-feed/activity-feed.haml"}

-# Code
= codeBlender "code", "organism", { id: id += 1, code: code, heading: { text: "Default" } }