---

meta :
    author      : "DryKISS"
    description : "Facebook - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Facebook - CodeBlender"
    type        : "website"

heading :
    title : "Facebook"

---

%p Facebook
