---

# Meta
meta :
    author      : "DryKISS"
    description : "Facebook - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Facebook - CodeBlender"
    type        : "website"

# Heading
heading :
    title : "Facebook"

# See
see :
    - - "Facebook social plugins"
      - "https://developers.facebook.com/docs/plugins/"

# Todo
    - - "Make the Facebook controller into a Facebook service"

---

-# Share Dialog
:markdown

    - [Comment](/social/facebook/comment/comment.html)
    - [Comment embedded](/social/facebook/comment-embedded/comment-embedded.html)
    - [Follow button](/social/facebook/follow-button/follow-button.html)
    - [Like button](/social/facebook/like-button/like-button.html)
    - [Login](/social/facebook/login/login.html)
    - [Page plugin](/social/facebook/page-plugin/page-plugin.html)
    - [Post embedded](/social/facebook/post-embedded/post-embedded.html)
    - [Quote plugin](/social/facebook/quote-plugin/quote-plugin.html)
    - [Save button](/social/facebook/save-button/save-button.html)
    - [Send button](/social/facebook/send-button/send-button.html)
    - [Share button](/social/facebook/share-button/share-button.html)
    - [Video embedded](/social/facebook/video-embedded/video-embedded.html)
