---
author      : DryKISS
description : "The Activity feed displays the most interesting, recent activity
               taking place on your site, using actions (such as likes) by your
               friends and other people."
layout      : "site/page"
small       : "https://developers.facebook.com/docs/plugins/activity"
title       : "Facebook Activity Feed Partial"

navList      :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/social/facebook"
---

-##
-# CodeBlender Activity Feed Partial
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    https://developers.facebook.com/docs/plugins/activity
-# @todo
-##

-# Heading
= partial "bootstrap/type/heading",
    :locals => { :text  => "Default",
                 :type  => "h2" }

-# Like Button
= partial "social/facebook/activity-feed"

-# Code
:code
    # lang: ruby
    = partial "social/facebook/activity-feed"