---

stub : facebookComments

heading :
    small : "https://developers.facebook.com/docs/plugins/comments"
    title : "Facebook Comments Partial"

see :
    - - "Facebook Comments"
      - "https://developers.facebook.com/docs/plugins/comments/"

---

-# Heading
= partial "./molecule/heading/heading", locals: { text: "Default", tag: "h2" }

-# Comments
= partial "./molecule/facebook/comments"

-# Code
:code
    #lang: ruby
    = partial "./molecule/facebook/comments"