---

stub : facebookPost

heading :
    small : "https://developers.facebook.com/docs/plugins/embedded-posts"
    title : "Facebook Embedded Posts Partial"

see :
    - - "Facebook Comments"
      - "https://developers.facebook.com/docs/plugins/embedded-posts/"

---

-# Heading
= partial "./molecule/heading/heading", locals: { text: "Default", tag: "h2" }

-# Embedded Posts
= partial "./social/facebook/embedded-posts"

-# Code
:code
    #lang: ruby
    = partial "./social/facebook/embedded-posts"