---

stub : facebookFollow

heading :
    small : "https://developers.facebook.com/docs/plugins/follow-button"
    title : "Facebook Follow Button Partial"

see :
    - - "Facebook Follow Button"
      - "https://developers.facebook.com/docs/plugins/follow-button/"

---

-# Heading
= partial "./molecule/heading/heading", locals: { text: "Follow Button", tag: "h2" }

-# Follow Button
= partial "./social/facebook/follow-button"

-# Code
:code
    #lang: ruby
    = partial "./social/facebook/follow-button"