---

stub : facebookRecommendationsFeed

heading :
    small : "https://developers.facebook.com/docs/plugins/recommendations-bar"
    title : "Facebook Recommendations Feed Partial"

see :
    - - "Facebook Recommendations Feed"
      - "https://developers.facebook.com/docs/plugins/recommendations/"

---

-# Heading
= partial "./molecule/heading/heading", locals: { text: "Default", tag: "h2" }

-# Recommendations Feed
= partial "./molecule/facebook/recommendations-feed"

-# Code
:code
    #lang: ruby
    = partial "./molecule/facebook/recommendations-feed"