---
author      : DryKISS
description : "The Recommendations bar lets people 'like' content, get
               recommendations, and share what they're reading with their friends."
layout      : "site/page"
small       : "https://developers.facebook.com/docs/plugins/recommendations-bar"
title       : "Facebook Recommendations Bar Partial"

navList      :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/social/facebook"
---

-##
-# CodeBlender Recommendations Bar Partial
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    https://developers.facebook.com/docs/plugins/recommendations-bar
-# @todo
-##

-# Heading
= partial "bootstrap/type/heading",
    :locals => { :text  => "Default",
                 :type  => "h2" }

-# Recommendations Bar
= partial "social/facebook/recommendations-bar"

-# Code
:code
    # lang: ruby
    = partial "social/facebook/recommendations-bar"