---

stub : facebookSend

heading :
    small : "https://developers.facebook.com/docs/plugins/send-button/"
    title : "Facebook Send Button Partial"

see :
    - - "Facebook Send Button"
      - "https://developers.facebook.com/docs/plugins/send-button/"

---

-# Heading
= partial "./molecule/heading/heading", locals: { text: "Default", tag: "h2" }

-# Send Button
= partial "./social/facebook/send-button"

-# Code
:code
    #lang: ruby
    = partial "./social/facebook/send-button"