---

meta :
    author      : "DryKISS"
    description : "Facebook share button - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Facebook share button - CodeBlender"
    type        : "website"

heading :
    small : "https://developers.facebook.com/docs/plugins/share-button"
    title : "Facebook Share Button Partial"

see :
    - - "Facebook Share Button"
      - "https://developers.facebook.com/docs/plugins/share-button/"

---

-# Heading
= partial "./molecule/heading/heading", locals: { text: "Default", tag: "h2" }

-# Share Button
= partial "./molecule/facebook/share-button"

-# Code
:code
    #lang: ruby
    = partial "./molecule/facebook/share-button"