---

stub : facebookShare

heading :
    small : "https://developers.facebook.com/docs/plugins/share-button"
    title : "Facebook Share Button Partial"

see :
    - - "Facebook Share Button"
      - "https://developers.facebook.com/docs/plugins/share-button/"

---

-# Heading
= partial "./molecule/heading/heading", locals: { text: "Default", tag: "h2" }

-# Share Button
= partial "./social/facebook/share-button"

-# Code
:code
    #lang: ruby
    = partial "./social/facebook/share-button"