---

<<<<<<< HEAD
meta :
    description : "Blog tags - CodeBlender"
    title       : "Blog tags - CodeBlender"

heading :
    small : Articles by Tag
    title : Tags

layout   : "tag"
pageable : true
per_page : 5
=======
description : "Blog tags"
layout      : "tag"
pageable    : true
per_page    : 5
small       : "Articles by Tag"
title       : "Blog tags"
>>>>>>> updates

---

-# Pagination variable
- prevPage = prev_page ? prev_page : false
- nextPage = next_page ? next_page : false

-# Blog tags
.blogTag

    -# Article list
    .blogTag__list

        -# Article list
        = codeBlender "article-list", "template", { page_articles: page_articles }

    -# Pagination
    .blogTag__pagination

        -# Pagination
        = codeBlender "pagination", "molecule", { nextPage: nextPage, prevPage: prevPage, pageNo: page_number, pages: num_pages }
