---

meta :
    author      : "DryKISS"
    description : "Football cup table of soccer results - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Football cup table of soccer results - CodeBlender"
    type        : "website"

heading :
    title : "Football cup table"

see :
    - - "Cup bracket"
      - "http://challonge.com/11uXCup4v4"
    - - "Example bracket for world cup - with groups"
      - "http://jwhunter.blogspot.co.uk/2014/05/world-cup-wall-chart.html"

todo :

    - - "FE: Produce a cup bracket widget."
    - - "FE: Selector or tab to view Cup and Plate competition"

    - - "API: Based on the results, if a team losers in round X they move to the Plate competition"
    - - "API: Looking at the results the penalties will come into play"
    - - "API: Methods to get cup fixtures and results by competition and by round, fixtures are tagged with CUP/Plate and Round"

    - - "Middleman: Create the proxy pages to show the brackets per season"

---

:markdown

    Remember there are several cup competitions that can happen, i.e. Cup and Plate
    So need a way to distinguish between the two - also a team can start in the cup
    and then move to the plate