---

meta :
    author      : "DryKISS"
    description : "Football cup table of soccer results - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Football cup table of soccer results - CodeBlender"
    type        : "website"

heading :
    title : "Football cup table"

see :
    - - "Cup bracket"
      - "http://challonge.com/11uXCup4v4"

todo :
    - - "Produce a matrix of the cup progress. Similar to a world cup wall chart : http://jwhunter.blogspot.co.uk/2014/05/world-cup-wall-chart.html"
    - - "If a team losers in round 1 they move to the Plate competition - you may have seen this label already."
    - - "For cup games the penalties columns come into play also."
    - - "Method to just give all the cup games - using cup flag"

---

Remember there are several cup competitions that can happen, i.e. Cup and Plate
So need a way to distinguish between the two - also a team can start in the cup
and then move to the plate