---

meta :
    author      : "DryKISS"
    description : "Form validation - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Form validation - CodeBlender"
    type        : "website"

heading :
    title : "Form validation"

todo :
    - - "Provide full example on this"

---

%p
    Provides a form validation directive for bootstrap classes
