---

meta :
    description : "Form validation - CodeBlender"
    title       : "Form validation - CodeBlender"

heading :
    title : "Form validation"

todo :
    - - "Provide full example on this"

---

%p
    Provides a form validation directive for bootstrap classes
