---

meta :
    author      : "DryKISS"
    description : "Blog article list - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Blog article list - CodeBlender"
    type        : "website"

heading :
    small : "List of articles sorted by date"
    title : "Article"

# Blog
blogName : portfolio
pageable : true
per_page : 5

see :
    - - "Template"
      - "http://geedmo.com/codecanyon/elemento/bootstrap3/blog.html"
    - - "Middleman blogging"
      - "http://middlemanapp.com/blogging"
    - - "Metronic theme"
      - "http://keenthemes.com/preview/index.php?theme=metronic_frontend"
    - - "Schema"
      - "http://schema.org/BlogPosting"
    - - "Markup"
      - "https://www.google.com/webmasters/markup-helper/u/0/"

todo :
    - - "Document Facebook / Twitter / Google front matter requirements"
    - - "Complete Older and Newer links to other articles"
    - - "Complete related articles section"
    - - "Author Biographies and Photo - micro format"
    - - "Table of contents should look better - collapsible - use JS"
    - - "Table of contents using hash does not work - directs to home path"
    - - "Provide a blank / random image if one is not found to keep the design"
    - - "Create a hover over state for the article to slightly grey it out"
    - - "Add in some filtering for popular - most commented on"
    - - "Add in search - Add in tags - Add in social links - Facebook like and share, tweet and pin - Add in report page button"
    - - "Add in video / image - could be carousel - Add in title - Add in price - Add in content - Add in Ribbons on some products"
    - - "Add in Trending Today - Add in Buy Now - Add in Add to Wish list - Add in Comments - Add in related products - Add in newsletter"
    - - "Article list partial should not be in this template folder"

---

-# Variable
- cp = current_page.data

:markdown

    A Middleman blog is made up of several different partials.

    To create the front-end of a blog the following are required, a blog name is
    required to be passed to list, archive and pagination. I prefer to set this
    variable in the front-matter.

    - Template: Article list
    - Molecule: Pagination
    - Molecule: Archive
    - Molecule: Tag Cloud

-# Bootstrap row
.row

    -# Bootstrap column
    .col-md-8.col-sm-8

        -# Article list
        = codeBlender "article-list", "template", { name: cp.blogName, page_articles: page_articles }

        -# Pagination variables
        - prevPage = prev_page ? prev_page : false
        - nextPage = next_page ? next_page : false

        -# Pagination
        = codeBlender "pagination", "molecule", { nextPage: nextPage, prevPage: prevPage, pageNo: page_number, pages: num_pages }

    .col-md-4.col-sm-4

        -# Archive
        = codeBlender "archive", "molecule", { name: cp.blogName }

        -# Tag cloud
        = codeBlender "tag-cloud", "molecule", { name: cp.blogName }
