---

stub : twitterFollow

heading :
    small : "Follow Button"
    title : "Follow Button Partial"

see :
    - - "Twitter Follow Button"
      - "https://dev.twitter.com/docs/follow-button"

---

-# Heading
= partial "./molecule/heading/heading", locals: { text: "Default", tag: "h2" }

-# Follow Button
= partial "./molecule/twitter/follow-button"

-# Code
:code
    #lang: ruby
    = partial "./molecule/twitter/follow-button"