---

heading :
    small : "Tweet Button"
    title : "Tweet Button Partial"

meta :
    author      : "Ian Warner"
    description :
        "The Tweet Button is a small widget which allows users to easily share your
        website with their followers. This page is for developers and users who
        wish to build their own Tweet Buttons. If you are looking for a quick way
        to build a Tweet Button for your website you can visit our Twitter Button Resources Page."
    title       : "Tweet Button Partial"

see :
    - - "Tweet Button"
      - "https://dev.twitter.com/docs/tweet-button"

---

-# Heading
= partial "./molecule/heading/heading", locals: { text: "Default", tag: "h2" }

-# Tweet Button
= partial "./social/twitter/tweet-button"

-# Code
:code
    #lang: ruby
    = partial "./social/twitter/tweet-button"