-##
-# Facebook Activity Feed
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    https://developers.facebook.com/docs/plugins/activity/
-##

-# Action
- if ! locals[ :action ]
    - action = "watch"

-# Type
- if ! locals[ :type ]
    - type = "html5"

-# Debug
-# = action
-# = type

-# HTML5
- if type == "html5"

    .fb-activity{ data: { action: action } }

    -# XFBML
- elsif type == "xfbml"
    XFBML

    -# iFrame
- elsif type == "iframe"
    iFrame

    -# URL
- else
    URL