-##
-# Facebook Facepile
-#
-# Locals
-#
-# Usage
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    https://developers.facebook.com/docs/plugins/facepile
-#
-# @todo
-##

-# Action
- if ! locals[ :action ]
    - action = "like"

-# HREF
- if ! locals[ :href ]
    - href = "https://www.facebook.com/onlyasmile"

-# Type
- if ! locals[ :type ]
    - type = "html5"

-# Debug
-# = action
-# = href
-# = type

-# HTML5
- if type == "html5"

    .fb-facepile{ :data => { :action => action,
                             :href   => href } }

    -# XFBML
- elsif type == "xfbml"
    XFBML

    -# iFrame
- elsif type == "iframe"
    iFrame

    -# URL
- elsif type == "url"
    URL