---
author      : DryKISS
description : "Goal is to get a subscribe form for your list on your site without
               using the integration code we provide. Reason:"
layout      : "site/page"
small       : "Mailchimp forms"
title       : "Mailchimp General Form Partial"

navList      :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/social/mailchimp"
---

-##
-# CodeBlender Mailchimp General Form Partial
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    http://mailchimp.com/
-# @todo
-##

-# List
= partial "bootstrap/type/list",
           :locals => { :array => [ { :text => "They want a slick AJAXy call that doesn't cause a page transition" },
                                    { :text => "They don't want the form to open a new window." },
                                    { :text => "They don't want the user to see a domain that is not their own" } ] }

-# Heading
= partial "./bootstrap/type/heading",
           :locals => { :small => "Complete the form below and simply respond to the email.",
                        :text  => "Newsletter Signup",
                        :type  => "h2" }

-# Mailchimp subscription form
= partial "social/mailchimp/subscribe-form"