---

heading :
    small : "Newsletter forms"
    title : "Mailchimp Partials"

meta :
    author      : "Ian Warner"
    description :
        "Create signup forms that match your brand's look and feel, and send your
        subscribers product updates, event invitations, announcements, or editorial
        content. Use our reports to improve your campaigns and learn more about
        your subscribers. Best of all? MailChimp is free for lists of up to 2,000 subscribers."
    title       : "Mailchimp Partials"

see :
    - - "Mailchimp"
      - "http://mailchimp.com/"

todo :
    - - "Need to catch the errors correctly for the AJAX and hook into Alert System"
      - "Mailchimp"
      - "2014-02-15"
    - - "Wrap this up into a utility class for Mailchimp"
      - "Mailchimp"
      - "2014-02-15"
    - - "Expand the checks on whether Email is Valid"
      - "Mailchimp"
      - "2014-02-15"
    - - "Mailchimp allows for First Name, Last Name and Format include these"
      - "Mailchimp"
      - "2014-02-15"
    - - "If the user is already signed up a URL comes back make this clickable"
      - "Mailchimp"
      - "2014-02-15"

---