---

meta :
    author      : "DryKISS"
    description : "List DT - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "List DT - CodeBlender"
    type        : "website"

heading :
    small : "http://getbootstrap.com/css/#type-lists"
    title : "List DT Partial"

list :
    - title : "Description Title 1"
      text  : "Lorem ipsum dolor sit amet"
    - title : "Description Title 2"
      text  : "Facilisis in pretium nisl aliquet"

see :
    - - "Bootstrap List"
      - "http://getbootstrap.com/css/#type-lists"

---

-# ID
- id = 0

-# Description List
:ruby
    code = %{partial "atom/list/list.dt.haml", locals: { array: current_page.data.list }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code, heading: { text: "Description List" } }

-# Description List Horizontal
:ruby
    code = %{partial "atom/list/list.dt.haml", locals: { array: current_page.data.list, extraClass: "dl-horizontal" }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code, heading: { text: "Description List Horizontal" } }