---
author       : "Ian Warner"
description  : "The partials below allow for the easy insertion of Google Adsense
                advertising blocks. A :googleAdsense variable is required in the
                config.yaml file for the partials to work correctly."
layout       : "site/page"
small        : "Google Adsense advertising for publishers"
title        : "Google Adsense Partial"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/google"

see :
    - - "Google Adsense"
      - "https://www.google.com/adsense"
---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :type => "h2" }

-# Adsense
= partial "google/adsense"

-# Code
:code
    #lang: ruby
    = partial "google/adsense"