---
author      : DryKISS
description : "The partials below allow for the easy insertion of Google Analytics."
layout      : "site/page"
small       : "Google Analytics site statistics and reporting"
title       : "Google Analytics Partial"

navList      :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/google"
---

-##
-# CodeBlender Analytics Partial
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    https://www.google.com/analytics
-# @todo
-##

-# Heading
= partial "bootstrap/type/heading",
    :locals => { :text  => "Default",
                 :type  => "h2" }

-# Analytics
= partial "google/analytics"

-# Code
:code
    # lang: ruby
    = partial "google/analytics"