-##
-# Detail
-#
-# @usage
-# -# Details
-# = partial "atom/detail/detail.haml", locals: { summary: "Summary", content: "Content" }
-#
-# @param summary - String - Required - Summary Text
-# @param content - String - Required - Content Text
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category atom
-##

-# Detail
%detail

    %summary= summary
    %p= content