---

meta :
    description : "HTML5 Detail - CodeBlender"
    title       : "HTML5 Detail - CodeBlender"

heading :
    small : "Click to show an expanded area."
    title : "Scaffolding detail partial"

see :
    - - "Detail tag"
      - "http://www.paulund.co.uk/html5-details-tag"

todo :
    - - "Use the code partial here"

---

-# Heading
= codeBlender "heading", "molecule", { text: "Default", tag: "h2" }

-# Detail
= codeBlender "detail", "atom", { summary: "Summary", content: "Content" }

-# Code
:code
    #lang: ruby
    = codeBlender "detail", "atom", { summary: "Summary", content: "Content" }
