---

meta :
    author      : "DryKISS"
    description : "HTML5 Detail - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "HTML5 Detail - CodeBlender"
    type        : "website"

heading :
    small : "Click to show an expanded area."
    title : "Scaffolding details partial"

see :
    - - "Details Tag"
      - "http://www.paulund.co.uk/html5-details-tag"

todo :
    - - "Use the code partial here"

---

-# Heading
= partial "molecule/heading/heading.haml", locals: { text: "Default", tag: "h2" }

-# Detail
= partial "atom/detail/detail.haml", locals: { summary: "Summary", content: "Content" }

-# Code
:code
    #lang: ruby
    = partial "atom/detail/detail.haml", locals: { summary: "Summary", content: "Content" }