-##
-# Facebook related meta tags
-# Contains meta tags from the Open Graph Protocol also.
-#
-# Yielded content will take precedence over front matter then stub locale then
-# specific data files then default tag in locale.
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category meta
-#
-# @see https://developers.facebook.com/docs/sharing/best-practices#images
-# @see http://ogp.me/
-##

-# URL
- url = t( :url ) + current_page.url

-# Og Title
%meta{ content: configuration( 'title' ), property: 'og:title' }

-# Og Description
%meta{ content: configuration( 'description' ), name: 'description', property: 'og:description' }

-# Image
-# Should be a full URL including domain
%meta{ property: 'og:image', content: t( :url ) + configuration( 'image' ) }

-# Site name
%meta{ content: configuration( 'siteName' ), property: 'og:site_name' }

-# Type
%meta{ property: 'og:type', content: configuration( 'type' ) }

-# URL
-# Should be the same as the Canonical URL
%meta{ content: url, property: 'og:url' }

-# Test id
- if development?
  - appID = data.facebook.app.testID

  -# App ID
- else
  - appID = ( appID == 'locale' ) ? t( :'facebook.app.id' ) : data.facebook.app.id

%meta{ content: appID, property: 'fb:app_id' }

-# Locale
%meta{ content: t( :'facebook.locale' ), property: 'og:locale' }
