//
// Heading
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Heading Tags
//----------------------------------------------------------------------------//
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

    &.heading {

        // No Margin
        //--------------------------------------------------------------------//
        &--noMargin {
            margin : 0;
        }

        &--lineHeight {
            line-height : inherit;
        }

        i {
            margin-right : 5px;
        }

    }

}
