-##
-# Angular UI grid controls
-#
-# @usage
-# -# Angular UI grid controls
-# = codeBlender "angular-ui-grid-controls", "organism"
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Angular Template
%script{ type: "text/ng-template", id: "content.button.html" }

    .ui-grid-cell-contents

        -# Button - Edit
        = codeBlender "button", "atom", { context: "primary", size: "xs", icon: { prepend: { icon: "fa fa-edit" } }, ng: { click: "grid.appScope.content.editModal( grid, row )" } }

        -# Button - Delete
        = codeBlender "button", "atom", { context: "danger", size: "xs", icon: { prepend: { icon: "fa fa-minus" } }, ng: { really: { message: "Are you sure you want to delete?", click: "grid.appScope.content.delete( grid, row )" } } }
