---

meta :
    author      : "DryKISS"
    description : "Angular UI grid - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Angular UI grid - CodeBlender"
    type        : "website"

heading :
    title : "Angular UI grid"

---

%p Angular UI grid
