---

<<<<<<< HEAD
meta :
    description : "Angular UI grid - CodeBlender"
    title       : "Angular UI grid - CodeBlender"

heading :
    title : "Angular UI grid"
=======
description : "Angular UI grid"
title       : "Angular UI grid"
>>>>>>> updates

---

%p Angular UI grid
