//
// Google map
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category organism
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module : 'googleMap';

// Footer
//----------------------------------------------------------------------------//
.#{ $module } {

    border : 1px solid #000 !important;

}

// Google input box
//----------------------------------------------------------------------------//
.pac-container {
    z-index : 1051 !important;
}
