//
// Checkbox
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module : 'checkbox';

// Checkbox
//----------------------------------------------------------------------------//
.#{ $module } {

    .checkbox input[ type="checkbox" ]:focus + label::before {
        outline            : 0px !important;
        -webkit-appearance : none !important;
        -webkit-box-shadow : none !important;
        -moz-box-shadow    : none !important;
        box-shadow         : none !important;
    }

}
