---

author      : "DryKISS"
description : ""
small       : "Usage : &#60;i class=\"icon-lock\"&#62;&#60;/i&#62;"
title       : "Icons"

---

-# Download Font
= partial "bootstrap/components/alerts",
               :locals => { :context => "info",
                            :text    => "<a href='../../../download/vme/vme-icon-font.zip' class='alert-link pull-right'><i class='large icon-download'></i></a>V.Me font" }

-# File Path
- file = File.expand_path( "../../../assets/stylesheets/_lib/vme-font/vmeFont.css.scss", File.dirname( __FILE__ ) )

-# Open File
- text = File.open( file ).read

-# Start icon Array
- icons = []

-# Loop through the lines
- text.each_line do | line |

    -# If line contains content print
    - if line.match( /content/i )

        -# Get the icon name, between . and :
        - icons << line[ /.*\.icon-(.*?):/, 1 ]

-# Bootstrap row
.row

    -# Loop through the icons
    - icons.each do | value |

        -# Body Content
        - body = capture_html do
            .text-center
                %span.xlarge
                    %i{ :class => "icon-#{value}" }

        -# Bootstrap Columns
        .col-md-2

            -# Panel
            = partial "./bootstrap/components/panels",
                       :locals => { :body    => body,
                                    :context => "primary",
                                    :footer  => value,
                                    :tools   => true }