---

author      : "DryKISS"
description : ""
small       : "Information and Style Guide"
title       : "V.Me"

see :
    - - "V.Me Release Information Services"
      - "https://checkout-eu.jz-xit04.ihost.com/vme-services/release/release.jsp"

thumbs :

  -
    image :
        src : "style-guide/elements_1.png"
    thumbnail :
        href    : "/assets/images/style-guide/elements_1.png"
        caption : "Elements 01"
        zoomix  : true

  -
    image :
        src : "style-guide/elements_2.png"
    thumbnail :
        href    : "/assets/images/style-guide/elements_2.png"
        caption : "Elements 02"
        zoomix  : true

---

-# Download Wallet Provider brand usage requirements - Checkout and CSSP
= partial "bootstrap/components/alerts",
               :locals => { :context => "info",
                            :text    => "<a href='../../../download/vme/V.me_by_Visa_WP_brand_usage_req_CO_CSSP_R5X_05.zip' class='alert-link pull-right'><i class='large icon-download'></i></a>Wallet Provider brand usage requirements - Checkout and CSSP" }

-# Download Global Framework Messaging
= partial "bootstrap/components/alerts",
               :locals => { :context => "info",
                            :text    => "<a href='../../../download/vme/vme-global-framework-message-v2.0.pdf' target='_blank' class='alert-link pull-right'><i class='large icon-download'></i></a>Global Framework Messaging" }


-# Heading
= partial "./bootstrap/type/heading",
           :locals => { :text => "Assets",
                        :tag  => "h2" }

.gallery
    -# Default Thumbnail
    = partial "./bootstrap/components/thumbnails",
                   :locals => { :array   => current_page.data.thumbs,
                                :columns => "col-xs-6 col-sm-4 col-md-2" }