---

author      : "DryKISS"
description : "Grid systems are used for creating page layouts through a series
               of rows and columns that house your content."
small       : "Mobile first fluid grid"
title       : "Responsive Grid"

see :
    - - "Bootstrap Grid"
      - "http://getbootstrap.com/css/#grid"
    - - "Grid Example"
      - "http://devoops.me/themes/devoops/#ajax/ui_grid.html"

todo :
    - - "Add more textual information to this page regarding gutter, size of columns etc"
      - "Responsive Grid"
      - "2014-05-22"
      - { "context" : "warning" }
    - - "Demonstrate the smaller columns for responsive breakpoints may require some JS for dynamic text changes etc"
      - "Responsive Grid"
      - "2014-05-22"
      - { "context" : "info" }

---

.row.showGrid
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1
    .col-md-1 .col-md-1

.row.showGrid
    .col-md-8 .col-md-8
    .col-md-4 .col-md-4

.row.showGrid
    .col-md-4 .col-md-4
    .col-md-4 .col-md-4
    .col-md-4 .col-md-4

.row.showGrid
    .col-md-6 .col-md-6
    .col-md-6 .col-md-6