---

meta :
    author      : "DryKISS"
    description : "Football table of soccer results - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Football table of soccer results - CodeBlender"
    type        : "website"

heading :
    title : "Football table"

todo :
    - - ""

---

-# Football table
= partial "football/table/table"