//
// Football table
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module : 'footballTable';

// Blockquote
//----------------------------------------------------------------------------//
.#{ $module } {

    // Link
    //------------------------------------------------------------------------//
    &__link {
        display : block;
        padding : 8px;
        margin  : -8px;
        text-align: center;
    }

    // Detail
    //------------------------------------------------------------------------//
    &__detail {
        padding : 10px;
    }

    // Label
    //------------------------------------------------------------------------//
    &__label {
        margin-right : 2px;
        padding      : 1px 7px 1px 7px;
    }

}