---

heading :
    small : ""
    title : "Tables"

meta :
    author      : "DryKISS"
    description : ""
    title       : "Tables"

---

-# Heading
= partial "molecule/heading/heading", locals: { tag: "h2", text: "Division #{ locals[ :division ] }" }

-# Football table
= partial "football/table/table", locals: { division: locals[ :division ], season: locals[ :season ] }

-# Football matrix
= partial "football/matrix/matrix", locals: { division: locals[ :division ], season: locals[ :season ] }
