---

meta :
    description : "Breadcrumb to highlight a navigation path - CodeBlender"
    title       : "Breadcrumb to highlight a navigation path - CodeBlender"

heading :
    small : "Current page's location within a navigational hierarchy"
    title : "Breadcrumb"

see :
    - - "Bootstrap breadcrumb"
      - "http://getbootstrap.com/components/#breadcrumbs"
    - - "Micro format"
      - "https://developers.google.com/structured-data/breadcrumbs"
    - - "Accessibility"
      - "http://www.uvd.co.uk/blog/accessible-breadcrumbs-using-aria/"
    - - "Usability"
      - "http://ui-patterns.com/patterns/Breadcrumbs"

todo :
    - - "Complete the Aria and Micro format for this partial"

locals :
    - - "array"
      - "array"
      - "optional"
      - "Array of list items"

---

-# Features

-# Default
:ruby
    code = %{codeBlender "breadcrumb", "molecule", { array: current_page.data.breadcrumbs }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }