-##
-# Apple Meta Tags
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    http://goo.gl/xpMXmF
-# @see    http://goo.gl/ErCZIL
-##

-# Implementing a Smart App Banner on Your Website
- if dataApple.present? and dataApple.app.id.present?
    %meta{ name: "apple-itunes-app", content: dataApple.app.id }

-# If content is set to yes, the web application runs in full-screen mode;
%meta{ name: "apple-mobile-web-app-capable", content: "yes" }

-# This meta tag has no effect unless you first specify full-screen mode as described
%meta{ name: "apple-mobile-web-app-status-bar-style", content: "black-translucent" }

-# Apple Title
%meta{ name: "apple-mobile-web-app-title", content: "Web Starter Kit" }

-# By default, Safari on iOS detects any string formatted like a phone number and makes it a link that calls the number
%meta{ name: "format-detection", content: "telephone=yes" }