---

meta :
    author      : "DryKISS"
    description : "Swatch - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Swatch - CodeBlender"
    type        : "website"

heading :
    title : "Swatch"

todo :
    - - "Complete more examples"

---

%p Swatch provides an easy to use colour palette widget
