---

<<<<<<< HEAD
meta :
    description : "Swatch - CodeBlender"
    title       : "Swatch - CodeBlender"

heading :
    title : "Swatch"
=======
description : "Swatch"
title       : "Swatch"
>>>>>>> updates

todo :
    - - "Complete more examples"

---

%p Swatch provides an easy to use colour palette widget
