---

heading :
    small : ""
    title : "iPhone"

meta :
    author      : "DryKISS"
    description : ""
    title       : "iPhone"

---

-# Prototype
.row

    -# Phone Section
    .col-md-7

        -# iPhone Container
        %section.iphoneSection

            %iframe.iphoneContainer{ :src => "/prototyping/mobile/offcanvas.html" }