---

heading :
    small : ""
    title : "offcanvas"

meta :
    author      : "DryKISS"
    description : ""
    title       : "offcanvas"

layout : "_library/mobile/offcanvas"

---

-# Prototype
.row

    -# Content Section
    .col-md-12

        CONTENT HERE