---

description : "Nav components, tabs and pills"
title       : "Nav components, tabs and pills"

see :
    - - "Bootstrap nav"
      - "http://getbootstrap.com/components/#nav"

todo :
    - - "Put a dropdown example in here also"
    - - "Add the options for the toggle tabs"
    - - "Create some style changes for these"
    - - "Add the options for the toggle tabs"
    - - "Sort out how the active element should be created in the list or on the UL"
    - - "Allow this to also accept an angular NG-Repeat"
    - - "Need to work out how to expand the code section for several partials like tabs and tab content"

---

-# Tabs
:ruby
    code = %{codeBlender "nav", "molecule",
                 { array: [ { url: "javascript:;", text: "Details" },
                 { url:   "javascript:;", text: "Download"} ] }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Tabs" } }

-# Pills
:ruby
    code = %{codeBlender "nav", "molecule",
                 { pills: true,
                   array: [ { url: "javascript:;", text: "Details" },
                            { url: "javascript:;", text: "Download"} ] }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Pills" } }

-# Stackable pills
:ruby
    code = %{codeBlender "nav", "molecule",
                 { active:  "GitHub",
                   pills:   true,
                   stacked: true,
                   array:   [ { icon: { prepend: { icon: "fa fa-credit-card" } }, url: "javascript:;", text: "Details" },
                              { url: "javascript:;", text: "Download" },
                              { icon: { append: { icon: "fa fa-github" } }, url: "javascript:;", text: "GitHub"} ] }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "With icons", text: "Stackable pills" } }

-# Justified pills
:ruby
    code = %{codeBlender "nav", "molecule",
                 { pills:      true,
                   extraClass: "nav-justified",
                   array:      [ { url: "javascript:;", text: "Details" },
                                 { url: "javascript:;", text: "Download" },
                                 { extraClass: "disabled", url: "javascript:;", text: "GitHub"} ] }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "With disabled link", text: "Justified pills" } }
