---

meta :
    author      : "DryKISS"
    description : "Social - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Social - CodeBlender"
    type        : "website"

heading :
    title : "Social"

see :
    - - "Atomic Design"
      - "http://bradfrost.com/blog/post/atomic-web-design/#atoms"
    - - "Custom social shares"
      - "http://dapperdeveloper.com/2015/01/23/creating-custom-social-share-buttons/"

todo :
    - - "Sort out the directory structure for social, currently partials are in atoms etc."

---

%p

    Social widgets are a directory unto themselves as they are often third party
    includes, usually via JavaScript these days.

%p
    Facebook widgets carry minimal HTML in some instances, like using the HTML5 tags.
