---

meta :
    author      : "DryKISS"
    description : "Tab toggle - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Tab toggle - CodeBlender"
    type        : "website"

heading :
    title : "Tab"

see :
    - - "Bootstrap Tab"
      - "http://getbootstrap.com/javascript/#tabs"

---

-# Toggle tabs tab.js
:ruby
    code = %{codeBlender "nav", "molecule", { array:  [ { url: "#details4",  text: "Details" },
                                          { url: "#download4", text: "Download"} ],
                                toggle: true }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Requires tab.js", text: "Toggle tabs" } }

-# Tab Content
.tab-content

    -# Code
    .tab-pane.active{ id: "details4" } details4

    -# Output
    .tab-pane{ id: "download4" } Download