---

meta :
    author      : "DryKISS"
    description : "Navbar navigation component - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Navbar navigation component - CodeBlender"
    type        : "website"

heading :
    small : "Navigation component"
    title : "Navbar"

navigation1 :
    - :image  : "site/.png"
      :status : active

see :
    - - "Bootstrap navigation bar"
      - "http://getbootstrap.com/components/#navbar"
    - - "Bootstrap example"
      - "https://getbootstrap.com/examples/navbar/"

todo :
    - - "Need to be able to remove navbar on individual pages = navbar : false"
    - - "Active menu item needs to be completed"
    - - "General images and icons need to work for each item and as an item in there own right"
    - - "When multiple items are floated right then they cross over - need to batch these up in one section - right or left in the YAML"
    - - "Need the ability to add images as placeholders."
    - - "Active links for dropdown menus needs sorting"
    - - "Icon to collapse any child sidebar"
    - - "Icons left or right to bring in offcanvas menus"
    - - "Confirm whether each of the elements in the YAML are required now, comment them"
    - - "Add the shopping widget to the navigation again"
    - - "Make sure navbar-btn is added to the button in a navbar - test"
    - - "Make sure navbar-form is added to form elements in the navbar - test"
    - - "Add the ability to do navbar-text and navbar-link in the navbar"

locals :
    - - "array"
      - "array"
      - "optional"
      - "Either define in a YAML or pass in as a local"
    - - "brand"
      - "string"
      - "optional"
      - "Will default to using the config"
    - - "fluid"
      - "bool"
      - "optional"
      - "Mainly used for examples to place the navbar in a designated container"
    - - "logo"
      - "bool"
      - "optional"
      - "Whether to show a logo instead of the brand name"
    - - "position"
      - "string"
      - "optional"
      - "Either fixed-top, fixed-bottom, static-top"
    - - "target"
      - "string"
      - "optional"
      - "Target for the collapse"
    - - "type"
      - "string"
      - "optional"
      - "Inverse or false for default"
    - - "ulClass"
      - "string"
      - "optional"
      - "Class such as navbar-right"
    - - "wrapper"
      - "bool"
      - "optional"
      - "Whether the wrap the Navbar in a class"

---

%p
    JavaScript is required for the navigation collapse
    Be sure to add a role="navigation" to the navbar to help with accessibility.

    Requires a /data/navigation.yaml file to be present. Basically checks the
    YAML for Divider, Dropdown or Menu Item then displays according to the YAML.

-# Set globally want per nav bar....
- data.navigation[ :container ] = "container"

-# Default
:ruby
    code = %{codeBlender "navbar", "molecule", data.navigation}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }

/ -# Logo
/ :ruby
/     code = %{codeBlender "navbar", "molecule", { array: current_page.data.navigation1,
/                                 fluid:    true,
/                                 logo:     true,
/                                 position: "static-top" }}

/ -# Code
/ = codeBlender "code", "organism", { id: id += 1,code: code, heading: { text: "Logo" } }

/ -# Inverted
/ :ruby
/     code = %{codeBlender "navbar", "molecule", { array: current_page.data.navigation,
/                                 brand:    "Test NavBar",
/                                 fluid:    true,
/                                 position: "static-top",
/                                 type:     "inverse" }}

/ -# Code
/ = codeBlender "code", "organism", { code: code, heading: { text: "Inverted" } }