-##
-# Assets
-# Displays clickable thumbnails of the design assets for this page
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- cp = current_page.data

-# Check Array Exists
- if cp.assets

    %hr

    .assets{ ng: { controller: "ThumbnailCtrl" } }

        -# Heading
        = partial "./molecule/heading/heading", locals: { tag: "h3", text: "Assets" }

        -# Tools
        = partial "./bootstrap/component/thumbnails",
                   locals: { array: cp.assets, columns: "col-md-2 col-sm-3 col-xs-4" }