-##
-# Resources
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Check Array Exists
- if current_page.data.see or locals[ :array ]

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :small => "Useful websites and tutorials",
                            :tag   => "h3",
                            :text  => "Resources" }

    -# Create Array
    - array = { "columns" => [ { "label" => "Title" },
                               { "label" => "URL" } ],
                "data"    => array ? array : current_page.data.see }

    -# Table
    = partial "./bootstrap/css/table",
               :locals => { :array      => array,
                            :tableClass => "table-striped table-condensed" }