-##
-# Tasks
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- cp = current_page.data
- dc = data.config

-# Check Array Exists
- if cp.todo or locals[ :array ]

    %hr

    -# Heading
    = partial "molecule/heading/heading", locals: { tag: "h3", text: "Tasks" }

    -# Create Array
    - array = { cols: [ "Task", "Section", "Date" ],
                data: locals[ :array ] ? array : cp.todo }

    -# Table
    = partial "./bootstrap/css/table",
               locals: { array:      array,
                         id:         "dataTableTodo",
                         hidden:     locals[ :hidden ] ? hidden : false,
                         footer:     true,
                         tableClass: "table-striped table-condensed" }