-##
-# Top Icon
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

%ul.nav.pull-right.scrollTop

    %li

        = link_to( "#",
                   :title => "Scroll to top" ) do

            %span.fa.fa-chevron-up