-##
-# Top Icon
-#
-# @usage
-# -# Top Icon
-# = partial "./scaffolding/topIcon"
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

%ul.nav.pull-right.scrollTop{ ng: { controller: "TopIconCtrl" } }

    %li

        = link_to( "javascript:;", title: "Scroll to top", ng: { click: "gotoTop()" } ) do
            - icon( "fa-chevron-up" )