-##
-# Portfolio Recent
-# Shows the latest 3 portfolio entries from the Portfolio blog
-# Useful as a home page block
-#
-# @usage
-# -# Portfolio Recent
-# = partial "./template/portfolio/recent", locals: { total: "3" }
-#
-# @param total - How many columns of items to display.
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-#
-# @todo Find a way to include the language elements from this module also
-# @todo Put the default amount into a portfolio config - at the moment 3
-# @todo Need to calculate the columns based on the default amount
-# @todo Sort out the design of the blockquote caption and thumbnail image
-##

-# Portfolio
%section.portfolio.portfolio__recent

    -# Bootstrap Container
    .container

        -# Bootstrap Row
        .row

            -# Bootstrap Columns
            .col-md-12.col-sm-12

                -# Blockquote
                = partial "./atom/blockquote/blockquote", locals: t( :"portfolio.recent.heading" )

        -# Bootstrap Row
        .row

            -# Loop through the Portfolio Category finding the first 3
            -# Sorting is done by date as a default
            - blog( 'portfolio' ).articles.first( locals[ :total ] ? locals[ :total ] : 3 ).each do | portfolio |

                -# Bootstrap Columns
                .col-md-4.col-sm-4

                    -# Link to Portfolio
                    %a{ href: portfolio.url, title: portfolio.data.heading.title }

                        -# Image
                        = partial "./atom/image/image",
                                   locals: { alt:        portfolio.data.heading.title,
                                             caption:    portfolio.data.heading.title,
                                             extraClass: "img-thumbnail",
                                             src:        "#{ portfolio.data.meta.image }" }