-##
-# Portfolio Template
-#
-# @usage
-# -# Portfolio
-# = partial "./template/portfolio/portfolio"
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    https://github.com/patrickkunka/mixitup
-# @see    https://mixitup.kunkalabs.com/
-# @see    http://www.keenthemes.com/preview/metronic/theme/templates/admin4/page_portfolio.html
-##

-# Section Blog List
%section.portfolio.portfolio__all{ itemscope: true, itemtype: "http://schema.org/Blog" }

    Portfolio