---

layout : false

---

.row

    .col-md-2

        Search:
        %input{ "ng-model" => "query" }

        Sort by:
        %select{ "ng-model" => "orderProp" }
            %option{ value: "name"} Alphabetical
            %option{ value: "age"} Newest
            %option{ value: "-age"} Oldest

    .col-md-10

        %ul.phones
            %li{ "ng-repeat" => "phone in phones | filter:query | orderBy:orderProp" }
                {{ phone.name }}
                %p
                    {{phone.snippet}}

{{orderProp}}
{{query}}