---

meta :
    description : "Molecule - CodeBlender"
    title       : "Molecule - CodeBlender"

heading :
    title : Molecule

see :
    - - "Atomic Design"
      - "http://bradfrost.com/blog/post/atomic-web-design/#atoms"

---

%p
    Molecules contain atoms are a used to formulate the modular functionality of
    a website. You will probably find during design and development a lot of
    molecules will be tested and developed.
