-##
-# Brand
-# Provides Icon, Logo and text if required
-#
-# @usage
-# -# Brand
-# = codeBlender "brand", "molecule"
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category molecule
-##

-# Variable
- brand = data.navigation.brand

-# Show Heading
- if brand.heading.active

    -# Heading H1
    = codeBlender "heading", "molecule", { icon: brand.icon.icon, href: brand.link.url, text: :"navAbove.title", itemprop: "headline" }

-# Show Image
- if brand.logo.active

    -# Image
    = codeBlender "image", "atom",
      { alt:        brand.logo.alt,
        extraClass: "navbar-brand__image",
        size:       [ brand.logo.width, brand.logo.height ],
        src:         brand.logo.url ? brand.logo.url : "logo/logo.png" }
