---

meta :
    author      : "DryKISS"
    description : "Brand - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Brand - CodeBlender"
    type        : "website"

heading :
    title : "Brand"

---

%p
    Create a reusable brand element

-# Default
:ruby
    code = %{codeBlender "brand", "molecule"}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }
