---

meta :
    description : "Brand - CodeBlender"
    title       : "Brand - CodeBlender"

heading :
    title : "Brand"

---

%p
    Create a reusable brand element

-# Default
:ruby
    code = %{codeBlender "brand", "molecule"}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }
