//
// Panels
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Panels
//----------------------------------------------------------------------------//
.panel {

    // Heading
    //------------------------------------------------------------------------//
    h2 {
        font-size : $font-size-h2;
    }

    // Heading
    //------------------------------------------------------------------------//
    .panel-heading {

        // Overflow Ellipsis on Title
        //--------------------------------------------------------------------//
        &.ellipsis .panel-title {
            white-space   : nowrap;
            width         : 100%;
            overflow      : hidden;
            text-overflow : ellipsis;
        }
    }

    // Panel Title
    //------------------------------------------------------------------------//
    .panel-title {

        span {
            vertical-align: -10%;
        }

    }

    // Panel Body
    //------------------------------------------------------------------------//
    .panel-body {

        background-size : contain;
        min-height      : 80px;

        &.table4 {
            background : url( ?holder.js/400x200/auto ) no-repeat center;
        }
    }

    // Small
    //------------------------------------------------------------------------//
    small {
        color     : #aaa;
        font-size : 16px;
    }

    // Tools
    //------------------------------------------------------------------------//
    .tools {

        float : right;

        i {
            color     : #fff;
            font-size : 20px;
        }

    }

}