---

stub : tag

heading :
    small : Articles by Tag
    title : Tags

see :
    - - "Google Analytics"
      - "https://www.google.com/analytics"

layout   : "_library/tags"
pageable : true
per_page : 12
date     : 2001-03-31

---

-# Paginate
- if paginate

    %p
        Page= page_number
        of= num_pages

    - if prev_page
        %p= link_to 'Previous page', prev_page

-# Latest
%ul.list-unstyled.labelList

    - page_articles.each do | article |

        %li

            -# Label
            = partial "./bootstrap/component/label", locals: { color: "info", content: article.date.strftime( '%b %e' ) }
            = link_to article.title, article

- if paginate and next_page
    %p= link_to 'Next page', next_page