-##
-# Icon stacked
-# Only available with the font awesome library
-#
-# @usage
-# -# Icon stacked
-# = partial "./atom/icon/icon-stacked", locals: { icon: "fa-shopping-cart", size: "fa-2x" }
-#
-# @param    icon - Icon name, must include prefix of supplier
-# @param    size - Stack size
-#
-# @category atom
-# @author   Ian Warner <ian.warner@drykiss.com>
-##

-# Find out icon library
- iconName  = string locals[ :icon ]

-# Icon - Stack
%span{ class: "fa fa-stack #{ size }" }

    -# Icon - outer stack
    = partial "./atom/icon/icon", locals: { icon: "fa-circle-thin fa-stack-2x" }

    -# Icon - inner stack
    = partial "./atom/icon/icon", locals: { icon: iconName }