-##
-# Nav Above
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

%section.navAbove

    .container

        -# Title
        = partial "./bootstrap/type/heading",
                   :locals => { :extraClass => "pull-right noMargin",
                                :tag        => "h3",
                                :text       => "" }

        -# Link to Home Page
        = link_to( data.config.navBrandLink ) do

            -# Title
            = partial "./bootstrap/type/heading",
                       :locals => { :extraClass => "noMargin",
                                    :tag        => "h3",
                                    :text       => "Team Two" }
