-##
-# Nav Below
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

%section.navBelow

    -# Jumbotron For Brand Guidlines
    = partial "./bootstrap/components/jumbotron",
               :locals => { :description => :jumbotronDesc,
                            :title       => :"home.jumbotronTitle" }