---

meta :
    author      : "DryKISS"
    description : "Registration - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Registration - CodeBlender"
    type        : "website"

heading :
    small : "Standard Registration Form"
    title : "Registration"

see :
    - - "Example registration form"
      - "http://www.keenthemes.com/preview/metronic/templates/admin/login.html"

---

.row

    .col-md-6

        -# Registration
        = codeBlender "registration", "organism"
