---

description : "Registration"
title       : "Registration"

see :
    - - "Example registration form"
      - "http://www.keenthemes.com/preview/metronic/templates/admin/login.html"

---

.row

    .col-md-6

        -# Registration
        = codeBlender "registration", "organism"
