//
// Heading and page header
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category molecule
// @see      http://getbootstrap.com/css/#type-headings
// @see      http://getbootstrap.com/components/#page-header
//----------------------------------------------------------------------------//

// Page header
//----------------------------------------------------------------------------//
.page-header {
    margin : 0;
}

// Heading
//----------------------------------------------------------------------------//
.heading {

    // Heading truncation - need to set colour for ellipsis
    //------------------------------------------------------------------------//
    // &--truncate {
    //     color         : $headings-small-color;
    //     display       : inline-block;
    //     overflow      : hidden;
    //     text-overflow : ellipsis;
    //     width         : 100%;
    //     white-space   : nowrap;
    //     word-break    : break-all;
    //     word-wrap     : break-word;
    // }

    // No margin
    //------------------------------------------------------------------------//
    &--noMargin {
        margin : 0;
    }

    // Line height
    //------------------------------------------------------------------------//
    &--lineHeight {
        line-height : inherit;
    }

    // Icon
    //------------------------------------------------------------------------//
    span {
        margin-right : 5px;
    }

    // Small
    //------------------------------------------------------------------------//
    small {

    }

}