---

meta :
    author      : "DryKISS"
    description : "Heading - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Heading - CodeBlender"
    type        : "website"

heading :
    title : "Heading"

see :
    - - "Bootstrap heading"
      - "http://getbootstrap.com/css/#type-headings"

todo :
    - - "Complete all the headings options"
    - - "Create media queries for the heading truncation"
    - - "Create the BEM for this"
    - - "Create micro formats and accessibility for the headings"
    - - "Complete the ability to use truncation - does not work in media objects at the moment"

locals :
    - - "extraClass"
      - "string"
      - "optional"
      - "Extra Classes for the heading element"
    - - "small"
      - "string"
      - "optional"
      - "Small description, flows next to the heading"
    - - "text"
      - "string"
      - "required"
      - "Main heading text"
    - - "tag"
      - "string"
      - "optional"
      - "Heading Tag H1 to H6 - default H1"

---

-# ID
- id = 0

-# Default
:ruby
    code = %{partial "molecule/heading/heading.haml", locals: { text: "Default H1 Tag" }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code }

-# H2 with small
:ruby
    code = %{partial "molecule/heading/heading.haml", locals: { small: "Secondary small text", text: "H2 with Secondary Text", tag: "h2" }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code }

-# H4
:ruby
    code = %{partial "molecule/heading/heading.haml", locals: { small: "Simply change the tag attribute", text:  "H4", tag: "h4" }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code }

-# Heading with link
:ruby
    code = %{partial "molecule/heading/heading.haml", locals: { href: "#", small: "With a Link attached", text: "Linked Heading", tag: "h2" }}

-# Code
= partial "organism/code/code.haml", locals: { id: id += 1, code: code }