---

meta :
    author      : "DryKISS"
    description : "Twitter follow button - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Twitter follow button - CodeBlender"
    type        : "website"

heading :
    small : "Follow Button"
    title : "Follow Button Partial"

see :
    - - "Twitter Follow Button"
      - "https://dev.twitter.com/docs/follow-button"

---

-# Heading
= codeBlender "heading", "molecule", { text: "Default", tag: "h2" }

-# Follow Button
= partial "molecule/twitter/follow-button.haml"

-# Code
:code
    #lang: ruby
    = partial "molecule/twitter/follow-button.haml"