---

# Meta
meta :
    description : "Twitter - CodeBlender"
    title       : "Twitter - CodeBlender"

# Heading
heading :
    title : "Twitter"

# See
see :
    - - "Twitter web plugins"
      - "https://dev.twitter.com/web/overview"
    - - "Twitter meta cards"
      - "https://dev.twitter.com/cards/getting-started"

---

-# Twitter plugins
:markdown

    Twitter provide a series of web widgets that allow the developer to share,
    embed or utilise Twitter content. Some of thee widgets require that the url
    shared is marked up correctly using the twitter card meta tags.

    - [Follow button](/social/twitter/follow-button/follow-button.html)
    - [Tweet button](/social/twitter/tweet-button/tweet-button.html)
