-##
-# Tasks
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Variables
- cp = current_page.data

-# Check Array Exists
- if cp.todo or locals[ :array ]

    %hr

    -# Heading
    = partial "./molecule/heading/heading", locals: { tag: "h3", text: "Tasks" }

    -# Create Columns Array
    - array = { cols: [ "Task", "Date" ], data: locals[ :array ] ? array : cp.todo }

    -# Table
    = partial "./molecule/table/table",
               locals: { array:      array,
                         id:         "dataTableTodo",
                         hidden:     locals[ :hidden ] ? hidden : false,
                         tableClass: "table-striped table-condensed" }