---

meta :
    description : "Facebook send button - CodeBlender"
    title       : "Facebook send button - CodeBlender"

heading :
    title : "Facebook send button"

see :
    - - "Facebook Send Button"
      - "https://developers.facebook.com/docs/plugins/send-button"

---

-# Heading
= codeBlender "heading", "molecule", { text: "Default", tag: "h2" }

-# Send Button
= codeBlender "send-button", "social/facebook/send-button"

-# Code
:code
    #lang: ruby
    = codeBlender "send-button", "social/facebook/send-button"
