---

meta :
    author      : "DryKISS"
    description : "Person - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Person - CodeBlender"
    type        : "website"

heading :
    title : "Person"

todo :
    - - "Complete more examples"

---

%p Person
