---

<<<<<<< HEAD
meta :
    description : "Person - CodeBlender"
    title       : "Person - CodeBlender"

heading :
    title : "Person"
=======
description : "Person"
title       : "Person"
>>>>>>> updates

todo :
    - - "Complete more examples"

---

%p Person
