---

meta :
    description : "Facebook embedded post - CodeBlender"
    title       : "Facebook embedded post - CodeBlender"

heading :
    title : "Facebook embedded post"

see :
    - - "Facebook embedded post"
      - "https://developers.facebook.com/docs/plugins/embedded-posts/"

---

-# Default
:ruby
    code = %{codeBlender "post-embedded", "social/facebook/post-embedded"}

-# Code
= codeBlender "code", "molecule", { code: code, heading: { text: "Default" } }
