---

meta :
    author      : "DryKISS"
    description : "Snap SVG - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Snap SVG - CodeBlender"
    type        : "website"

heading :
    title : "SNAP"

---