---
author       : "Ian Warner"
description  : "The Activity feed displays the most interesting, recent activity
                taking place on your site, using actions (such as likes) by your
                friends and other people."
small        : "https://developers.facebook.com/docs/plugins/activity"
title        : "Facebook Activity Feed Partial"

see :
    - - "Facebook Activity"
      - "https://developers.facebook.com/docs/plugins/activity"

---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :tag  => "h2" }

-# Like Button
= partial "social/facebook/activity-feed"

-# Code
:code
    #lang: ruby
    = partial "social/facebook/activity-feed"