---

heading :
    small : "https://developers.facebook.com/docs/plugins/comments"
    title : "Facebook Comments Partial"

meta :
    author      : "Ian Warner"
    description :
        "The Comments box lets people comment on content on your site using their
        Facebook profile and shows this activity to their friends in news feed.
        It also contains built-in moderation tools and special social relevance ranking."
    title       : "Facebook Comments Partial"

see :
    - - "Facebook Comments"
      - "https://developers.facebook.com/docs/plugins/comments/"

---

-# Heading
= partial "molecule/heading/heading", locals: { text: "Default", tag: "h2" }

-# Comments
= partial "social/facebook/comments"

-# Code
:code
    #lang: ruby
    = partial "social/facebook/comments"