---

heading :
    small : "https://developers.facebook.com/docs/plugins/embedded-posts"
    title : "Facebook Embedded Posts Partial"

meta :
    author      : "Ian Warner"
    description :
        "Embedded Posts are a simple way to put public posts - by a Page or a
        person on Facebook - into the content of your web site or web page. Only
        public posts from Facebook Pages and profiles can be embedded."
    title       : "Facebook Embedded Posts Partial"

see :
    - - "Facebook Comments"
      - "https://developers.facebook.com/docs/plugins/embedded-posts/"

---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :tag  => "h2" }

-# Embedded Posts
= partial "social/facebook/embedded-posts"

-# Code
:code
    #lang: ruby
    = partial "social/facebook/embedded-posts"