---

heading :
    small : "https://developers.facebook.com/docs/plugins"
    title : "Facebook Facebook Partials"

meta :
    author      : "Ian Warner"
    description : "See what your Facebook friends have liked, shared, or commented on across the Web."
    title       : "Facebook Facebook Partials"

see :
    - - "Facebook Plugins"
      - "https://developers.facebook.com/docs/plugins/"

---