---

heading :
    small : "https://developers.facebook.com/docs/plugins/recommendations-bar"
    title : "Facebook Recommendations Bar Partial"

meta :
    author      : "Ian Warner"
    description :
        "The Recommendations bar lets people 'like' content, get recommendations,
        and share what they're reading with their friends."
    title       : "Facebook Recommendations Bar Partial"

see :
    - - "Facebook Recommendations Bar"
      - "https://developers.facebook.com/docs/plugins/recommendations-bar"

---

-# Heading
= partial "molecule/heading/heading", locals: { text: "Default", tag: "h2" }

-# Recommendations Bar
= partial "social/facebook/recommendations-bar"

-# Code
:code
    #lang: ruby
    = partial "social/facebook/recommendations-bar"