---

heading :
    small : "https://developers.facebook.com/docs/plugins/share-button"
    title : "Facebook Share Button Partial"

meta :
    author      : "Ian Warner"
    description :
        "The Share button lets people add a personalized message to links before
        sharing on their timeline, in groups, or to their friends via a Facebook
        Message. If your app is native to iOS or Android, we recommend that you
        use the native Share Dialog on iOS and Share Dialog on Android instead."
    title       : "Facebook Share Button Partial"

see :
    - - "Facebook Share Button"
      - "https://developers.facebook.com/docs/plugins/share-button/"

---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :tag  => "h2" }

-# Share Button
= partial "social/facebook/share-button"

-# Code
:code
    #lang: ruby
    = partial "social/facebook/share-button"