---

angular :
    controller   : "AngularUIGridController"
    controllerAs : "content"

meta :
    author      : "DryKISS"
    description : "Angular UI grid - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Angular UI grid - CodeBlender"
    type        : "website"

heading :
    title : "Angular UI grid"

see :
    - - "UI grid option"
      - "http://ui-grid.info/docs/#/api/ui.grid.class:GridOptions"
    - - "UI grid example"
      - "http://plnkr.co/edit/D48xcomnXdClccMnl5Jj?p=preview"
    - - "Input doc"
      - "https://docs.angularjs.org/api/ng/directive/input"
    - - "UI grid example"
      - "http://plnkr.co/edit/Tr9cNm0lDy62dmF7LNlr?p=preview"

todo :
    - - "Get the add modal running"
    - - "Get the edit modal running"
    - - "Get the delete working"
    - - "Detail the options clearly"
    - - "Provide more samples of these options on the page"

---

-# Angular UI grid controls
= partial "organism/angular-ui-grid/angular-ui-grid-controls"

-# Bootstrap row
.row

    -# Bootstrap column
    .col-md-6

        %form

            -# Input - search
            = partial "atom/input/input",
                       locals: { input: { inputGroupClass: "input-group",
                                          placeholder:     "Search",
                                          name:            "Search",
                                          ng:              { change: "content.searchData()", model: "content.searchText" },
                                          type:            "Enter search words" },
                                 label: { title: "Search" } }

    -# Bootstrap column
    .col-md-6.text-right

        -# Button
        = partial "./atom/button/button", locals: { context: "primary", size: "lg", icon: { prepend: "fa-plus" }, ng: { click: "content.addModal()" } }

-# Bootstrap row
.row

    -# Bootstrap column
    .col-md-12

        -# Angular UI grid
        %div#contentGrid{ ui: { grid: "content.gridOptions" } }

        %hr

        -# Total
        Total : {{ content.total }}