---

meta :
    author      : "DryKISS"
    description : "Select - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Select - CodeBlender"
    type        : "website"

heading :
    small : "Check YAML of page for array variation"
    title : "Form Select"

see :
    - - "Bootstrap Forms"
      - "http://getbootstrap.com/css/#forms"
    - - "Select 2"
      - "http://ivaynberg.github.io/select2/select2-latest.html"

locals :
    - - "array"
      - "array"
      - "required"
      - "Array of options to include"

    - - "help"
      - "string"
      - "optional"
      - "Help text"

    - - "label"
      - "array"
      - "optional"
      - "Text and Flag for Screen Reader for the label"

    - - "extraClass"
      - "string"
      - "optional"
      - "Classes for the label"

    - - "multiple"
      - "bool"
      - "optional"
      - "Multiple select box"

    - - "name"
      - "string"
      - "required"
      - "Name of the field"

selectArray1 :
    - - "United Kingdom"
      - "44"
    - - "USA"
      - "1"

selectArray2 :
    - - "United Kingdom"
    - - "USA"

---

-# Variables
- @cd = current_page.data

-# Default
:ruby
    code = %{codeBlender "select", "atom", { array: @cd.selectArray1, label: { title: "Label" }, name: "ID" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Different Value and Option", text: "Default" } }

-# Default
:ruby
    code = %{codeBlender "select", "atom", { array: @cd.selectArray2, label: { title: "Label" }, name: "ID" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Same Value and Option", text: "Optimised" } }