//
// Aside
// Creates the Off Canvas elements, Navigation and Complimentary
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Variables
//----------------------------------------------------------------------------//
$horizontalLength : 10px;
$verticalLength   : 0;
$blurRadius       : 20px;
$spread           : 0;
$opacity          : 0.4;

// Flex
//----------------------------------------------------------------------------//
.flex {
    -webkit-flex : 1;
}

// Background
//----------------------------------------------------------------------------//
[role="panelLeft"], [role="panelRight"] {
    background      : grey image-url( slide-menu/slide-menu-back.png ) no-repeat;
    background-size : $asideWidth;
}

// Default CSS
// Will stack the elements, utilised if no JS is found
//----------------------------------------------------------------------------//
[role="panelLeft"], [role="panelRight"], [role="dropdown"] {
    position           : absolute;
    width              : 272px;
    max-height         : 100%;
    height             : 100%;
    -webkit-transition : all .5s ease;
}

// Aside
//----------------------------------------------------------------------------//
.asidePanel {
    display                : -webkit-flex;
    min-height             : 100%;
    -webkit-flex-direction : column;
}

// JS is detected
// JS Should be appended to the Body Tag.
//----------------------------------------------------------------------------//
.js {

    // Aside Left
    //------------------------------------------------------------------------//
    &.active-navigation {
        [role="main"] {
            -webkit-transform : translate3d( 272px, 0, 0 );
        }
    }

    // Aside Right
    //------------------------------------------------------------------------//
    &.active-complimentary {
        [role="main"] {
            -webkit-transform : translate3d( -272px, 0, 0 );
        }
    }
}