//
// Bar
//
// @author Ian Warner <ian.warner@drykiss.com>
//--------------------------------------------------------------------------- //

// Bar
//--------------------------------------------------------------------------- //
.bar {

    // Flex Box
    //----------------------------------------------------------------------- //
    display             : -webkit-flex;
    -webkit-align-items : center;

    padding-left        : 5px;
    width               : 100%;

    // Inset
    //----------------------------------------------------------------------- //
    &.inset {
        padding-left : 95px;
    }

    &.padded {
        padding : 0 30px;
    }

    // Bar Title
    //----------------------------------------------------------------------- //
    .bar-title {

        color        : #000;
        font-size    : 18px;
        -webkit-flex : 1;

        // Bar Title
        //------------------------------------------------------------------- //
        .bar-sup {
            color     : #979dab;
            font-size : 14px;
        }

        &.bar-small {
            font-size : 16px;
        }
    }

    // Icon List
    //----------------------------------------------------------------------- //
    ul {
        display                 : -webkit-flex;
        -webkit-justify-content : flex-end;
    }

}