/**
 * Buttons
 *
 * @author Ian Warner <ian.warner@drykiss.com>
----------------------------------------------------------------------------- */

// Button
//--------------------------------------------------------------------------- */
.b {

    display          : inline-block;
    margin-bottom    : 0;
    font-weight      : $btnFontWeight;
    text-align       : center;
    vertical-align   : middle;
    cursor           : pointer;
    border           : 1px solid transparent;
    white-space      : nowrap;

    @include button-size( $padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $borderRadiusBase );
    @include user-select( none );

    &:focus {
        @include tab-focus();
        color           : $btnDefaultColour;
        text-decoration : none;
    }

    &:active, &.active {
        outline          : 0;
        background-image : none;
        box-shadow( inset 0 3px 5px rgba( 0, 0, 0, .125 ) );
    }

    &.disabled, &[disabled], fieldset[disabled] & {
        cursor         : not-allowed;
        pointer-events : none;
        @include opacity( .65 );
        box-shadow( none );
    }

    // Alternate Buttons
    // --------------------------------------------
    &.b-default {
        @include button-variant( $btnDefaultColour, $btnDefaultBackground, $btnDefaultBorder );
    }

    // Primary
    &.b-primary {
        @include button-variant( $btnPrimaryColour, $btnPrimaryBackground, $btnPrimaryBorder );
    }

    // Warning appears as orange
    &.b-warning {
        @include button-variant( $btnWarningColour, $btnWarningBackground, $btnWarningBorder );
    }

    // Danger and error appear as red
    &.b-danger {
        @include button-variant( $btnDangerColour, $btnDangerBackground, $btnDangerBorder );
    }

    // Success appears as green
    &.b-success {
        @include button-variant( $btnSuccessColour, $btnSuccessBackground, $btnSuccessBorder );
    }

    // Info appears as blue-green
    &.b-info {
        @include button-variant( $btnInfoColour, $btnInfoBackground, $btnInfoBorder );
    }

    // Button Sizes
    // --------------------------------------------
    &.b-lg {
        // line-height: ensure even-numbered height of button next to large input
        @include button-size( $padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $borderRadiusLarge );
    }

    &.b-sm, &.b-xs {
        // line-height: ensure proper height of button next to small input
        @include button-size( $padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $borderRadiusSmall );
    }

    &.b-xs {
        padding: 1px 5px;
    }

    // Block button
    // --------------------------------------------
    &.b-block {
        display       : block;
        width         : 100%;
        padding-left  : 0;
        padding-right : 0;
    }

}

// Specificity overrides
input[type="submit"], input[type="reset"], input[type="button"] {

    &.b-block {
        width : 100%;
    }

}