/**
 * Form Drop Down List
 *
 * @author Ian Warner <ian.warner@drykiss.com>
 *
 * @todo
--------------------------------------------------- */

// Dropdown
// ------------------------------------------------
.dropDown {
    width          : 180px;
    vertical-align : middle;
}

// Dropdown Value
// ------------------------------------------------
.dropDownValue {
    text-align : right;
    width      : 40px;
}

// Dropdown Icon
.dropDownIcon {
    font-size : 30px;
}