//
// Icons
//
// @author Ian Warner <ian.warner@drykiss.com>
//
//----------------------------------------------------------------------------//

// Icons
//----------------------------------------------------------------------------//
%span .fa, i .fa {

    color     : $iconColour;
    font-size : 36px;

    // Icons
    //------------------------------------------------------------------------//
    &:active, &.active {
        color   : $iconActiveColour;
        outline : 0;
    }

}