/**
 * Image
 *
 * @author Ian Warner <ian.warner@drykiss.com>
 * @todo
--------------------------------------------------- */

// Variables
// ------------------------------------------------
$imageBackgroundColor : #d5d9df;
$imageBorderColor      : #d5d9df;

// Image
// ------------------------------------------------
img {

    vertical-align : middle;

    // Border
    // --------------------------------------------
    &.img-border {
        border     : 1px solid $imageBorderColor;
        box-sizing : border-box;
    }

    // Responsive
    // Ensure images don't scale beyond their parents
    // --------------------------------------------
    &.img-responsive {
        @include img-responsive();
    }

    // Rounded Corners
    // --------------------------------------------
    &.img-round {
        border-radius : $borderRadiusLarge;
    }

    &.img-round-top {
        border-top-left-radius  : $borderRadiusLarge;
        border-top-right-radius : $borderRadiusLarge;
    }

    // Thumbnail
    // --------------------------------------------
    &.img-thumb {
        background-color : $imageBackgroundColor;
        border           : 1px solid darken( $imageBackgroundColor, 10% );
        box-shadow       : 0 2px 5px -1px rgba( 0, 0, 0, 0.4 );
        line-height      : $line-height-base;
        padding          : 4px;
        z-index          : 2;

        @include transition( all .2s ease-in-out );
        @include img-responsive( inline-block );
    }

    // Circle
    // --------------------------------------------
    &.img-circle {
        border-radius : 50%;
    }
}
