/**
 * Scaffolding
 * Creates the CSS for the main elements of the site
 *
 * @author Ian Warner <ian.warner@drykiss.com>
 *
 * @todo   Sort out the heights etc to be better - Flex Box
 * @todo   Move the font settings to variables
//--------------------------------------------------------------------------- */

// Import
//--------------------------------------------------------------------------- */
@import "_library-scss/_mobile/scaffolding/global";
@import "_library-scss/_mobile/scaffolding/a";
@import "_library-scss/_mobile/scaffolding/main";

*, *:before, *:after {
  margin  : 0;
  padding : 0;
}

// Overall
//-------------------------------------------------
html {
    height     : 100%;
    overflow-x : hidden;
}

// Body
//--------------------------------------------------------------------------- */
body {

    // Flex Box
    // ---------------------------------------------------------------------- */
    display                : -webkit-flex;
    -webkit-flex-direction : column;

    background-color : $colorBackground;
    font-size        : 12px;
    height           : 100%;
    overflow-x       : hidden;
    min-height       : 100%;
    width            : 100%;
}