/**
 * Type
 *
 * @author Ian Warner <ian.warner@drykiss.com>
 * @todo
--------------------------------------------------- */

// Headings
// ------------------------------------------------
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-size   : 18px;
  font-weight : normal;
  margin      : 0;
}

// Description
// ------------------------------------------------
.description {
    border : 1px solid #d5d9df;
}

// Body text
// ------------------------------------------------
p {
    color      : #6d6d72;
    font-size  : 14px;
    margin     : 0;
    padding    : 10px 15px;
    text-align : center;

    // Bottom Top
    // --------------------------------------------
    &.border-t {
        border-top : 1px solid #d5d9df;
    }

    // Title
    //---------------------------------------------
    &.title {
        color     : #315e96;
        font-size : 20px;
        padding   : 0 0 20px 0;
    }

}