//
// Main Role
//
// @author Ian Warner <ian.warner@drykiss.com>
//--------------------------------------------------------------------------- //

// Variables
// -------------------------------------------------------------------------- //
$horizontalLength : 10px;
$verticalLength   : 0;
$blurRadius       : 20px;
$spread           : 0;
$opacity          : 0.4;

// Main Section
// -------------------------------------------------------------------------- //
[role="main"] {
    box-shadow             : $horizontalLength $verticalLength $blurRadius $spread rgba( 0, 0, 0, $opacity ),
                             -$horizontalLength $verticalLength $blurRadius $spread rgba( 0, 0, 0, $opacity );
    display                : -webkit-flex;
    min-height             : 100%;
    width                  : 100%;
    -webkit-flex-direction : column;
    -webkit-flex           : 1;
    -webkit-transition     : all .3s linear;
    -webkit-transform      : translate3d( 0, 0, 0 );
}

// Content
// -------------------------------------------------------------------------- //
#content {

    display      : -webkit-flex;
    -webkit-flex : 1;
    -webkit-justify-content : center;

    &.alternate {
        background-color : #e9edf0;
    }
}