---
author       : "Ian Warner"
description  : "Displays a formatted list of Years and Months when blog posts were created."
layout       : "site/page"
small        : "Formatted archive by year and month"
title        : "Blog Archive Partial"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/blog"
---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :type => "h2" }

-# Archive
= partial "blog/archive"

-# Code
:code
    #lang: ruby
    = partial "blog/archive"