---
author       : "Ian Warner"
date         : 2014-01-20
description  : "Blog Details Partial"
layout       : "site/page"
small        : "Showcases the attributes of the post"
tags         : [ blog, middleman ]
title        : "Blog Details Partial"

navList :
    - active : true
      title  : "Home"
      url    : "/"
    - title  : "Back"
      url    : "/blog"

see :
    - - "Middleman Blogging"
      - "http://middlemanapp.com/blogging"
    - - "Blog Footer"
      - "http://bootsnipp.com/snippets/featured/blog-post-footer"

todo :
    - - "Link Up Date, Author and Comments"
      - ""
      - "2014-02-12"
    - - "Add in social links - Facebook / Twitter / Google+"
      - ""
      - "2014-02-12"
---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :type => "h2" }

-# Details
= partial "blog/details"

%br

-# Code
:code
    #lang: ruby
    = partial "blog/details"