---
author         : "Ian Warner"
description    : "Formatted list of the latest articles"
layout         : "site/page"
small          : "Displays the latest blog posts"
title          : "Blog Recent Partial"

navList :
    - active   : true
      title    : "Home"
      url      : "/"
    - title    : "Back"
      url      : "/blog"

see :
    - - "Middleman Blogging"
      - "http://middlemanapp.com/blogging"

todo :
    - - "Option to change the colour"
      - ""
      - "2014-02-12"
---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :type => "h2" }

-# Recent
= partial "blog/recent"

-# Code
:code
    #lang: ruby
    = partial "blog/recent"