---

meta :
    author      : "DryKISS"
    description : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    image       : "Image"
    subject     : "DryKISS"
    title       : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    type        : "website"

heading :
    small : Showcases the details, tags of the blog post
    title : Detail

date : 2014-01-20
tags : [ blog, middleman ]

see :
    - - "Middleman Blogging"
      - "http://middlemanapp.com/blogging"
    - - "Blog Footer"
      - "http://bootsnipp.com/snippets/featured/blog-post-footer"

todo :
    - - "Link Up Date, Author and Comments"
      - "Details"
      - "2014-02-12"
      - { "context" : "info" }
    - - "Add in social links - Twitter / Google+"
      - "Details"
      - "2014-02-12"
      - { "context" : "info" }

locals :
    - - "comments"
      - "bool"
      - "optional"
      - "Whether to show the comments"
    - - "more"
      - "bool"
      - "optional"
      - "Whether to show more details"

---

- id = 1

-# Detail
:ruby
    code = %{partial "./molecule/detail/detail", locals: { more: true }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Default" } }