---

meta :
    author      : "DryKISS"
    description : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    image       : "Image"
    subject     : "DryKISS"
    title       : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    type        : "website"

heading :
    small : "Social comments"
    title : "Disqus Comments Partial"

see :
    - - "Disqus"
      - "http://disqus.com/"
    - - "Universal Embed Code"
      - "http://help.disqus.com/customer/portal/articles/472097-universal-embed-code"
    - - "JavaScript Variables"
      - "http://help.disqus.com/customer/portal/articles/472098-javascript-configuration-variables"

todo :
    - - "Look at the AJAX loading of Disqus - required if more than one on a page"
      - "Disqus"
      - "2014-02-12"

---

-# Heading
= partial "./molecule/heading/heading", locals: { text: "Default", tag: "h2" }

-# Disqus
= partial "./molecule/disqus/comments"

-# Code
:code
    #lang: ruby
    = partial "./molecule/disqus/comments"