---

stub : iphone

heading :
    small : ""
    title : "iPhone"

see :
    - - "PhoneGap Workflow"
      - "http://www.tricedesigns.com/2013/01/18/my-workflow-for-developing-phonegap-applications/"
    - - "PhoneGap Blog"
      - "http://www.tricedesigns.com/tag/phonegap/"
    - - "Mobile UX"
      - "http://www.identitymine.com/Data/Services/IM_Campaign_Mobile_Whitepaper_01A.pdf"
    - - "iOS Sim"
      - "https://github.com/phonegap/ios-sim"
    - - "PhoneGap Performance Tips"
      - "http://www.mikedellanoce.com/2012/09/10-tips-for-getting-that-native-ios.html"
    - - "PhoneGap Tips"
      - "http://phonegap-tips.com/"
    - - "Example App"
      - "https://github.com/triceam/Walkable-App"
    - - "PhoneGap 3 Help"
      - "http://devgirl.org/2013/09/05/phonegap-3-0-stuff-you-should-know/"
    - - "Sample Apps"
      - "http://www.telerik.com/appbuilder/sample-apps"
    - - "Mobile UX Patterns"
      - "http://www.mobile-patterns.com/"
    - - "Bootstrap PhoneGap App"
      - "http://k33g.github.io/2011/12/30/IOS5-WEBAPP-TWITTER-BOOTSTRAP.html"
    - - "Touch Development"
      - "http://www.html5rocks.com/en/mobile/touch/"
    - - "Go Ratchet Frameowrk"
      - "http://goratchet.com/"

todo :
    - - "Complete a section which outlines the keyboards utilised by android and iOS"
      - "Mobile"
      - "2014-02-24"
      - { "context" : "info" }
    - - "Set up gotchas section - ie -webkit-touch-callout property to none"
      - "Mobile"
      - "2014-03-31"
      - { "context" : "info" }

---

-# Prototype
.row

    -# Phone Section
    .col-md-7

        -# iPhone Container
        %section.iphoneSection

            %iframe.iphoneContainer{ src: "/prototyping/mobile/offcanvas.html" }