---

stub : jumbotron

heading :
    title : "Jumbotron"

see :
    - - "Bootstrap Jumbotron"
      - "http://getbootstrap.com/components/#jumbotron"

locals :
    - - "description"
      - "string"
      - "optional"
      - "Description content"
    - - "extraClass"
      - "string"
      - "optional"
      - "Extra classes to be added such as image or gradient"
    - - "quotes"
      - "bool"
      - "optional"
      - "Whether to show quotes around the small text"
    - - "small"
      - "string"
      - "optional"
      - "Caption for the header"
    - - "title"
      - "string"
      - "required"
      - "H1 tag for the Jumbotron"

---

- id = 1

-# Default
:ruby
    code = %{partial "./organism/jumbotron/jumbotron",
                      locals: { desc:  "Description",
                                small: "Small Text",
                                title: "Title" }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Default" } }

-# Gradient
:ruby
    code = %{partial "./organism/jumbotron/jumbotron",
                      locals: { desc:       "Description",
                                extraClass: "gradient",
                                small:      "Small Text",
                                title:      "Title" }}

= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Gradient" } }

-# Image Jumbotron
:ruby
    code = %{partial "./organism/jumbotron/jumbotron", locals: { extraClass: "image" }}

= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { small: "Requires a CSS tag", text: "Image Jumbotron" } }