---

meta :
    author      : "DryKISS"
    description : "Organism - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Organism - CodeBlender"
    type        : "website"

heading :
    small : "Organisms are the basic building blocks of matter. Applied to web interfaces, atoms are our HTML tags, such as a form label, an input or a button."
    title : "Organsim"

see :
    - - "Atomic Design"
      - "http://bradfrost.com/blog/post/atomic-web-design/#atoms"
    - - "Fuel UX"
      - "http://exacttarget.github.io/fuelux/"
    - - "Jasny"
      - "http://jasny.github.io/bootstrap/index.html"
    - - "Bootstrap Lightbox"
      - "http://www.jasonbutz.info/bootstrap-lightbox/"
    - - "Tags"
      - "http://maxwells.github.io/bootstrap-tags.html"
    - - "Form Helpers"
      - "http://bootstrapformhelpers.com/language/#jquery-plugins"
    - - "Bootstrap Switch"
      - "http://www.bootstrap-switch.org/"
    - - "Bootstrap Markdown"
      - "http://toopay.github.io/bootstrap-markdown/"
    - - "Table of Contents"
      - "http://gregfranko.com/jquery.tocify.js/"

todo :
    - - "Add elements from this site - tutorialzine.com/2013/07/50-must-have-plugins-for-extending-twitter-bootstrap/"

---