---

meta :
    author      : "DryKISS"
    description : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    image       : "Image"
    subject     : "DryKISS"
    title       : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    type        : "website"

heading :
    title : "Search"

see :
    - - "Lunr"
      - "http://lunrjs.com/"
    - - "Jekyll Lunr Search"
      - "https://github.com/slashdotdash/jekyll-lunr-js-search"

---

-# Form
%form.searchForm{ action: "", method: "POST", novalidate: true }

/     -# Search
/     = partial "./atom/input",
/                :locals => { :help        => true,
/                             :label       => "Search",
/                             :name        => "search",
/                             :placeholder => "Search" }

/     -# Submit
/     = partial "./atom/button/button",
/                locals: { context: "primary",
/                          text:    "Submit" }

/ -# Search Results Placeholder
/ .searchResults

/ -# Search Results Underscore Template
/ %script#search_template{ :type => "text/template" }

/     %ul.list-unstyled

/         %li{ :"data-question-id" => "{{ id }}" }

/             %h2
/                 %a{ :href => "#" }
/                     {{ title }}
/             %p
/                 {{ tags }}