---

stub : tasks

heading :
    small : "Collects all the tasks from all resources"
    title : "Global Task List"

see :
    - - "BugHerd"
      - "http://bugherd.com/"

todo :
    - - "Parse all pages collecting the todos for a global Todo List"
      - "Tasks"
      - "2014-02-12"
      - { "context" : "warning" }
    - - "Sort the list based on Date and Priority"
      - "Todo"
      - "2014-02-13"
      - { "context" : "info" }
    - - "If a data column is blank then omit it"
      - "Todo"
      - "2014-02-13"
      - { "context" : "danger" }
    - - "Allow the table to be sorted and filtered"
      - "Todo"
      - "2014-02-13"
      - { "context" : "info" }
    - - "The Todo Element should be collapsable - place in details tag?"
      - "Todo"
      - "2014-02-13"
      - { "context" : "info" }
    - - "Change flag to priority"
      - "Todo"
      - "2014-02-13"
      - { "context" : "danger" }
    - - "Add an author column to the table"
      - "Todo"
      - "2014-02-13"
    - - "Link in main content should be linked not whole text"
      - "Todo"
      - "2014-02-13"
      - { "context" : "danger" }
    - - "Context make todo not sure up now"
      - "Todo"
      - "2014-02-12"
      - { "context" : "info" }

locals :
    - - "array"
      - "array"
      - "Optional"
      - "Array of todos, can also be drawn from the page todo"

---

-# Create Array to store the Todos
- todoArray = []

-# Resources that contain the Tag and have the correct extension
- sitemap.resources.select { | r | r.data.todo.present? }.each do | r |

    -# Merge all the todos from the pages
    - todoArray.concat( r.data.todo )

-# Todo
= partial "./scaffolding/todo", locals: { array: todoArray, hidden: true }