//
// DataTable
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Button
//----------------------------------------------------------------------------//
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding     : 0;
    margin-left : 0;
}

.dataTables_wrapper ul li, body.example div.dataTables_wrapper ol li {
    padding : 0;
    border  : none !important;
}

.DTTT.btn-group {
    position       : relative;
    display        : inline-block;
    vertical-align : middle;
    margin-bottom  : 20px;
}

tfoot input {
    width      : 100%;
    padding    : 3px;
    box-sizing : border-box;
    display    : table-header-group;
}

td.details-control {
    background : url( https://datatables.net/examples/resources/details_open.png ) no-repeat center center;
    cursor     : pointer;
}

tr.shown td.details-control {
    background : url( https://datatables.net/examples/resources/details_close.png ) no-repeat center center;
}