---

heading :
    small : "Google Adsense advertising for publishers"
    title : "Adsense"

meta :
    author      : "DryKISS"
    description : "The partials below allow for the easy insertion of Google Adsense
                   advertising blocks. A googleAdsense variable is required in the
                   config.yaml file for the partials to work correctly."
    title       : "Adsense"

see :
    - - "Google Adsense"
      - "https://www.google.com/adsense"
    - - "Implementation Guide"
      - "https://support.google.com/adsense/answer/181947?ctx=as2&rd=2&ref_topic=29033"
    - - "Managing Ads"
      - "https://support.google.com/adsense/topic/3384747?hl=en&ref_topic=1250102"

todo :
    - - "List the available ad types - check the old Zend stuff too"
      - "Adsense"
      - "2014-02-12"
    - - "Do not require the JS for every advert I think."
      - "Adsense"
      - "2014-02-12"
    - - "Javascript should probably placed in the JS file and loaded after the last button"
      - "Adsense"
      - "2014-02-12"

---

-# Default
:ruby
    code = %{partial "./google/adsense"}

= partial "./scaffolding/code",
           :locals => { :id      => 1,
                        :code    => code,
                        :heading => { :small => "",
                                      :text  => "Default" } }