---

heading :
    small : "Google Analytics site statistics and reporting"
    title : "Analytics"

meta :
    author      : "DryKISS"
    description : "The partials below allow for the easy insertion of Google Analytics."
    title       : "Analytics"

see :
    - - "Google Analytics"
      - "https://www.google.com/analytics"

---

-# Default
:ruby
    code = %{partial "./google/analytics"}

-# Code
= partial "./scaffolding/code",
           locals: { id:      1,
                     code:    code,
                     heading: { text: "Default" } }