---

heading :
    small : ""
    title : "Google"

meta :
    author      : "DryKISS"
    description : ""
    title       : "Google"

see :
    - - "Google Web Plugins"
      - "https://developers.google.com/+/"

---