-##
-# Responsive Offcanvas Nav
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Layout - Calls Wrapper Layout
= wrap_layout "_library/site/bootstrap" do

    -# Section - Above Nav
    -# - if dc.navAbove
    -#    = partial "../_lib/navAbove"

    -# Section - Navbar
    %header
        = partial "./bootstrap/components/navbar"

    -# The main content wrapper
    .main
        CONTENT HERE...