-# Bootstrap Nav List
-# http://twitter.github.io/bootstrap/components.html#navs

-# Locals
-#

-# Usage
-# = partial "#{pathPartials}/bootstrap/navlist"

-# Nav List
%ul.nav.nav-list

    -# Documentation
    %li.nav-header
        Documentation

    %li
        %a{ :href => "/codeblender/documentation/bootstrap-v2.3.1", :target => "_blank" }
            Bootstrap Documentation
    %li
        %a{ :href => "/codeblender/documentation/", :target => "_blank" }
            JQuery
    %li
        %a{ :href => "/codeblender/documentation/", :target => "_blank" }
            Holder
    %li
        %a{ :href => "/codeblender/documentation/", :target => "_blank" }
            FuelUX
    %li
        %a{ :href => "/codeblender/documentation/", :target => "_blank" }
            Mandrill
    %li
        %a{ :href => "/codeblender/documentation/", :target => "_blank" }
            ZendDesk

    -# Partials
    %li.nav-header
        Partials

    %li
        %a{ :href => "/codeblender/bootstrap" }
            Bootstrap
    %li
        %a{ :href => "/codeblender/disqus" }
            Disqus
    %li
        %a{ :href => "/codeblender/facebook" }
            Facebook
    %li
        %a{ :href => "/codeblender/fuelux" }
            Fuel UX
    %li
        %a{ :href => "/codeblender/google" }
            Google
    %li
        %a{ :href => "/codeblender/mobile" }
            Mobile
    %li
        %a{ :href => "/codeblender/site" }
            Site
    %li
        %a{ :href => "/codeblender/twitter" }
            Twitter