-##
-# Top Icon
-#
-# @usage
-# -# Top Icon
-# = codeBlender "top-icon", "molecule"
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

%ul.nav.pull-right.scrollTop{ ng: { controller: "TopIconController as topIcon" } }

    %li

        = link_to( "javascript:;", title: "Scroll to top", ng: { click: "topIcon.gotoTop()" } ) do

            -# Icon
            = codeBlender "icon", "atom", { icon: "fa-chevron-up" }