---

meta :
    description : "Clear button - CodeBlender"
    title       : "Clear button - CodeBlender"

heading :
    title : "Clear button"

todo :
    - - "Provide example"

---

%p
    The clear button provides the functionality to clear an input box. For
    example if a user does a search and wants to start again. Also useful in
    mobile patterns.
