---

meta :
    author      : "DryKISS"
    description : "Facebook video embedded - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Facebook video embedded  - CodeBlender"
    type        : "website"

heading :
    title : "Facebook video embedded"

see :
    - - "Facebook video embedded"
      - "https://developers.facebook.com/docs/plugins/embedded-video-player"

---

-# Default
:ruby
    code = %{codeBlender "comment", "social/facebook/comment"}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }
