-##
-# Password Strength Meter
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

%span.input-group-addon

    %span.password-strength-container

        %span.password-strength-text

            %span.password-text.weak Weak
            %span.password-text.medium Medium
            %span.password-text.strong Strong

        %span.two.icon