---

heading :
    small : ""
    title : "Charts"

meta :
    author      : "DryKISS"
    description : "charts"
    title       : "Charts"

see :
    - - "Metronic Charts"
      - "http://www.keenthemes.com/preview/metronic/theme/templates/admin4/charts_amcharts.html"

todo :

---