-##
-# Google universal analytics
-# Place the locals in the data/google.yaml file
-#
-# @usage
-# -# Google analytics
-# = codeBlender "google-analytics", "atom"
-#
-# @param googleAnalytics    - String - Required - Analytics ID
-# @param googleAnalyticsURL - String - Required - Associated Domain
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category atom
-##

-# Analytics
:javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga( 'create',  '#{ data.google.analytics.code }', '#{ data.google.analytics.url }' );
    ga( 'require', 'displayfeatures' );
    ga( 'send',    'pageview' );