---

meta :
    author      : "DryKISS"
    description : "Google analytics - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Google analytics - CodeBlender"
    type        : "website"

heading :
    small : "Google Analytics site statistics and reporting"
    title : "Analytics"

see :
    - - "Google Analytics"
      - "https://www.google.com/analytics"

todo :
    - - "Put the various ways of including the Analytics code into here"

---

:markdown

    - If the analytics key is created as "locale" then we need to check the
      language file for the analytics code, this is useful for a multi-language
      multi-domain site.

-# Default
:ruby
    code = %{codeBlender "google-analytics", "atom"}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }
