---

author      : "DryKISS"
description : "Calendar"
small       : "Calendar"
title       : "Calendar"

see :
    - - "JQuery Calendar"
      - "http://arshaw.com/fullcalendar/"

todo :
    - - "Complete an example of the calendar"
      - "Calendar"
      - "2014-02-20"
      - { "context" : "info" }

---