---

heading :
    small : "Click to show an expanded area."
    title : "Scaffolding Details partial"

meta :
    author      : "DryKISS"
    description : "The details tag is used to easily implement a click to show more feature."
    title       : "Scaffolding Details partial"

see :
    - - "Details Tag"
      - "http://www.paulund.co.uk/html5-details-tag"

---

-# Heading
= partial "bootstrap/type/heading",
           :locals => { :text => "Default",
                        :tag  => "h2" }

-# Details
= partial "scaffolding/details",
           :locals => { :summary => "Summary",
                        :content => "Content" }

-# Code
:code
    #lang: ruby
    = partial "scaffolding/details",
               :locals => { :summary => "Summary",
                            :content => "Content" }