---

heading :
    small : "Footer element for content panels"
    title : "Footer partial"

meta :
    author      : "DryKISS"
    description : ""
    title       : "Footer partial"

see :
    - - "Bootstrap Sticky Footer"
      - "http://getbootstrap.com/examples/sticky-footer/"
    - - "Subtle Patterns"
      - "http://subtlepatterns.com/"

todo :
    - - "Complete the Footer for the overall site"
      - "Footer"
      - "2014-02-12"
      - { "context" : "info" }

locals :
    - - "array"
      - "array"
      - "optional"
      - "Local array, usually from page data"
    - - "fluid"
      - "bool"
      - "optional"
      - "Whether the footer will be fluid within the parent container"
    - - "footerClass"
      - "string"
      - "optional"
      - "Footer extra classes"

footer :
    -   :title       : "Column 1"
        :icon        : info
        :description : |
            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit...

    -   :title       : "Column 2"
        :icon        : cogs
        :description : |
            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit...

    -   :title       : "Column 3"
        :icon        : facebook
        :extraClass  : social
        :description : |
            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit...

---

/ /* Sticky footer styles
/ -------------------------------------------------- */
/ html {
/   position: relative;
/   min-height: 100%;
/ }
/ body {
/   /* Margin bottom by footer height */
/   margin-bottom: 60px;
/ }
/ #footer {
/   position: absolute;
/   bottom: 0;
/   width: 100%;
/   /* Set the fixed height of the footer here */
/   height: 60px;
/   background-color: #f5f5f5;
/ }


/ /* Custom page CSS
/ -------------------------------------------------- */
/ /* Not required for template or sticky footer method. */

/ .container {
/   width: auto;
/   max-width: 680px;
/   padding: 0 15px;
/ }
/ .container .text-muted {
/   margin: 20px 0;
/ }

/ .container

/ .row

/     .col-md-12

-# Default
:ruby
    code = %{partial "scaffolding/footer",
                 :locals => { :fluid => true }}

= partial "./scaffolding/code",
           :locals => { :id      => "1",
                        :code    => code,
                        :heading => { :small => "",
                                      :text  => "Default" } }

-# Using Local Data with No Background
:ruby
    code = %{partial "scaffolding/footer",
               :locals => { :array       => current_page.data.footer,
                            :fluid       => true,
                            :footerClass => "noBackground text-center" }}

= partial "./scaffolding/code",
           :locals => { :id      => "2",
                        :code    => code,
                        :heading => { :small => "",
                                      :text  => "Local data Footer" } }