---

heading :
    small : "Icons"
    title : "Icons"

meta :
    author      : "DryKISS"
    description : "Icons"
    title       : "Icons"

see :
    - - "Fontawesome"
      - "http://fortawesome.github.io/Font-Awesome/"
    - - "Glyphicons"
      - "http://glyphicons.com/"
    - - "Fontello"
      - "http://fontello.com/"
    - - "Zocial Icons"
      - "http://zocial.smcllns.com/"

todo :
    - - "Make tabs for the different icons sets we utilise - fontawesome and glyphicons for a start"
      - "Icons"
      - "2014-02-20"
      - { "context" : "warning" }
    - - "Present ths icons into usable grids"
      - "Icons"
      - "2014-02-20"
      - { "context" : "warning" }

---