---

heading :
    small : "Components for the overall site"
    title : "Scaffolding Partials"

meta :
    author      : "DryKISS"
    description : "List of Scaffolding components created as Middleman partials."
    title       : "Scaffolding Partials"

---