---

heading :
    small : "Panel that shows the attributes available for each partial"
    title : "Locals"

meta :
    author      : "DryKISS"
    description : ""
    title       : "Locals"

todo :
    - - "Need to be able to list attributes under an Array option - i.e. tab them in"
      - "Locals"
      - "2014-06-03"
      - { "context" : "info" }

---