---

heading :
    small : ""
    title : "Search"

meta :
    author      : "DryKISS"
    description : ""
    title       : "Search"

see :
    - - "Lunr"
      - "http://lunrjs.com/"
    - - "Jekyll Lunr Search"
      - "https://github.com/slashdotdash/jekyll-lunr-js-search"

---

/ -# Form
/ %form.searchForm{ :action     => "",
/                   :method     => "POST",
/                   :novalidate => true }

/     -# Search
/     = partial "./forms/input",
/                :locals => { :help        => true,
/                             :label       => "Search",
/                             :name        => "search",
/                             :placeholder => "Search" }

/     -# Submit
/     = partial "./bootstrap/css/button",
/                :locals => { :context => "primary",
/                             :content => "Submit" }

/ -# Search Results Placeholder
/ .searchResults

/ -# Search Results Underscore Template
/ %script#search_template{ :type => "text/template" }

/     %ul.list-unstyled

/         %li{ :"data-question-id" => "{{ id }}" }

/             %h2
/                 %a{ :href => "#" }
/                     {{ title }}
/             %p
/                 {{ tags }}