-##
-# Google Adsense
-#
-# Locals
-# googleAdsense - String - Required - Publisher ID code
-# height        - Int    - Optional - Height of the Ad Unit
-# responsive    - Bool   - Optional - Whether Ad is responsive if so Width and
-#                                     Height are not required
-# slot          - String - Optional - Slot ID
-# width         - Int    - Optional - Width of the Ad Unit
-#
-# Usage
-# -# Google Adsense
-# = partial "google/adsense"
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Height
- if ! locals[ :height ]
    - height = "60"

-# Slot
- if ! locals[ :slot ]
    - slot = "9670063286"

-# Width
- if ! locals[ :width ]
    - width = "468"

-# Async Google Script
%script{ :async => true,
         :src   => "http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" }

-# If Not Responsive
- if ! locals[ :responsive ]

    %ins{ :class => "adsbygoogle",
          :style => "display:inline-block;width:#{width}px;height:#{height}px",
          :data => { :"ad-client" => data.config.googleAdsense,
                     :"ad-slot"   => slot } }

- else

    %ins{ :class => "adsbygoogle",
          :style => "display:block",
          :data => { :"ad-client" => data.config.googleAdsense,
                     :"ad-format" => "auto",
                     :"ad-slot"   => slot } }

-# Javascript
:javascript
    (adsbygoogle = window.adsbygoogle || []).push({});