---

meta :
    author      : "DryKISS"
    description : "Facebook like box - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Facebook like box - CodeBlender"
    type        : "website"

heading :
    small : "https://developers.facebook.com/docs/plugins/like-box-for-pages"
    title : "Facebook like box"

see :
    - - "Facebook like box"
      - "https://developers.facebook.com/docs/plugins/like-box-for-pages"
    - - "OpenGraph objects"
      - "https://developers.facebook.com/docs/opengraph/using-objects/#creating"
    - - "Maximising distribution"
      - "https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/"

todo :
    - - "Complete the other versions for the like box"

---

-# Default
:ruby
    code = %{codeBlender "like-box", "social/facebook/like-box"}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }

-# Default
:ruby
    code = %{codeBlender "like-box", "social/facebook/like-box"}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Customised" } }

-# Like Box
= codeBlender "like-box", "social/facebook/like-box",
    { colorscheme: "dark",
      force_wall:  "true",
      header:      "false",
      height:      "63",
      href:        "https://www.facebook.com/onlyasmile",
      showBorder:  "false",
      showFaces:   "false",
      stream:      "false",
      width:       "200" }

-# Code
:code
    #lang: ruby
    = codeBlender "like-box", "social/facebook/like-box",
        { colorscheme: "dark",
          force_wall:  "true",
          header:      "false",
          height:      "63",
          href:        "https://www.facebook.com/onlyasmile",
          showBorder:  "false",
          showFaces:   "false",
          stream:      "false",
          width:       "200" }
