---

description : "Textarea form element"
title       : "Textarea form element"

see :
    - - "Bootstrap Forms"
      - "http://getbootstrap.com/css/#forms"

todo :
    - - "Does textarea work with input groups"

---

-# Default
:ruby
    code = %{codeBlender "textarea", "atom", { label: { title: "Textarea" }, name: "textarea" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Different Value and Option", text: "Default" } }
