---

<<<<<<< HEAD
meta :
    description : "Textarea form element - CodeBlender"
    title       : "Textarea form element - CodeBlender"

heading :
    small : "Form element"
    title : "Textarea"
=======
description : "Textarea form element"
title       : "Textarea form element"
>>>>>>> updates

see :
    - - "Bootstrap Forms"
      - "http://getbootstrap.com/css/#forms"

todo :
    - - "Does textarea work with input groups"

---

-# Default
:ruby
    code = %{codeBlender "textarea", "atom", { label: { title: "Textarea" }, name: "textarea" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Different Value and Option", text: "Default" } }
