---

meta :
    author      : "DryKISS"
    description : "Textarea form element - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Textarea form element - CodeBlender"
    type        : "website"

heading :
    small : "Form element"
    title : "Textarea"

see :
    - - "Bootstrap Forms"
      - "http://getbootstrap.com/css/#forms"

---

-# Default
:ruby
    code = %{codeBlender "textarea", "atom", { label: { title: "Textarea" }, name: "textarea" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Different Value and Option", text: "Default" } }