---

<<<<<<< HEAD
meta :
    description : "Facebook quote plugin - CodeBlender"
    title       : "Facebook quote plugin - CodeBlender"

heading :
    title : "Facebook comment"
=======
description : "Facebook quote plugin"
title       : "Facebook quote plugin"
>>>>>>> updates

see :
    - - "Facebook comment"
      - "https://developers.facebook.com/docs/plugins/quote"

---

-# Default
:ruby
    code = %{codeBlender "comment", "social/facebook/comment"}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }
