//
// Article
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category template
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module : 'article';

// Article
//----------------------------------------------------------------------------//
.#{ $module } {

    // Image
    //------------------------------------------------------------------------//
    img {
        width : 100%;
    }

    // Heading
    //------------------------------------------------------------------------//
    &__heading {

        // small {
        //     display : block;
        // }

    }

    // Detail
    //------------------------------------------------------------------------//

    // Table of contents
    //------------------------------------------------------------------------//
    #markdown-toc:before {
        content     : "Table of Contents";
        font-weight : bold;
    }

    ul#markdown-toc {
        float      : right;
        margin     : 0;
        list-style : none;
    }

    // Content
    //------------------------------------------------------------------------//
    &__content {

        // Headings
        //--------------------------------------------------------------------//

        // Paragraph
        //--------------------------------------------------------------------//

        // Table
        //--------------------------------------------------------------------//
        .table {

            tr {
                td {
                    border-top : 0;
                    padding    : 0;
                }
            }

            p {
                margin : 0;
            }

        }

    }

    // Related
    //------------------------------------------------------------------------//

    // Paging
    //------------------------------------------------------------------------//

    // Comments
    //------------------------------------------------------------------------//

}
