//
// Article
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

section.blogArticleList {

    // Article
    //------------------------------------------------------------------------//
    article {

        // Media
        //--------------------------------------------------------------------//
        .media {

            background-color : #fff;
            border-bottom    : 2px solid $gray-light;
            margin-bottom    : 20px;
            padding          : 10px;

            .media-body {

                // display   : inline-block;
                // max-width : 100%;
                position  : relative;

                p {
                    min-height : 25px;
                }

                nav {
                    position : absolute;
                    bottom   : 0;
                    right    : 0;
                }

            }
        }
    }
}