-##
-# Ribbon
-#
-# @usage
-# -# Ribbon
-# = partial "scaffolding/ribbon"
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Ribbon
.ribbon

    -# Banner
    .banner

        -# Text
        .text= string( locals[ :text ] )