---

<<<<<<< HEAD
meta :
    description : "Dropdown navbar - CodeBlender"
    title       : "Dropdown navbar - CodeBlender"

heading :
    title : "Dropdown navbar"
=======
description : "Dropdown navbar"
title       : "Dropdown navbar"
>>>>>>> updates

---

%p
    Provides the correct dropdown markup for the navigation bar
