---

meta :
    author      : "DryKISS"
    description : "Dropdown navbar - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Dropdown navbar - CodeBlender"
    type        : "website"

heading :
    title : "Dropdown navbar"

---

%p
    Provides the correct dropdown markup for the navigation bar
