---

meta :
    author      : "DryKISS"
    description : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    image       : "Image"
    subject     : "DryKISS"
    title       : "CodeBlender - Middleman hand crafted Bootstrap HAML partials"
    type        : "website"

heading :
    small : "Stripe"
    title : "Scaffolding Stripe partial"

see :
    - - "Simple Cart"
      - "https://github.com/wojodesign/simplecart-js"
    - - "Stripe"
      - "https://stripe.com/gb"
    - - "Stripe JS"
      - "https://stripe.com/docs/stripe.js"

todo :
    - - "Handle the Click event in the usual on manner"
      - "Stripe"
      - "2014-02-15"
    - - "Make the Key and Image Global variables"
      - "Stripe"
      - "2014-02-15"
    - - "Handler needs to get the details of the products from date- fields"
      - "Stripe"
      - "2014-02-15"

---

- id = 1

-# Default Alert
:ruby
    code = %{partial "./molecule/thumbnail/thumbnail",
           locals: { array: [ { image:     { data:    "holder.js/252x100" },
                                thumbnail: { caption: "Caption 1",
                                             title:   "Product 1" },
                                button:    { content:    "Buy",
                                             extraClass: "customButton",
                                             href:       "#" } } ] }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { small: "Stripe Test", text: "Default" } }