//
// AmChart
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

#chartdiv {
    background  : #282828 image-url( "charts/chalk/bg.jpg" );
    color       : #fff;
    font-size   : 11px;
    height      : 435px;
    width       : 100%;
}