---

meta :
    description : "Popover contextual information - CodeBlender"
    title       : "Popover contextual information - CodeBlender"

heading :
    small : "Provides contextual information for a user."
    title : "Popover"

see :
    - - "Bootstrap popover"
      - "http://getbootstrap.com/javascript/#popovers"
    - - "Angular UI popover"
      - "https://angular-ui.github.io/bootstrap/#/popover"
    - - "Click over"
      - "http://www.leecarmichael.com/bootstrapx-clickover/examples.html"

---

%p
    Uses the dismissible markup over the button tag, coupled with the focus
    trigger this will close pop-ups on a click away.

%p
    When "auto" is specified, it will dynamically reorient the popover.
    For example, if placement is "auto left", the popover will display to the
    left when possible, otherwise it will display right.

-# Default
:ruby
    code = %{codeBlender "popover", "molecule", { content:   "Default",
                                placement: "auto top",
                                popBody:   "Popover Body Copy",
                                popTitle:  "Popover Default" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Auto positioned popover", text: "Default Popover" } }

-# Right
:ruby
    code = %{codeBlender "popover", "molecule", { content:   "Right",
                                placement: "right",
                                popBody:   "Popover Body Copy",
                                popTitle:  "Popover Right" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Popover Right" } }