-##
-# Dropdown Partial
-#
-# @usage
-# -# Dropdown
-# = partial "./molecule/dropdown/dropdown",
-#            locals: { button: { text: "Dropdown" },
-#                      list:   { array: [ { text: "Action 1", link: { url: "#" } }, { text: "Action 2", link: { url: "#" } } ] } }}
-#
-# @param list       Array of the menu list data
-# @param button     Accepts the full button locals with overides
-# @param extraClass Extraclass for container div | default : dropdown
-# @param ng         Angular elements
-#
-# @category Molecule
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @see      http://www.bootply.com/b4NKREUPkN
-##

-# Variables
- list = locals[ :list ]

-# Button
- button = locals[ :button ] ? button : {}

-# Opening Tag
%div{ class: locals[ :extraClass ] ? extraClass : "dropdown", ng: locals[ :ng ] ? locals[ :ng ] : false }

    -# Add defaults for Button for dropdown action
    - button[ :dropdown ] = true
    - button[ :toggle ]   = "dropdown"
    - button[ :data ]     = { toggle: "dropdown" }
    - button[ :type ]     = "button"
    - button[ :id ]       = button[ :id ] ? button[ :id ] : "dropdownMenu1"
    - button[ :aria ]     = { haspopup: "true", expanded: "true" }

    -# Button Partial
    = partial "./atom/button/button", locals: button

    -# Dropdown List Partial
    = partial "./atom/list/list.dropdown", locals: list