//
// Dropdown
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Dropdown
//----------------------------------------------------------------------------//
.dropdown {

    // Icon
    //------------------------------------------------------------------------//
    &__icon {

        &:before {
            content        : "\f0d7";
            font-family    : FontAwesome;
            margin-left    : 3px;
            vertical-align : middle;
            // right          : 10px;
            // position       : absolute;
        }

    }

}

// Dropup
//----------------------------------------------------------------------------//
.dropup {

    // Icon
    //------------------------------------------------------------------------//
    .dropdown__icon {

        &:before {
            content        : "\f0d8";
            font-family    : FontAwesome;
            margin-left    : 3px;
            vertical-align : middle;
        }

    }

}