---

meta :
    author      : "DryKISS"
    description : "Badge atom, highlights a number for user messaging - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Badge atom, highlights a number for user messaging - CodeBlender"
    type        : "website"

heading :
    title : "Badge"

see :
    - - "Bootstrap Badges"
      - "http://getbootstrap.com/components/#badges"

todo :
    - - "Complete more examples such as in-line in a button"

locals :
    - - "content"
      - "string"
      - "required"
      - "Text content for the badge"

---

-# Code ID
- id = 0

%p
    Badges won't self collapse in Internet Explorer 8 because it lacks support
    for the :empty selector.

-# Badge
:ruby
    code = %{partial "./atom/badge/badge", locals: { text: "88" }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Default" } }