//
// Skype
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Skype
//----------------------------------------------------------------------------//
p#SkypeButton_Call_paraElement a img, p#SkypeButton_Call_paraElement a img {
    margin         :0 !important;
    vertical-align :0 !important
}

div#SkypeButton_Call_paraElement, div#SkypeButton_Call_paraElement {
    display :inline-block;
}