---

heading :
    title : "Team : #{ locals[ :team ][ 2 ] }"

meta :
    title : "Team : #{ locals[ :team ][ 2 ] }"

---

-# Heading
= partial "molecule/heading/heading", locals: { tag: "h2", text: "Team : #{ locals[ :team ][ 2 ] }" }

-# Hero Image - squad shot

-# Manger name

-# Nickname

-# Logo

-# Honours

-# Current league standing

-# Last 5 games

-# Next 5 games

-# Players

-# URL
