---

meta :
    title : "Team : #{ locals[ :team ][ 2 ] }"

---

-# Heading
= partial "bootstrap/type/heading", :locals => { :tag  => "h2", :text => "Team : #{ locals[ :team ][ 2 ] }" }

-# Hero Image

-# Logo

-# Honours

-# Current League Standing

-# Last 5 Games

-# Players

-# URL
