-##
-# Brand
-# Provides Icon, Logo and text if required
-#
-# @usage
-# -# Brand
-# = partial "./molecule/brand/brand"
-#
-# @category molecule
-# @stub     brand
-# @author   Ian Warner <ian.warner@drykiss.com>
-#
-# @todo Uses the same navigation YAML file at moment make this separate
-##

-# Variables
- brand = dataNav.brand

-# Show Heading
- if brand.heading.active

    -# Heading H1
    = partial "./molecule/heading/heading", locals: { icon: brand.icon.icon, href: brand.link.url, text: :"navAbove.title", itemprop: "headline" }

-# Show Image
- if brand.logo.active

    -# Image
    = partial "./atom/image/image",
               locals: { alt:  brand.logo.alt,
                         size: [ brand.logo.width, brand.logo.height ],
                         src:  brand.logo.url ? brand.logo.url : "logo/logo.png" }