-##
-# Footer
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see
-#
-# Locals
-#
-# Usage
-# = partial "mobile/footer"
-#
-# Todo
-# @todo
-##

-# Footer
%footer{ :role => "contentinfo" }

    .navbar.navbar-inverse.navbar-fixed-bottom

        .navbar-inner

            .container

                %ul.nav

                    %li.home-menu.active
                        %a{ href: "#" } Home

                    %li.contact-menu
                        %a{ href: "#contact" } Contact