// Scaffolding
// Creates the CSS for the main elements of the site
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category style
//----------------------------------------------------------------------------//

// Body
//----------------------------------------------------------------------------//
body {
  // Add Padding - required if using the fixed NavBar
  //--------------------------------------------------------------------------//
  // padding-top: 0;
}

// Highlight
//----------------------------------------------------------------------------//
table.table {
  .highlight {
    background-color: white !important;
  }
}

// Cards
//----------------------------------------------------------------------------//
.soccerCard {
  border-color: rgba(0, 0, 0, .2);
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  height: 15px;
  width: 10px;

  &.soccerCard--yellow {
    background-color: yellow;
  }

  &.soccerCard--red {
    background-color: red;
  }
}

// Angular
//----------------------------------------------------------------------------//
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
