//
// Scaffolding
// Creates the CSS for the main elements of the site
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Body
//----------------------------------------------------------------------------//
body {

    // Add Padding - required if using the fixed NavBar
    //------------------------------------------------------------------------//
    padding-top : 0;

}

// Highlight
//----------------------------------------------------------------------------//
table.table  {
    .highlight {
        background-color : white !important;
    }
}

// Highlight
//----------------------------------------------------------------------------//
#markdown-toc:before {
    content     : "Table of Contents";
    font-weight : bold;
}

ul#markdown-toc {
    float      : right;
    margin     : 0;
    list-style : none;
}

// Angular
//----------------------------------------------------------------------------//
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}