//
// Scaffolding
// Creates the CSS for the main elements of the site
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Body
//----------------------------------------------------------------------------//
body {

    // Add Padding - required if using the fixed NavBar
    //------------------------------------------------------------------------//
    padding-top : 0;

}

// Highlight
//----------------------------------------------------------------------------//
table.table  {
    .highlight {
        background-color : white !important;
    }
}

// Cards
//----------------------------------------------------------------------------//
.soccerCard {

    display      : inline-block;
    width        : 10px;
    height       : 15px;
    border-width : 1px;
    border-style : solid;
    border-color : rgba( 0, 0, 0,.2 );

    &.soccerCard--yellow {
        background-color : yellow;
    }

    &.soccerCard--red {
        background-color : red;
    }

}

// Kramdown table of contents
//----------------------------------------------------------------------------//
#markdown-toc:before {
    content     : "Table of Contents";
    font-weight : bold;
}

ul#markdown-toc {
    float      : right;
    margin     : 0;
    list-style : none;
}

// Angular
//----------------------------------------------------------------------------//
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}