---

<<<<<<< HEAD
meta :
    description : "Skype - CodeBlender"
    title       : "Skype - CodeBlender"

heading :
    title : "Skype"
=======
description : "Skype"
title       : "Skype"
>>>>>>> updates

todo :
    - - "Complete more examples"

---

%p Skype widgets and styling
