---

meta :
    author      : "DryKISS"
    description : "Skype - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Skype - CodeBlender"
    type        : "website"

heading :
    title : "Skype"

todo :
    - - "Complete more examples"

---

%p Skype widgets and styling
