---

# Angular
angular :
    controller   : ContactController
    controllerAs : contact

<<<<<<< HEAD
# Meta
meta :
    description : "Contact - CodeBlender"
    title       : "Contact - CodeBlender"

heading :
    title : "Contact Form"
=======
description : "Contact"
title       : "Contact"
>>>>>>> updates

see :
    - - "Example contact page"
      - "http://www.keenthemes.com/preview/metronic_admin/page_contact.html"
    - - "FormSpree"
      - "http://www.formspree.com/"

todo :
    - - "Complete the Social icons addition for this contact page, should include at least Facebook, Google and Twitter"
    - - "Check browser support for HTML5 form elements - pollyfill or do without"
    - - "Need to validate this vis JS and then AJAX the form over to formspree"
    - - "Place an optional simple captcha on the form - recaptcha partial"

---

-# Contact
= codeBlender "contact", "organism"
