---

meta :
    author      : "DryKISS"
    description : "Calendar - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Calendar - CodeBlender"
    type        : "website"

heading :
    small : "Calendar"
    title : "Calendar"

see :
    - - "JQuery Calendar"
      - "http://arshaw.com/fullcalendar/"

todo :
    - - "Complete an example of the calendar"

---