---

meta :
    author      : "DryKISS"
    description : "Image preview - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Image preview - CodeBlender"
    type        : "website"

heading :
    small : "in Popover"
    title : "Form File Image Previewer"

see :
    - - "Bootstrap Supported Controls"
      - "http://getbootstrap.com/css/#tables-responsive"
    - - "W3 Specification"
      - "http://www.w3.org/TR/html-markup/input.file.html"
    - - "Input File - Popover Preview Image"
      - "http://bootsnipp.com/snippets/featured/input-file-popover-preview-image"

---

/ -# Text Type
/ :ruby
/     code = %{codeBlenbder "image-preview", "molecule"}

/ = codeBlender "code", "organism", { code: code, heading: { text: "File Image Preview" } }