---

meta :
    description : "Football referee profile - CodeBlender"
    title       : "Football referee profile - CodeBlender"

heading :
    title : "Football referee profile"

todo :
    - - "API: Capture the referees used in a season from the fixtures.csv - how many yellow and red cards have they given. Create an array of these"
    - - "API: Sort these statistics by points - yellow = 1 - red = 3"

---

Referee
