---

# Meta stub
stub : error404

# Remove navigation
layout : blank

---

-# Heading
= codeBlender "heading", "molecule",
  { tag: "h1", text: "Page Not Found" }

%p
    Sorry, but the page you are looking for doesn’t exist.
    But there’s loads more to see!

-# Button
= codeBlender "button", "atom", { text: "Go Home" }
