-##
-# Facebook Channel File
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-# @see    https://developers.facebook.com/docs/javascript/gettingstarted/#channel
-#
-# Locals
-#
-# Usage
-#
-# Todo
-# @todo Need to place the local into this path
-##

-# Channel
%script{ :src => "//connect.facebook.net/en_GB/all.js" }