---

<<<<<<< HEAD
meta :
    description : "Search - CodeBlender"
    title       : "Search - CodeBlender"
=======
description : "Google search"
layout      : "fullWidth"
title       : "Google search"
>>>>>>> updates

# Resource
see :
    - - "Custom search"
      - "https://www.google.com/cse/all"

---

-# Bootstrap container
.container

    -# Bootstrap row
    .row

        -# Bootstrap column
        .col-md-12

            -# Search Google
            = codeBlender "search-google", "molecule"
