---

meta :
    description : "Search - CodeBlender"
    title       : "Search - CodeBlender"

# Variables
layout : "fullWidth"

# Heading
heading :
    title : "Google search"

# See
see :
    - - "Custom search"
      - "https://www.google.com/cse/all"

---

-# Bootstrap container
.container

    -# Bootstrap row
    .row

        -# Bootstrap column
        .col-md-12

            -# Search Google
            = codeBlender "search-google", "molecule"
