// Portfolio
//
// @usage
// @import "template/portfolio/portfolio";
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category template
//----------------------------------------------------------------------------//

// Portfolio
//----------------------------------------------------------------------------//
.portfolio {

  // All
  //--------------------------------------------------------------------------//
  // &__all {
  //   .mix {
  //     display: none;
  //   }
  // }

  // Filter
  //--------------------------------------------------------------------------//
  &__filter {
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 5px;
  }

  // Grid
  //--------------------------------------------------------------------------//
  &__grid {
    margin-bottom: 20px;
  }

  // Segment
  //--------------------------------------------------------------------------//
  &__segment {

    // Link
    //------------------------------------------------------------------------//
    a {
      color: $text-color;

      &:hover {
        text-decoration: none;
      }
    }

    // Caption
    //------------------------------------------------------------------------//
    .image__caption {

      text-align: center;

      // Caption
      //----------------------------------------------------------------------//
      h3 {
        font-size: 18px;
        margin-top: 10px;
      }
    }
  }
}
