---

meta :
    description : "Google sign in - CodeBlender"
    title       : "Google sign in - CodeBlender"

heading :
    title : "SignIn"

meta :
    author      : "DryKISS"
    description : ""
    title       : "SignIn"

see :
    - - "Sign In"
      - "https://developers.google.com/+/web/signin/"
    - - "Button Attributes"
      - "https://developers.google.com/+/web/signin/reference#button_attr_scope"
    - - "Javascript QuickStart"
      - "https://github.com/googleplus/gplus-quickstart-javascript"
    - - "Authorising"
      - "https://developers.google.com/drive/web/auth/web-client"
    - - "Example"
      - "http://timemapper.okfnlabs.org/create"

---

#gConnect
    #signInButton

#authOps{ style: "display:none" }

    %button#signOut Sign Out

    %button#disconnect Disconnect

    %h2 User's profile information

    #profile

    %h2 User's friends that are visible to this app

    #visiblePeople

    %h2 Authentication Logs

    #authResult
