-##
-# Design Princples
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

%a.anchor#designPrinciples

%section

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :text => "Design Principles",
                            :tag  => "h2" }