-##
-# Iconogrpahy
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

%a.anchor#iconogrpahy

%section

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :text => "Iconogrpahy",
                            :tag  => "h2" }