-##
-# Photography
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

%a.anchor#photography

%section

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :text => "Photography",
                            :tag  => "h2" }