-##
-# Streamers
-#
-# @author Ian Warner <ian.warner@drykiss.com>
-##

-# Streamers
%a.anchor#streamers
%section

    -# Heading
    = partial "./bootstrap/type/heading",
               :locals => { :text => "Streamers",
                            :tag  => "h2" }