-##
-# Badge
-#
-# @usage
-# -# Badge
-# = codeBlender "badge", "atom", { text: "99" }
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category atom
-##

-# Variable
- extraClass = locals[ :extraClass ] ? locals[ :extraClass ] : false

-# Badge
%span.badge{ class: extraClass }= string locals[ :text ]
