-##
-# Badge
-#
-# @usage
-# -# Badge
-# = codeBlender "badge", "atom", { text: "99" }
-#
-# @author   Ian Warner <ian.warner@drykiss.com>
-# @category atom
-##

-# Badge
%span.badge= string locals[ :text ]