---

meta :
    author      : "DryKISS"
    description : "Badge atom, highlights a number for user messaging - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Badge atom, highlights a number for user messaging - CodeBlender"
    type        : "website"

heading :
    title : "Badge"

see :
    - - "Bootstrap badge"
      - "http://getbootstrap.com/components/#badges"

todo :
    - - "Complete more examples such as in-line in a button"

locals :
    - - "content"
      - "string"
      - "required"
      - "Text content for the badge"

---

%p
    Badges won't self collapse in Internet Explorer 8 because it lacks support
    for the :empty selector.

-# Badge
:ruby
    code = %{codeBlender "badge", "atom", { text: "88" }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }