---

heading :
    small : "http://getbootstrap.com/css/#typetype"
    title : "Bootstrap Type"

meta :
    author      : "Ian Warner"
    description : "Bootstrap Type"
    title       : "Bootstrap Type"

---