---

meta :
    author      : "DryKISS"
    description : "Football - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Football - CodeBlender"
    type        : "website"

heading :
    title : "Football"

todo :
    - - "Organise the file and code a little better for maintainability"
    - - "Create ruby files for the following Table Matrix Fixture Team Player Referee * Venue"
    - - "Create correct crud methods in the files - which inherit from Football.rb i.e. for Teams - I may need to get Teams by Division or Season or both"
    - - "Think about grouping and flexibility of the methods"

---
