---

meta :
    description : "Cart - CodeBlender"
    title       : "Cart - CodeBlender"

heading :
    small : "Simple cart shopping cart"
    title : "Cart"

see :
    - - "Simple Cart"
      - "https://github.com/wojodesign/simplecart-js"
    - - "E-Commerce Template"
      - "http://www.keenthemes.com/preview/metronic_ecommerce/shopping-cart.html"

todo :
    - - "Add thumbnail image to the columns"
    - - "Change quantity to a spinner"
    - - "Price should be in a currency"
    - - "Make remove an icon in the actions column to the right"
    - - "Add a total, shipping and tax calculations under the table"
    - - "Add checkout and continue shopping buttons to the page also"

---

-# Heading
= codeBlender "heading", "molecule", { tag: "h2", text: "Simple Cart" }

-# Simple Cart Default Cart
.simpleCart_items HERE