---

meta :
    author      : "DryKISS"
    description : "Football matrix of soccer results - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Football matrix of soccer results - CodeBlender"
    type        : "website"

heading :
    title : "Football matrix"

todo :
    - - "Want to use the nickname for the team instead of the full name so it fits"

---

-# Football matrix
= partial "football/matrix/matrix"