//
// Blog Details
//
// @author Ian Warner <ian.warner@drykiss.com>
//----------------------------------------------------------------------------//

// Blog Details
//----------------------------------------------------------------------------//
.blogDetails {

    font-size : 12px;

    i {
        vertical-align : text-top;
    }

    .label {
        font-size : 12px;
        padding   : 4px;
    }

    hr {
        padding-bottom : 5px;
    }
}