//
// Tags
//
// @author Ian Warner <ian.warner@drykiss.com>
//--------------------------------------------------------------------------- //

// Tags
//--------------------------------------------------------------------------- //
.tags {

    a:not( :first-child ) {
        margin-left : 10px;
    }

    margin-bottom : 10px;
}

// Tag Cloud
//--------------------------------------------------------------------------- //
.tagCloud {
    margin-bottom : 10px;
}