---

description : "Thumbnail"
title       : "Thumbnail"

bar :
    - sup  : Expires
      text : 485 Days
    - sup  : Offer Type
      text : Cashback
    - icon : bookmark
      href : "#bookmark"

see :
    - - "Bootstrap Thumbnail"
      - "http://getbootstrap.com/components/#thumbnails"

todo :
    - - "Need to sort out the zoomix"
    - - "Path to image not working"
    - - "Needs revisiting as a component so it allows for all the possibilities of usage"
    - - "Need to link whole image to destination"
    - - "Add image Ribbon to thumbnail"
    - - "Options to remove thumbnail border"
    - - "Provide the ability to show just one thumbnail without the row etc"
    - - "Put this into BEM"
    - - "Do I want responsive image to be the default for these"

---

-# Default Thumbnail
:ruby
    code = %{codeBlender "thumbnail", "molecule", { array: [ { image: { extraClass: "img-responsive", src: loremPixel('300/200') }, thumbnail: {} },
                                         { image: { extraClass: "img-responsive", src: loremPixel('300/200') }, thumbnail: {} },
                                         { image: { extraClass: "img-responsive", src: loremPixel('300/200') }, thumbnail: {} },
                                         { image: { extraClass: "img-responsive", src: loremPixel('300/200') }, thumbnail: {} },
                                         { image: { extraClass: "img-responsive", src: loremPixel('300/200') }, thumbnail: {} } ] }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Just an array of images", text: "Default" } }

-# Linked Thumbnail
:ruby
    code = %{codeBlender "thumbnail", "molecule", { array: [ { image:     { extraClass: "img-responsive", src: loremPixel('300/200') },
                                           thumbnail: { href: "footer/background1.png" } } ] }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Provide an HREF for the image", text: "Linked Thumbnail" } }

-# Code
:ruby
    code = %{codeBlender "thumbnail", "molecule", { array: [ { image:     { extraClass: "img-responsive", src: loremPixel('300/200') },
                                           thumbnail: { caption: "Caption", href: "HERE" } } ] }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Push an HTML element into the Tumb array", text: "Captioned Thumbnail" } }

-# Zoomix Thumbnail
:ruby
    code = %{codeBlender "thumbnail", "molecule", {  array: [ { image:     { extraClass: "img-responsive", src: loremPixel('300/200') },
                                            thumbnail: { zoomix: true,
                                                         href:   "footer/background1.png",
                                                         data:   { toggle: "lightbox" } } } ] }}

-# Code
= codeBlender "code", "organism", { code: code, heading: { small: "Provide a Gallery", text: "Zoomix Thumbnail" } }
