/*          Scaffolding
--------------------------------------------------- */

// Body
// -------------------------

body {
}


// Links
// -------------------------

a i {
    font-size      : 12px;
    vertical-align : middle;
    display        : inline-block;
    padding-left   : 2px;
}

a, a:hover {
    text-decoration : none;
}