/*          Variables
--------------------------------------------------- */

// Jumbotron
// -------------------------

$startColor : red;
$endColor   : teal;

// Links
// -------------------------

$linkColor: #ed293b !default;

$alert-padding : 10px;