---

description : "Local storage"
title       : "Local storage"

see :
    - - "Local storage"
      - "http://diveintohtml5.info/storage.html"
    - - "Saving Images into Local Storage"
      - "https://hacks.mozilla.org/2012/02/saving-images-and-files-in-localstorage/"

---

-# Heading
= codeBlender "heading", "molecule", { text: "Export", tag: "h2" }

-# Button
= codeBlender "button", "atom", { context: "primary", text: "Download", extraClass: "downloadButton" }

-# Heading
= codeBlender "heading", "molecule", { text: "Import", tag: "h2" }

%input.import{ type: "file" }
