---

heading :
    small : "Meta Partials"
    title : "Meta Partials"

meta :
    author      : "Ian Warner"
    description : "Meta Partials"
    title       : "Meta Partials"

todo :
    - - "Put See in the right places"
      - "Mobile"
      - "2014-02-24"
      - { "context" : "info" }

---

FEED SEE
-# @see    http://en.wikipedia.org/wiki/Atom_(standard)
-# @see    http://atomenabled.org/developers/syndication/
-# @see    http://www.syndic8.com/
-# @see    http://feedburner.google.com/fb/a/myfeeds

Google Meta Tags
-# @see    https://developers.google.com/+/web/snippet/?hl=en
-# @see    http://diveintohtml5.info/extensibility.html
-# @see    http://schema.org/docs/gs.html

Twitter Tags
-# @see    https://dev.twitter.com/docs/cards
-# @see    http://davidwalsh.name/twitter-cards