---

meta :
    author      : "DryKISS"
    description : "Google Adsense - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Google Adsense - CodeBlender"
    type        : "website"

heading :
    small : "Google Adsense advertising for publishers"
    title : "Adsense"

see :
    - - "Google Adsense"
      - "http://www.google.com/adsense/start/"
    - - "Google Adsense"
      - "https://www.google.com/adsense"
    - - "Implementation Guide"
      - "https://support.google.com/adsense/answer/181947?ctx=as2&rd=2&ref_topic=29033"
    - - "Managing Ads"
      - "https://support.google.com/adsense/topic/3384747?hl=en&ref_topic=1250102"


todo :
    - - "Complete instructions"
    - - "List the available ad types - check the old Zend stuff too"
    - - "Do not require the JS for every advert I think."
    - - "Javascript should probably placed in the JS file and loaded after the last button"

---

- id = 1

:markdown

    Adsense instructions

-# Default
:ruby
    code = %{partial "./atom/google-adsense/google-adsense", locals: { slot: 9670063286, width: 468, height: 60 }}

-# Code
= partial "./organism/code/code", locals: { id: id += 1, code: code, heading: { text: "Default" } }