---

meta :
    author      : "DryKISS"
    description : "Football player profile - CodeBlender"
    image       : "Image"
    subject     : "DryKISS"
    title       : "Football player profile - CodeBlender"
    type        : "website"

heading :
    title : "Football player profile"

see :
    - - "Player profile"
      - "http://www.readingfc.co.uk/team/player-profile/"

todo :
    - - "Parse the names of the players in the following fields scorers a, scorers b, yellow cards a, yellow cards b, red cards a, red cards b cumulate the totals and sub-totals in an array"
    - - "Correlate the player statistics, method to get the bad boy players yellow and red cards - yellow = 1 point - Red = 3."
    - - "Group by division, season, team as per most methods."
    - - "Methods to access players from the Fixtures.csv - correlate goals and cards for # each."
    - - "Totals should be kept for the different competitions - i.e. League & Cup."
    - - "Each Fixture has scope to record players names for goals and cards"
    - - "Need a limit so we can get top ten scorers for the league, cup and total."

---

Player