---

description : "Facebook page plugin"
title       : "Facebook page plugin"

see :
    - - "Facebook page plugin"
      - "https://developers.facebook.com/docs/plugins/page-plugin"

---

-# Default
:ruby
    code = %{codeBlender "page-plugin", "social/facebook/page-plugin", { href: "https://www.facebook.com/Deliveroo/", title: "Deliveroo" } }

-# Code
= codeBlender "code", "organism", { code: code, heading: { text: "Default" } }
