//
// Tag Cloud
//
// @usage
// @import "~molecule/tag-cloud/tag-cloud";
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category molecule
//----------------------------------------------------------------------------//

// Module
//----------------------------------------------------------------------------//
$module : 'tagCloud';

// Tag Cloud
//----------------------------------------------------------------------------//
.#{ $module } {

    margin-bottom : 30px;

    // Label
    //------------------------------------------------------------------------//
    .label {
        border-radius : 0;
        display       : inline-block;
        line-height   : 140%;
    }

    // Tags
    //------------------------------------------------------------------------//
    &__tags {
    }

    // Tag
    //------------------------------------------------------------------------//
    &__tag {
        margin-bottom  : 2px;
        margin-right   : 5px;
        vertical-align : text-top;
    }

    // Heading
    //------------------------------------------------------------------------//
    &__heading {
        border-bottom  : 1px solid #797878;
        color          : $brand-primary;
        padding-bottom : 5px;
    }

}
