//
// Tag Cloud
//
// @usage
// @import "~molecule/tag-cloud/tag-cloud";
//
// @author   Ian Warner <ian.warner@drykiss.com>
// @category molecule
//----------------------------------------------------------------------------//

section {

    // Tag Cloud
    //------------------------------------------------------------------------//
    .tagCloud {

        // Tags
        //--------------------------------------------------------------------//
        &__tags {

            border-top    : 1px solid $gray-lighter;
            border-bottom : 1px solid $gray-lighter;
            padding       : 10px 0;
            margin        : 10px 0;

        }

    }

}
