---

<<<<<<< HEAD
meta :
    description : "Subnavigation - CodeBlender"
    title       : "Subnavigation - CodeBlender"

heading :
    title : "Subnavigation"
=======
description : "Subnavigation"
title       : "Subnavigation"
>>>>>>> updates

see :
    - - "Responsive menu"
      - "http://bootsnipp.com/snippets/featured/responsive-navigation-menu"

todo :
    - - "Need to check that this works with relative links or directory indexes"
    - - "If page refreshes directly on hash of menu then it does not expand"
    - - "Sub menu should not be active"
    - - "Redo the CSS so its in BEM - need to pass through the relevant CSS classes to the List Group partial"
    - - "Get the affix working again"
    - - "Sort out the javascript controlling the submenu hide and show"
    - - "Create the submenu sections again"
    - - "Create a documentation page on codeblender for this partial"
    - - "Should put this into an aside tag also"
    - - "See what micro formats and accessibility we need on this partial"
    - - "Add scroll spy to this also, if the submenu happens to be link reference to the current page"
    - - "On pagination the active sub navigation is lost - fix this"

---

Subnavigation is created by looping through the folders created and pulling
out sub folders - so its imperative that the conventions are followed.
